<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <!--link rel="stylesheet" href="view_css.css" /-->
    <link rel="stylesheet" href="my_company_css.css" />
    <link rel="stylesheet" href="my_select_css.css" />
    <link rel="stylesheet" href="time_table_css.css" />
    <link rel="stylesheet" href="list_css.css" />
    <link rel="stylesheet" href="fonts_css.css" />
    <link rel="stylesheet" href="textarea_css.css" />
    <link rel="stylesheet" href="Switch_css.css" />
    <link rel="stylesheet" href="buttons_css.css" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />
    <!--Header-->
    <%- include('../partials/header'); %>
  </head>

  <body>
    <div class="has_sidebar asap-condensed-regular">
      <%- include('../partials/sidebar'); %>
      <div class="has_sidebar_main_content">
        <h1 class="asap-condensed-extralight">Calendar</h1>
        <% if(user.type =='user'){%>
          <div class="container glass_effect_2" style="display: flex;justify-content: space-around;align-items: center;width:50%;margin-left: 25%;">
            <button onclick="window.location.href='/calendar?id=<%=user.company%>&timetable=month&timetable_user=all'" style="width: 80%;" class="button_1">Calendar</button>
            <button onclick="window.location.href='/payroll?comp=<%=user.company%>'" class="button_5">Payroll</button>
            <button onclick="window.location.href='/pick-accountant'" class="button_5">Accountant</button>
          </div>
          <%}%>
        <form action="/calendar" method="POST" id="view_form" class="glass_effect_2" style="display: none;">
          <input type="text" id="obj_id" name="obj_id" style="display: none" />
          <input type="text" name="action" id="action" />
          <div >
            <input name="day_data_input_user_id" id="day_data_input_user_id" value="all"/>
            <input name="day_data_input_user_filter" id="day_data_input_user_filter" value="all"/>
            <input name="day_data_input_node_id" id="day_data_input_node_id" />
            <input name="calendar_view_selection" id="calendar_view_selection" />

            From :
            <input type="date" name="day_data_input_date" id="day_data_input_date" />
            To :
            <input type="date" name="day_data_input_date_to" id="day_data_input_date_to" />

            <input name="time_table_hours_start" id="time_table_hours_start" type="number" max="23" min="0" />
            :
            <input name="time_table_minutes_start" id="time_table_minutes_start" type="number" max="59" min="0" />

            To
            <input name="time_table_hours_end" id="time_table_hours_end" type="number" max="23" min="0" />
            :
            <input name="time_table_minutes_end" id="time_table_minutes_end" type="number" max="59" min="0" />
            
            <input name="time_table_type" id="time_table_type" value="61"/>

            <input name="time_table_notes" type="text" id="time_table_notes" />
          </div>
          
        </form>

        <div id="clients">
          <div id="time_table_div">
            <div id="calendar_div" class="asap-condensed-regular glass_effect_1">
              <div id="filter_div">
                <button class="calendar_date_reage_btn" id="tt_day">Day</button>
                <button class="calendar_date_reage_btn" id="tt_week">Week</button>
                <button class="calendar_date_reage_btn" id="tt_month">Month</button>
                <input id="day_picker" type="date" />
                <select id="user_select" style="width: 200px;">
                  <option value="all">All</option>
                </select>
              </div>
              <div id="calendar_header">
                <div id="selected_year"></div>
                <div id="selected_month"></div>
              </div>

              <div id="day" class="day now day_date"></div>
              <div id="week" class="week">
                <div class="days">
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                  <div class="day week_date"></div>
                </div>
              </div>
              <div id="month" class="month">
                <div class="days">
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                  <div class="week">
                    <div class="days">
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                      <div class="day month_date"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="day_data">
          <div id="day_data_header">
            <div>
              <img id="close_btn" src="x.svg" />
            </div>
            <div id="day_data_date_time">
              <div><input type="date" id="dummy_day_data_input_date" class="dummy asap-condensed-regular" /> <input type="date" class="dummy asap-condensed-regular" /></div>
              <div>
                <input class="dummy asap-condensed-regular" type="number" max="23" min="0" placeholder="0" />
                :
                <input class="dummy" type="number" max="59" min="0" placeholder="0" />

                -
                <input class="dummy" type="number" max="23" min="0" placeholder="0" />
                :
                <input class="dummy" type="number" max="59" min="0" placeholder="0" />

                
              </div>
              
            </div>
          </div>

          <div id="day_data_body">
            <div id="day_data_users">
              <div>All <input class="all_selected_users" type="checkbox" value="all" /></div>
            </div>
            <div>
              <select id="time_table_type_select" style="width: calc(100% - 10px);padding: 5px; border-radius: 5px;" class="my_select">
                <option value=61>Work</option>
                <option value=62>Leave</option>
                <option value=63>Leave Request</option>
              </select>
              <label for="time_table_notes">Notes</label><br />
              <div id="textarea_container">
                <textarea class="dummy" placeholder="Notes..."></textarea>
              </div>
            </div>
          </div>
          <div id="day_data_footer">
            <div>
              <button id="delete_event" type="button">Delete</button>
            </div>
            <div>
              <button id="time_table_submit_btn">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="JSFrontEndFunctions.js"></script>
  <script type="text/javascript" src="JSCalendarFunctions.js"></script>
  <script type="text/javascript" src="JSDocumentFunctions.js"></script>

  <script>
    message_from_url(window.location.href);
    
    $(document).ready(function () {
      var selected_date = get_today();
      var calendar_spectrum = "-";
      const users = JSON.parse(`<%- JSON.stringify(users) %>`);
      const nodes = JSON.parse(`<%- JSON.stringify(nodes) %>`);
      const loged_user = JSON.parse(`<%- JSON.stringify(user) %>`);

      if($("#status").val()==1){
        $("#status_label").html("Active")
        $("#status_mark").addClass('active')
      }

      //$("#clients").hide();

      $("#day").hide();
      $("#week").hide();
      //$("#month").hide();

      $("#day_picker").hide();
      $("#month_picker_month").hide();
      $("#month_picker").hide();


      $("#day_data").hide();

      $("#time_table_type_select").change(function () {
        $("#time_table_type").val($("#time_table_type_select").val());
      });


      const params = new URLSearchParams(window.location.search);
      var queryParams = {};
      for (const [key, value] of params.entries()) {
        queryParams[key] = value;
      }

      $("#obj_id").val(queryParams.id);
      $("#obj_type2").val(queryParams.type2);
      $("#obj_type").val(queryParams.type);
      

      for (client of users) {
        $("#user_select").append(`<option value="${client._id}">${client.firstName} ${client.lastName}</option>`);
        $("#day_data_users").append(`<div>${client.firstName} ${client.lastName} <input class="all_selected_users" type="checkbox" value="${client._id}"></div>`);
      }
      if (queryParams.timetable_user) {
        $("#user_select").val(queryParams.timetable_user);
        $("#day_data_input_user_id").val(queryParams.timetable_user);
        $("#day_data_input_user_filter").val(queryParams.timetable_user);
      } else {
        $("#user_select").val("all");
      }

      if (queryParams.refresh) {
        window.location = "/calendar?id=" + queryParams.id + "&timetable=" + queryParams.timetable + "&timetable_user=" + $("#user_select").val();
      }

      

        $("#calendar_view_selection").val(queryParams.timetable);
        $("#tt_" + queryParams.timetable).addClass("selected");
        //day_week_month("month");
        $("#day_picker").val(selected_date);
        show_calendar(queryParams.timetable);

      $(".go_to_btn").click(function () {
        event.preventDefault();
        var url_page, url_type, url_id;
        if (queryParams.type == "Warehouse") {
          url_page = "items";
          url_id = $(this).attr("id");
        }
        window.location = "/view?type=" + url_page + "&id=" + url_id;
      });

      $(".calendar_date_reage_btn").click(function () {
        let type = $(this).attr("id").replace("tt_", "");
        day_week_month(type);
      });

      $("#user_select").change(function () {
        window.location = "/calendar?id=" + queryParams.id + "&timetable=" + queryParams.timetable + "&timetable_user=" + $("#user_select").val();
      });

      function day_week_month(input) {
        window.location = "/calendar?id=" + queryParams.id + "&timetable=" + input + "&timetable_user=" + $("#user_select").val();
      }

      function show_calendar(input) {
        if (input == "month") {
          $("#day").hide();
          $("#week").hide();
          $("#month").show();
        } else if (input == "week") {
          $("#day").hide();
          $("#week").show();
          $("#month").hide();
        } else if (input == "day") {
          $("#day").show();
          $("#week").hide();
          $("#month").hide();

          $("#day_picker").show();
        }

        $("#day_picker").show();
        $("#day_picker").val(selected_date);
        calendar_spectrum = input;
        pick_date();

        put_data_on_calendar("all");
      }

      function pick_date() {
        selected_date = $("#day_picker").val();
        show_selected_month_year(selected_date);
        put_dates(calendar_spectrum, $("#day_picker").val());
      }

      $("#close_btn").click(function (event) {
        event.preventDefault();
        $("#day_data").hide();
      });

      $("#time_table_submit_btn").click(function (event) {
        event.preventDefault();
        let c_e_o = check_event_overlap($("#day_data_input_user_id").val(), $("#day_data_input_date").val(), $("#time_table_hours_start").val(), $("#time_table_minutes_start").val(), $("#time_table_hours_end").val(), $("#time_table_minutes_end").val(), nodes);
        if (c_e_o == 0 && $("#day_data_input_node_id").val() == "") {
          if (confirm("This time overlaps with another event")) {
            if (confirm("This will replace existing with new are you sure ?")) {
              $("#view_form").submit();
            }
          }
        } else if (($("#day_data_input_user_id").val() == "all" || $("#day_data_input_user_id").val() == "" || $("#day_data_input_date").val() == "" || $("#day_data_input_date_to").val() == "" || $("#time_table_hours_start").val() == "" || $("#time_table_minutes_start").val() == "" || $("#time_table_hours_end").val() == "" || $("#time_table_minutes_end").val() == "") && $("#day_data_input_node_id").val() == "") {
          alert("missing data");
        } else {
          $("#view_form").submit();
        }
      });

      $("#delete_event").click(function (event) {
        event.preventDefault();
        $("#action").val("time_table_delete");
        $("#view_form").submit();
      });

      function show_selected_month_year(date) {
        $("#selected_month").text(date.split("-")[1]);
        $("#selected_year").text(date.split("-")[0]);
      }

      function put_data_on_calendar(user) {
        var days = $(".day.now");
        var selected_month = $("#selected_month").text();
        var selected_year = $("#selected_year").text();
        var cal_days = [];
        var selected_user = "all";
        if (queryParams.timetable_user) {
          selected_user = queryParams.timetable_user;
        }
        

        days.each(function (index, element) {
          cal_days.push(parseInt($(element).text()));
        });
        for (n of nodes) {
          if (selected_year == new Date(n.data.date).getFullYear()) {
            if (selected_month == new Date(n.data.date).getMonth() + 1) {
              if (cal_days.includes(new Date(n.data.date).getDate())) {
                const index = cal_days.findIndex((day) => day === new Date(n.data.date).getDate());
                // Get the events container div inside the selected day element
                var eventsContainer = $(days[index]).find(".events_container");
                if (selected_user == n.user._id || selected_user == "all") {
                  var type = 'work'
                  if(n.type2==62){
                    type = 'leave'
                  }
                  else if(n.type2==63){
                    type = 'leave_req'
                  }
                  var day_div = "<div class='day_line "+type+"' id='" + n._id + "'>" + "<div class=event_id style='display:none'>" + n.user._id + "</div>" + "<div>" + n.user.firstName + " " + n.user.lastName + "</div>" + "<div>" + (n.data.hour_start < 10 ? "0" : "") + n.data.hour_start + " : " + (n.data.minutes_start < 10 ? "0" : "") + n.data.minutes_start + " - " + (n.data.hour_end < 10 ? "0" : "") + n.data.hour_end + " : " + (n.data.minutes_end < 10 ? "0" : "") + n.data.minutes_end + "</div>";
                  if (n.text) {
                    day_div = day_div + "<div> Notes : <br>" + n.text + "</div>";
                  }

                  day_div = day_div + "</div>";

                  eventsContainer.append(day_div);
                }
              }
            }
          }
        }
        var today = new Date();
        days.each(function (index, element) {
          var day = parseInt($(element).attr('id').replace('add_event_for_',''));
          var month = parseInt(selected_month);
          var year = parseInt(selected_year);
          if (day === today.getDate() && month === today.getMonth() + 1 && year === today.getFullYear()) {
            $(element).addClass("today");
          }
        });
      }

      $("#day_picker").change(function () {
        pick_date();
      });

      $(".day_line").click(function (event) {
        event.stopPropagation();
        //$("#day_data_users").hide();
        if(loged_user.type =='accountant' || loged_user.companyOwner == 1){
          view_edit_event($(this).attr("id"), nodes, users);
          $(".dummy").eq(1).hide();
        }
      });

      $("#time_table_hours_end").on("blur", function () {
        let start = $("#time_table_hours_start").val();
        if ($("#time_table_hours_end").val() < start) {
          alert("time_table_hours_start < time_table_hours_end");
          $("#time_table_hours_end").val(parseInt(start) + 1);
        }
      });

      $(".all_selected_users").change(function (event) {
        var checkboxes = $(".all_selected_users");

        if ($(this).val() == "all") {
          var set_value = false;
          if ($(this).prop("checked")) {
            set_value = true;
          }
          for (c of checkboxes) {
            $(c).prop("checked", set_value);
          }
        }

        var selected_users = "";
        for (c of checkboxes) {
          if ($(c).prop("checked") == true) {
            selected_users = selected_users + $(c).val() + ";";
          }
        }
        selected_users = selected_users.replace("all;", "").slice(0, -1);
        $("#day_data_input_user_id").val(selected_users);
      });

      $(".dummy").change(function (event) {
        const dummys = $(".dummy");
        $("#day_data_input_date").val(dummys.eq(0).val());
        $("#day_data_input_date_to").val(dummys.eq(1).val());

        var start = { hour: parseInt(dummys.eq(2).val(), 10), minutes: parseInt(dummys.eq(3).val(), 10) };

        if (!start.hour) start.hour = 0;
        if (!start.minutes) start.minutes = 0;

        dummys.eq(2).val(start.hour);
        dummys.eq(3).val(start.minutes);

        var end = { hour: parseInt(dummys.eq(4).val(), 10), minutes: parseInt(dummys.eq(5).val(), 10) };

        if (!end.hour) end.hour = 0;
        if (!end.minutes) end.minutes = 0;

        let total_start = start.hour * 60 + start.minutes;
        let total_end = end.hour * 60 + end.minutes;

        if (total_end <= total_start) {
          end.hour = start.hour + 1;
          end.minutes = 0;
        }

        dummys.eq(4).val(end.hour);
        dummys.eq(5).val(end.minutes);

        $("#time_table_hours_start").val(start.hour);
        $("#time_table_minutes_start").val(start.hour);
        $("#time_table_hours_end").val(end.hour);
        $("#time_table_minutes_end").val(end.minutes);
        $("#time_table_notes").val(dummys.eq(6).val());
      });

      function check_event_overlap(id, date, s_hour, s_min, e_hour, e_min, nodes) {
        // Convert input start and end times to minutes since midnight
        const inputStartTime = parseInt(s_hour) * 60 + parseInt(s_min);
        const inputEndTime = parseInt(e_hour) * 60 + parseInt(e_min);

        var isDateMatching = false;
        var isTimeOverlapping = false;

        for (node of nodes) {
          const nodeDate = formatDate(new Date(node.data.date));
          const nodeStartTime = parseInt(node.data.hour_start) * 60 + parseInt(node.data.minutes_start);
          const nodeEndTime = parseInt(node.data.hour_end) * 60 + parseInt(node.data.minutes_end);

          //id
          isIdMatching = node.user._id == id;

          //date
          isDateMatching = nodeDate == formatDate(new Date(date));

          //time
          if (inputStartTime >= nodeStartTime && inputStartTime < nodeEndTime) {
            isTimeOverlapping = true;
          } else if (inputStartTime < nodeStartTime && inputEndTime <= nodeEndTime) {
            isTimeOverlapping = true;
          } else if (inputEndTime < nodeEndTime) {
            isTimeOverlapping = true;
          }

          if (isIdMatching && isTimeOverlapping && isDateMatching) {
            return 0;
          }
        }
        return 1;
      }


      $(".day.now").click(function (event) {
        //if(loged_user.type =='accountant' || loged_user.companyOwner == 1){
          let user_id = $("#user_select").val();
          $("#day_data_users").show();

          // Generate the date string
          let year = $("#selected_year").text();
          let month = $("#selected_month").text().padStart(2, "0");
          let day = $(this).attr("id").replace("add_event_for_", "").padStart(2, "0");
          let date = `${year}-${month}-${day}`;

          new_event(date, user_id);
          if(loged_user.type == 'user'){
            if(loged_user.companyOwner == 0){
                $('#time_table_type_select option[value="61"]').remove();
                $('#time_table_type_select option[value="62"]').remove();
                $('#time_table_type_select').val(63);
                $("#time_table_type").val(63);
            }
          }
      });


    });
  </script>
</html>
