<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <!--Header-->
        <%- include('../partials/header'); %>
    </head>
    <style>
        .selected{
            background-color: red;
        }
    </style>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <h1>Create</h1>
                <div id="create_menu">
                    <button class = "create_menu_btn" id="warehouses">Αποθήκη</button>
                    <button class = "create_menu_btn" id="items">Είδος</button>
                    <button class = "create_menu_btn" id="series">Σειρά</button>
                    <button class = "create_menu_btn" id="persons">Άτομο</button>
                </div>
                <form action="/create" method="POST" id="create_form">
                    <input type="text" id="create_type"  name="create_type">
                    <div id = 'warehouses_div' class="create_div">
                        <label for="warehouse_title">Title : </label>
                        <input type="text" id="warehouse_title" name="warehouse_title" class="required warehouse">
                        <br>
                        <label for="warehouse_address">Address : </label>
                        <input type="text" id="warehouse_address" name="warehouse_address" class="required warehouse">
                    </div>
                    <div id = 'items_div' class="create_div">
                        <label for="items_title">Title : </label>
                        <input type="text" id="items_title" name="items_title" class="required items">
                        <br>
                        <label for="items_description">Description : </label>
                        <br>
                        <textarea id = "items_description" name = "items_description" class="required items"></textarea>
                        <br>
                        <label for="items_price_r">Price Retail : </label>
                        <input type="number" id="items_price_r" name="items_price_r" min="0.01" value="0.01" class="required items">
                        <br>
                        <div>
                            Discount for Retail : <input type="number" id="items_price_r_disc" name="items_price_r_disc" min="0" value="0" class="required items disc retale" > €<br>
                            Discount for Retail : <input type="number" id="items_price_r_disc_p" name="items_price_r_disc_p" min="0" value="0" max = "100" class="required items percent retale"> %
                        </div>                        
                        <label for="items_tax_r">Tax for Retail : </label>
                        <input type="number" id="items_tax_r" name="items_tax_r" min="0" max = "100" class="required items" min="0" value="0" max = "100" class="required items">
                        <br>
                        <label for="items_price_w">Price Wholesale : </label>
                        <input type="number" id="items_price_w" name="items_price_w" min="0.01" value="0.01" max = "100" class="required items">
                        <div>
                            Discount for Wholesale : <input type="number" id="items_price_w_disc" name="items_price_w_disc" min="0" value="0" class="required items disc wholesale"> €<br>
                            Discount for Wholesale : <input type="number" id="items_price_w_disc_p" name="items_price_w_disc_p" min="0" value="0" max = "100" class="required items percent wholesale"> %
                        </div>  
                        <label for="items_tax_w">Tax for Wholesale : </label>
                        <input type="number" id="items_tax_w" name="items_tax_w" min="0" max = "100" class="required items" min="0" value="0" max = "100" class="required items">
                    </div>
                    <div id ='series_div' class="create_div">
                        <label for="series_title">Title : </label>
                        <input type="text" id="series_title" name="series_title"  class="required series">
                        <label for="series_acronym">Acronym : </label>
                        <input type="text" id="series_acronym" name="series_acronym"  class="required series">
                        <label for="series_type">Type : </label>
                        <select name="series_type"  class="required series">
                            <option value="buy">Buy</option>
                            <option value="sale">Sales</option>
                        </select>
                        <div>Loked : <input type="checkbox" name="series_sealed"></div>
                    </div>
                    <div id ='persons_div' class="create_div">
                        <label for="person_firstName">First Name : </label>
                        <input type="text" id="person_firstName" name="person_firstName"  class="required person">
                        <label for="person_lastName">Last Name : </label>
                        <input type="text" id="person_lastName" name="person_lastName"  class="required person">
                        <label for="person_email">Email : </label>
                        <input type="email" id="person_email" name="person_email"  class="required person">
                        <label for="person_phone">Phone : </label>
                        <input type="number" id="person_phone" name="person_phone"  class="required person">
                        <label for="person_vat">VAT : </label>
                        <input type="number" id="person_vat" name="person_vat"  class="person">
                    </div>
                    <button id="submit_btn" style="display: none;" type="submit">Καταχώρfηση</button>
                </form>
                <button id="my_submit_btn" type="button">Καταχώρηση</button>
            </div>
        </div>
    </body>
    <%- include('../partials/footer'); %>
    <script>
    $(document).ready(function(){
        const queryString = new URL(window.location.href).search;
        const params = new URLSearchParams(queryString);
        var type = '';
        var  create = '';

        if (queryString.length > 0) {
            if (params.has('create')) {
                create = params.get('create');
                $("#"+create).click();
            }
            else{
                alert("EROR");
            }
        }

        $(".create_div").hide();
        $("#my_submit_btn").hide();
        $("#back_btn").click(function(){
            if("<%= user.type %>" == "admin"){
                window.location ="/client-profile?id=<%= companyId %>";
            }
            else{
                window.location ="/";
            }
        });
        $(".create_menu_btn").click(function(){
            var type = $(this).attr("id");
            $("#create_type").val(type);
            $(".create_div").hide();
            $("#"+type+"_div").show();
            $("#my_submit_btn").show();

            $(".required").attr('required', false);
            $(".required." + type).attr('required', true);
            

            $(".create_menu_btn").removeClass("selected");
    
            $(this).addClass("selected");
            
        });
        $("#my_submit_btn").click(my_submit);


        
        if (window.location.search) {
            create = new URLSearchParams(window.location.search).get('create');
            $("#"+create).click();
        }
        
        function my_submit(){
            console.log("submit")
            var type = $('#create_type').val();
            if(type == 'items'){
                get_other_value('items_price_w','items_price_r');
                get_other_value('items_price_r','items_price_w');
                get_other_value('items_price_w_disc','items_price_r_disc');
                get_other_value('items_price_2_disc','items_price_w_disc');
                get_other_value('items_tax_r','items_tax_w');
            }
            $("#submit_btn").click();
        }

        function calculatePercent(event) {
            var disc = $(event.target).val();
            var price = 0;
            if ($(event.target).hasClass('retale')) {
                price = $("#items_price_r").val();
                $(".percent").eq(0).val((100*disc)/price)
            }
            else{
                price = $("#items_price_w").val();
                $(".percent").eq(1).val((100*disc)/price)
            }
        }
        function calculateDiscount(event) {
            var disc = $(event.target).val();
            var price = 0;
            if ($(event.target).hasClass('retale')) {
                price = $("#items_price_r").val();
                $(".disc").eq(0).val(price*(disc/100))
            }
            else{
                price = $("#items_price_w").val();
                $(".disc").eq(1).val(price*(disc/100))
            }
        }

        $('.disc').on('input', calculatePercent);
        $('.percent').on('input', calculateDiscount);
    });
    
    </script>
</html>