<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <link rel="stylesheet" href="create_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>
<style>
    table {
        border-collapse: collapse;
        border: 2px solid rgb(140, 140, 140);
        width: 99%;
    }
    th, td {
        border-collapse: collapse;
        border: 2px solid rgb(140, 140, 140);
        text-align: center;
    }
    table > tbody > tr > td> div{
        display: grid;
        grid-template-columns: 70% 30%;
    }

    #aa{
        width : 5%;
    }

    #item_column{
        width : 10%;
        padding: 0px;
    }

    .column{
        width : 10%;
    }

    #btn_column{
        width : 5%;
    }

    td>div>input:focus {
        outline: none;
        padding: 0px;
        margin: 0px;
    }

    .doc_line_select{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    select {
        outline: none;
        padding: 0px;
        margin: 0px;
    }
</style>
<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <h1 id="list_header"></h1>
            <form action="/create-doc" method="POST" id="create_doc_form">
                <input type="text" id="doc_type" name="doc_type" style="display: none;">
                <input type="date" id="doc_date" name="doc_date">
                <div class="customer_div">
                    <label id="from_label"></label>
                    <select name="customer_id" id="customer_id">
                        <option value="0">-</option>
                        <% persons.forEach(function(person) { %>
                            <option value="<%= person.id %>"><%= person.firstName %> <%= person.lastName %></option>
                        <% }); %>
                    </select>
                </div>
                <label for="wholesale_retail">Type : </label>
                <select id="wholesale_retail" name="wholesale_retail">
                    <option value="0">wholesale</option>
                    <option value="1">Retale</option>
                </select>
                <div> Total Value : <span id="total_value">0.00</span> €</div>
                <div> Total Discounts : <span id="total_disc">0.00</span> €</div>
                <div> Total Price after Discounts : <span id="total_after_disc">0.00</span> €</div>
                <div> Total Price after Tax : <span id="total_after_Tax">0.00</span> €</div>
                <br>

                <div >Discount : <input id="general_discount" class="general_discount" name="general_discount" type="number" value=0 min="0" max="100" required> %</div>
                <div >Discount Amount: <input id="general_discount_amount" class="general_discount" name="general_discount_amount" type="number" value=0 min="0" required> €</div>

                <div> Total Cost : <span id="total_cost">0.00</span> €</div>
                <br>
                <input id="num_of_rows" name="num_of_rows" style="display: none;">
                <table id="doc_table">
                    <thead>
                        <tr>
                            <th>A/A</th>
                            <th>Title</th>
                            <th>Qty</th>
                            <th>Tax</th>
                            <th>Discount</th>
                            <th>Discount %</th>
                            <th>U/P</th>
                            <th>Value</th>
                            <th>Price After Discount</th>
                            <th>Final Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <button type="submit" id="submit_btn">Register</button>
            </form>
            <button id="clear">Clear</button>
        </div>
    </div>

</body>
<script>
    // Render items array into JavaScript
    const items = JSON.parse(`<%- JSON.stringify(items) %>`);

    $(document).ready(function(){
        var type = "";

        if (window.location.search) {
            type = new URLSearchParams(window.location.search).get('type');
            if(type =='buy'){
                $("#list_header").html('Create Buy Document');
                $("#from_label").html('Buying from &nbsp&nbsp');
                
            }
            else if(type =='sale'){
                $("#list_header").html('Create Sales Document');
                $("#from_label").html('Customer&nbsp&nbsp');

            }
        }   
        $("#doc_type").val(type);
        $("#doc_date").val(new Date().toISOString().split('T')[0]);

        $("#back_btn").click(function(){
            window.location ="/";
        });

        addNewRow();

        function populateSelect(selectElement) {
            selectElement.append('<option value="-"></option>');
            items.forEach(function(item) {
                selectElement.append('<option value="' + item._id + '">' + item.title + '</option>');
            });
        }

        function addNewRow() {
            var rowCount = $('#doc_table tbody tr').length;
            $('#num_of_rows').val(rowCount);
            var newRow = `<tr id='row${rowCount}'>
                                <td>${rowCount + 1}</td>
                                <td id='item_column'>
                                    <select name="doc_line_item_${rowCount}" class="doc_line_select"></select>
                                </td>
                                <td class = 'column'>
                                    <div>
                                        <input id='quontity_${rowCount}' name='quontity_${rowCount}' class='input' type='number' value=1 min="1" max="100" required><span id='qty_${rowCount}'></span></div></td>
                                <td class = 'column'>
                                    <div><input id='tax_${rowCount}' name='tax_${rowCount}' type='number' class='input' min="0" max="100" required><span>&nbsp%</span></div></td>
                                <td class = 'column'>
                                    <div><input id='discount_${rowCount}' name='discount_${rowCount}' class='discount input disc_amnt' type='number' min="0" required><span>€</span></div></td>
                                <td class = 'column'>
                                    <div><input id='discount_p_${rowCount}' name='discount_p_${rowCount}' class='discount input' type='number' min="0" max="100" required><span>&nbsp%</span></div></td>
                                <td class = 'column'>
                                    <div><input id='price_of_unit_${rowCount}' name='price_of_unit_${rowCount}' class='input' type='number' min="0" required><span>€</span></div></td>
                                <td class = 'column'>
                                    <div>
                                        <div id='total_price_of_line_${rowCount}' name='total_price_of_line_${rowCount}' class='total_price_of_line'></div>
                                        <span>&nbsp€</span>
                                    </div>
                                </td>
                                <td class = 'column'>
                                    <div>
                                        <div id='total_price_of_line_after_disc_${rowCount}' name='total_price_of_line_after_disc_${rowCount}' class='total_price_of_line_after_disc'></div>
                                        <span>&nbsp€</span>
                                     </div>
                                </td>
                                <td class = 'column'>
                                    <div>
                                        <div id='final_price_of_line_${rowCount}' name='final_price_of_line_${rowCount}' class='final_price_of_line'></div>
                                        <span>&nbsp€</span>
                                     </div>
                                </td>
                                <td id = 'btn_column'>
                                    <button type="button" class="remove_row" disabled>Remove</button>
                                </td>
                            </tr>`;
            $('#doc_table tbody').append(newRow);
            populateSelect($(`#doc_table tbody tr:last .doc_line_select`));
            $('#quontity_'+rowCount).css('visibility', 'hidden');
            $('#tax_'+rowCount).css('visibility', 'hidden');
            $('#discount_'+rowCount).css('visibility', 'hidden');
            $('#discount_p_'+rowCount).css('visibility', 'hidden');
            $('#price_of_unit_'+rowCount).css('visibility', 'hidden');


            allow_submit();
        }

        $(document).on('change', '.doc_line_select', function(){
            var index = $(this).closest('tr').index();
            if($('.doc_line_select').eq(index).val() != "-"){
                //$('#wholesale_retail').prop('disabled', true);

                $('.remove_row').eq(index).prop('disabled', false);

                $('#quontity_'+index).css('visibility', 'visible');
                $('#tax_'+index).css('visibility', 'visible');
                $('#discount_'+index).css('visibility', 'visible');
                $('#discount_p_'+index).css('visibility', 'visible');
                $('#price_of_unit_'+index).css('visibility', 'visible');

                put_data_on_row(index);
                
                
                if($(this).closest('tr').is(':last-child')){
                    addNewRow();
                }
            }
            else{
                removeRow(index)
            }
        });

        $(document).on('change', '#wholesale_retail', retail_wholesale)

        $(document).on('click', '.remove_row', function(){
            removeRow( $(this).closest('tr').index())
        });

        $(document).on('input', '.input', function(){
            var index = $(this).closest('tr').index();
            var quontity = $('#quontity_'+index).val();
            var price_of_unit = $('#price_of_unit_'+index).val();
            
            if($(this).attr('id') == 'discount_'+index){
                $('#discount_p_'+index).val(
                        (100*($('#discount_'+index).val()))/(quontity*price_of_unit)
                );
            }
            else{
                $('#discount_'+index).val(
                    (quontity*price_of_unit)*($('#discount_p_'+index).val()/100)
                );
            }
            calculate_row_prices(index);
        })

        $(document).on('click', '#clear', function(){
            location.reload();
        });

        $(document).on('change', '#customer_id', allow_submit);

        $(document).on('input', '.general_discount', function(){
            if($(this).attr('id') == 'general_discount_amount'){
                $('#total_cost').html($('#total_after_Tax').html()- $('#general_discount_amount').val())
            }
            else{
                $('#general_discount_amount').val(

                    $('#total_after_Tax').html()- ($('#total_after_Tax').html()*($('#general_discount').val()/100))
                )
                $('#total_cost').html($('#total_after_Tax').html()- $('#general_discount_amount').val())
            }
        });

        function get_item_index_from_id(index){
            for(let i=0;i<items.length;i++){
                if(items[i]._id == $('.doc_line_select').eq(index).val()){
                    return i;
                }
            };
        }

        function get_price(index){
            if($('#wholesale_retail').val()==="0"){
                return items[index].price_w.toFixed(2);
            }
            else{
                return items[index].price_r.toFixed(2);
            }
        }

        function get_tax(index){
            if($('#wholesale_retail').val()==="0"){
                return items[index].tax_w.toFixed(1);
            }
            else{
                return items[index].tax_r.toFixed(1);
            }
        }

        function get_discount(index){
            if($('#wholesale_retail').val()==="0"){
                return items[index].discount_w;
            }
            else{
                return items[index].discount_r;
            }
        }

        function calculate_row_prices(index){
            var quontity = $('#quontity_'+index).val();
            var price_of_unit = $('#price_of_unit_'+index).val()
            var tax = $('#tax_'+index).val()
            var discount = $('#discount_'+index).val()

            var total = quontity*price_of_unit;
            $('#total_price_of_line_'+index).html(total);

            var total = total - discount;
            $('#total_price_of_line_after_disc_'+index).html(total);

            var total = total + ( total*(tax/100) );
            $('#final_price_of_line_'+index).html(total);

            calculate_total_cost();
        }

        function calculate_total_cost() {
            var total = 0;
            $('.total_price_of_line').each(function() {
                var linePrice = parseFloat($(this).html()) || 0;
                total += linePrice;
            });
            var disc_amnt = 0
            $('.disc_amnt').each(function() {
                var linedisc = parseFloat($(this).val()) || 0;
                disc_amnt += linedisc;
            });
            
            var after_tax = 0
            $('.final_price_of_line').each(function() {
                var line_after_tax = parseFloat($(this).html()) || 0;
                after_tax += line_after_tax;
            });

            //let generalDiscount = parseFloat($('#general_discount').val()) || 0;

            /*total = total * (generalDiscount / 100);

            $('#total_discount_amount').html(total)*/

            //total = (total - (total * (generalDiscount / 100))).toFixed(2);
            $('#total_value').html(total);

            $('#total_disc').html(disc_amnt);

            $('#total_after_disc').html(total - disc_amnt);

            $('#total_after_Tax').html(after_tax);
        }

        function retail_wholesale() {
            // Iterate over each row in the table
            $('#doc_table tbody tr').each(function(index) {
                if ($('.doc_line_select').eq(index).val() != "-") {
                    var itemIndex = get_item_index_from_id(index);
                    // Update price and discount based on wholesale or retail selection
                    put_data_on_row(itemIndex);

                }
            });
        }

        function removeRow(index){
            $('#row' + index).remove();

            // Update row indices
            $('#doc_table tbody tr').each(function(i) {
                $(this).attr('id', 'row' + i);
                $(this).find('td:first').text(i + 1);
                $(this).find('.remove_row').attr('onclick', 'removeRow(' + i + ')');
                $(this).find('#discount_' + i).attr('id', 'discount_' + i);
                $(this).find('#price_of_unit_' + i).attr('id', 'price_of_unit_' + i);
                $(this).find('#total_price_of_line_' + i).attr('id', 'total_price_of_line_' + i);
            });

            calculate_total_cost();
            $('#num_of_rows').val($('#num_of_rows').val()-1);
            allow_submit();
        }

        function allow_submit(){
            if($('#num_of_rows').val() == 0 || $('select[name="customer_id"]').val() == 0){
                $("#submit_btn").prop('disabled', true);
            }
            else{
                $("#submit_btn").prop('disabled', false);
            }
        }

        function put_data_on_row(index){
            var quontity = $('#quontity_'+index).val();
            var price_of_unit = get_price(get_item_index_from_id(index));

            var tax = get_tax(get_item_index_from_id(index));
            var total = quontity*price_of_unit;
            var discount = get_discount(get_item_index_from_id(index));
            var discount_p = (100*discount)/total;

            $('#qty_'+index).html(items[index].unit_of_measurement);
            $('#tax_'+index).val(tax);
            $('#price_of_unit_'+index).val(price_of_unit);
            $('#discount_'+index).val(discount);

            $('#discount_p_'+index).val(discount_p);

            calculate_row_prices(index);
        }
    });

</script>
<%- include('../partials/footer'); %>
</html>
