<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo.svg">

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="create_doc_css.css" />
    <link rel="stylesheet" href="table_css.css" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />


    <!--Header-->
    <%- include('../partials/header'); %>
  </head>
  <body>
    <div class="has_sidebar asap-condensed-extralight">
      <%- include('../partials/sidebar'); %>
      <div class="has_sidebar_main_content">
        <h1 id="list_header"></h1>
        <form action="/create-doc" method="POST" id="create_doc_form">
          <div id="doc_data" class="glass_effect_2">
            <div>
              <div>
                <label for="doc_date">Date : </label>
                <input type="date" id="doc_date" name="doc_date" class="my_input" required />
              </div>
              <div class="customer_div">
                <label for="customer_id" id="from_label"></label>
                <select name="customer_id" id="customer_id" class="my_input">
                  <% if (persons.length > 1) { %>
                  <option value="0">-</option>
                  <% } %> <% persons.forEach(function(person) { %>
                  <option value="<%= person.id %>"><%= person.firstName %> <%= person.lastName %></option>
                  <% }); %>
                </select>
              </div>
              <div class="warehouse_div">
                <label for="warehouse_id">Warehouse</label>
                <select name="warehouse_id" class="my_input">
                  <option value="0">-</option>
                  <% warehouses.forEach(function(warehouse) { %>
                  <option value="<%= warehouse.id %>"><%= warehouse.title %></option>
                  <% }); %>
                </select>
              </div>
              <div>
                <label class="wholesale_retail" for="wholesale_retail">Type : </label>
                <select class="wholesale_retail my_input" id="wholesale_retail" name="wholesale_retail">
                  <option value="1">Retale</option>
                  <option value="2">wholesale</option>
                </select>
              </div>
              <div>
                <label for="doc_series">Series : </label>
                <select id="doc_series" name="doc_series" class="my_input">
                  <% if (series.length > 1) { %>
                  <option value="0">-</option>
                  <% } %> <% series.forEach(function(s) { %>
                  <option value="<%= s._id %>"><%= s.title %></option>
                  <% }); %>
                </select>
              </div>
              <div class="hide">-</div>
            </div>

            <div>
              <div>
                <label for="doc_total_value">Total Value : </label>
                <span>
                  <span id="doc_total_value">0.00</span>
                  <span style="text-indent: 5px;">&nbsp;€</span>
                </span>
              </div>
              <div>
                <label>Discount Value : </label>
                <span>
                  <span style="display: grid;grid-template-columns: 35% 30% 35%;">
                    <input id="general_discount_amount" class="general_discount my_input" name="general_discount_amount" type="number" value="0" min="0" required />
                    <span>€</span>
                    <input id="general_discount" class="general_discount my_input" name="general_discount" type="number" value="0" min="0" max="100" required />
                  </span>
                  <span style="text-indent: 5px;"><strong>%</strong></span>
                </span>
              </div>
              <div>
                <span>Total Discounts : </span>
                <span><span id="doc_total_disc">0.00</span><span>€</span></span>
              </div>
              <div>
                <span>Total Cost : </span>
                <span><span id="doc_total_cost">0.00</span><span>€</span></span>
              </div>
              <div>
                <span>Total Price after Tax : </span>
                <span><span id="doc_total_after_tax">0.00</span><span>€</span></span>
              </div>
            </div>
            

            <input type="text" id="doc_type" name="doc_type" style="display: none" />
            <input id="num_of_rows" name="num_of_rows" value=0 type="number"  style="display: none;"/>
          </div>
          <div class="table_container no_scale">
            <table id="doc_table" class="my_table" style="width: 90%;">
              <thead>
                <tr>
                  <th>A/A</th>
                  <th>Title</th>
                  <th>Qty</th>
                  <th>Tax</th>
                  <th>Discount</th>
                  <th>Discount %</th>
                  <th>U/P</th>
                  <th>Value</th>
                  <th>Price After Discount</th>
                  <th>Final Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </form>
        <div id="doc_btn_container">
          <button id="clear">Clear</button>
          <button id="submit_btn">Register</button>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="JSDocumentFunctions.js"></script>
  <script>
    message_from_url(window.location.href);
    
    const items = JSON.parse(`<%- JSON.stringify(items) %>`);
    var doc_line_num = 0;
    var general_dis_deviation = 0.0;

    function allow_submit() {
        var inputs = $(".input");

        // Loop through each input to check if it's empty
        inputs.each(function () {
          if ($(this).val() === "") {
            $(this).val("0"); // Set empty inputs to 0
          }
        });

        if ($("#num_of_rows").val() == 0 || $('select[name="customer_id"]').val() == 0 || $('select[name="doc_series"]').val() == 0 || $('select[name="warehouse_id"]').val() == 0) {
          $("#submit_btn").prop("disabled", true);
          $(".general_discount").attr("readonly", true);
          $(".general_discount").val(0);
          calculate_total_cost();
        } else {
          $("#submit_btn").prop("disabled", false);
          $(".general_discount").attr("readonly", false);
        }
      }

    function doc_line_select(index){
      if($("#doc_line_item_"+index).hasClass('selected')){
        put_data_on_row(index, items);
      }
      //else if ($("#doc_line_item_"+index).val() != "-") {
      else {
          $("#doc_line_item_"+index+" option:first-child").remove();
          $("#doc_line_item_"+index).addClass("selected");
          $("#remove_row_btn_"+index).prop("disabled", false);

          $("#quantity_" + index).css("visibility", "visible");
          $("#tax_" + index).css("visibility", "visible");
          $("#discount_" + index).css("visibility", "visible");
          $("#discount_p_" + index).css("visibility", "visible");
          $("#price_of_unit_" + index).css("visibility", "visible");

          put_data_on_row(index, items);
          addNewRow( items);

        allow_submit();
        $(".doc_line_select").each(function() {
            if ($(this).val() != "-") {
                calculate_row_prices($(this).attr('id').replace('doc_line_item_',''));
            }
        });
        var sum = 0
        $(".doc_line_select").each(function() {
          
            if ($(this).val() != "-") {
                let i = $(this).attr('id').replace('doc_line_item_','')
                sum = sum + (parseFloat($("#total_price_of_line_"+i).html()) - parseFloat($("#total_price_of_line_after_disc_"+i).html()))
            }
        });
        console.log("SUM "+sum)
      }
    }


    $(document).ready(function () {
      var type = "";

      if (window.location.search) {
        type = new URLSearchParams(window.location.search).get("type");
        if (type == 1) {
          //sale
          $("#list_header").html("Create Sales Document");
          $("#from_label").html("Customer&nbsp&nbsp");
        } else if (type == 2) {
          //buy
          $("#list_header").html("Create Buy Document");
          $("#from_label").html("Buying from &nbsp&nbsp");
          $(".wholesale_retail").hide();
          $("#wholesale_retail_label").hide();
        }
      }
      $("#doc_type").val(type);
      $("#doc_date").val(new Date().toISOString().split("T")[0]);

      $("#back_btn").click(function () {
        window.location = "/";
      });

      $(".general_discount").attr("readonly", true);

      addNewRow(items);
      calculate_row_prices(0)

      allow_submit();

      $(document).on("change", "#wholesale_retail", function () {
        retail_wholesale(items);
      });

      $(document).on("click", "#submit_btn", function () {
        removeRow($("#num_of_rows").val()-1);
        //$("#row"+get_num_of_rows()).remove();
        //$("#num_of_rows").val(get_num_of_rows());
        $("#create_doc_form").submit();
      });


      $(document).on("input", ".input", function () {
        var index = $(this).closest("tr").index();
        var quantity = $("#quantity_" + index).val();
        var price_of_unit = $("#price_of_unit_" + index).val();

        if ($(this).attr("id") == "discount_" + index) {
          $("#discount_p_" + index).val((100 * $("#discount_" + index).val()) / (quantity * price_of_unit));
        }
        else if ($(this).attr("id") == "discount_p_" + index) {
          $("#discount_" + index).val(quantity * price_of_unit * ($("#discount_p_" + index).val() / 100));
        }
        else if ($(this).attr("id") == "price_of_unit_" + index) {
          $("#discount_" + index).val(quantity * price_of_unit * ($("#discount_p_" + index).val() / 100));
        }

        //calculate_row_prices(index);
        $(".doc_line_select").each(function() {
            if ($(this).val() != "-") {
                calculate_row_prices($(this).attr('id').replace('doc_line_item_',''));
            }
        });
      });

      $(document).on("click", "#clear", function () {
        location.reload();
      });

      $(document).on("change", "#customer_id", allow_submit);

      $(document).on("change", "#doc_series", allow_submit);

      $(".general_discount").on("blur", function () {

        $(".doc_line_select").each(function() {
            if ($(this).val() != "-") {
                calculate_row_prices($(this).attr('id').replace('doc_line_item_',''));
            }
        });
        general_dis_deviation = 0
        $(".doc_line_select").each(function() {
          
            if ($(this).val() != "-") {
                let i = $(this).attr('id').replace('doc_line_item_','')
                general_dis_deviation = general_dis_deviation + (parseFloat($("#total_price_of_line_"+i).html()) - parseFloat($("#total_price_of_line_after_disc_"+i).html()))
            }
        });
        general_dis_deviation = (general_dis_deviation - parseFloat($("#general_discount_amount").val())).toFixed(2)
        calculate_row_prices(get_num_of_rows()-1);
        general_dis_deviation = 0.0
      });


      $(document).on("input", ".general_discount", function () {
        let totalAfterTax = parseFloat($("#doc_total_value").html()) || 0;
        //var num_of_rows = parseInt($("#num_of_rows").val());
        var num_of_rows = get_num_of_rows();
        if(num_of_rows > 1){
          if ($(this).attr("id") === "general_discount_amount") {
            let discountAmount = parseFloat($(this).val()) || 0;
            let totalCost = totalAfterTax - discountAmount;

            let discountPercentage = (discountAmount / totalAfterTax) * 100;
            $("#general_discount").val(discountPercentage.toFixed(2));
          } else if ($(this).attr("id") === "general_discount") {
            let discountPercentage = parseFloat($(this).val()) || 0;
            let discountAmount = totalAfterTax * (discountPercentage / 100);
            $("#general_discount_amount").val(discountAmount.toFixed(2));

            let totalCost = totalAfterTax - discountAmount;
          }
          calculate_total_cost()
        }
        
      });

      $('.input').on('blur', function() {
          if ($(this).val() == '') {
              $(this).val(0);
          }
      });

    });

    function put_data_on_row(index,items){
      var quantity = $('#quantity_'+index).val();

      const item_index = get_item_index_from_id(index,items);
      
      //var price_of_unit = get_price(get_item_index_from_id(index,items),items);
      var price_of_unit = get_price(item_index,items);
      //var price_of_unit = get_price(index,items);

      var tax = get_tax(item_index,items);
      //var tax = get_tax(get_item_index_from_id(index,items),items);
      //var tax = get_tax(index,items);
      var total = quantity*price_of_unit;
      
      var discount = get_discount(item_index,items);
      //var discount = get_discount(get_item_index_from_id(index,items),items);
      //var discount = get_discount(index,items);
      discount = parseFloat(discount).toFixed(2); 
      var discount_p = (100*discount)/total;
      discount_p = discount_p.toFixed(2); 

      //$('#qty_'+index).html(items[index].unit_of_measurement);
      $('#qty_'+index).html(items[item_index].unit_of_measurement);
      $('#tax_'+index).val(tax);
      $('#price_of_unit_'+index).val(price_of_unit);
      $('#discount_'+index).val(discount);

      $('#discount_p_'+index).val(discount_p);

      calculate_row_prices(index);
    }

    function calculate_row_prices(index){
      var quantity = $('#quantity_'+index).val();
      var price_of_unit = parseFloat($('#price_of_unit_'+index).val()).toFixed(2)
      var tax =  parseFloat($('#tax_'+index).val()).toFixed(2)
      
      var num_of_rows = get_num_of_rows()
      //alert(num_of_rows)
      var g_disc = 0.0;
      if($('#general_discount_amount').val() != null && num_of_rows >0){
        g_disc = parseFloat($('#general_discount_amount').val())/num_of_rows;
      }

      var discount = parseFloat($('#discount_'+index).val()).toFixed(2)*quantity;
      discount =discount + g_disc - parseFloat(general_dis_deviation);

      var total = (quantity*parseFloat(price_of_unit).toFixed(2));
      if(total){
        $('#total_price_of_line_'+index).html(parseFloat(total).toFixed(2));
      }
      

      total = (parseFloat(total) -  parseFloat(discount));
      if(total){
        $('#total_price_of_line_after_disc_'+index).html(parseFloat(total).toFixed(2));
      }

      total = parseFloat(total) +  parseFloat(total*(tax/100));
      if(total){
        $('#final_price_of_line_'+index).html(parseFloat(total).toFixed(2));
      }

      calculate_total_cost();
    }

    function get_num_of_rows(){
      return parseInt($(".doc_line_select.selected").length);
    }

    function addNewRow(items) {
      var index = doc_line_num;
      $("#num_of_rows").val(parseInt($("#num_of_rows").val()) + 1);
    var newRow = `<tr id='row${index}'class='glass_effect_2 doc_row'>
                        <td class = 'row_aa row${index}'></td>
                        <td class='item_column'>
                            <select id="doc_line_item_${index}" name="doc_line_item_${index}" onchange="doc_line_select(${index})" class="doc_line_select"></select>
                        </td>
                        <td class = 'column'>
                            <div>
                                <input id='quantity_${index}' name='quantity_${index}' class='input' type='number' value=1 min="1" max="100" required><span id='qty_${index}'></span></div></td>
                        <td class = 'column'>
                            <div><input id='tax_${index}' name='tax_${index}' type='number' class='input' min="0" max="100" required><span>&nbsp%</span></div></td>
                        <td class = 'column'>
                            <div><input id='discount_${index}' name='discount_${index}' class='discount input disc_amnt' type='number' min="0" required><span>€</span></div></td>
                        <td class = 'column'>
                            <div><input id='discount_p_${index}' name='discount_p_${index}' class='discount input' type='number' min="0" max="100" required><span>&nbsp%</span></div></td>
                        <td class = 'column'>
                            <div><input id='price_of_unit_${index}' name='price_of_unit_${index}' class='input' type='number' min="0" required><span>€</span></div></td>
                        <td class = 'column'>
                            <div>
                                <div id='total_price_of_line_${index}' name='total_price_of_line_${index}' class='total_price_of_line'></div>
                                <span>&nbsp€</span>
                            </div>
                        </td>
                        <td class = 'column'>
                            <div>
                                <div id='total_price_of_line_after_disc_${index}' name='total_price_of_line_after_disc_${index}' class='total_price_of_line_after_disc'></div>
                                <span>&nbsp€</span>
                            </div>
                        </td>
                        <td class = 'column'>
                            <div>
                                <div id='final_price_of_line_${index}' name='final_price_of_line_${index}' class='final_price_of_line'></div>
                                <span>&nbsp€</span>
                            </div>
                        </td>
                        <td id = 'btn_column'>
                            <button type="button" id="remove_row_btn_${index}" class="remove_row" disabled onclick="removeRow(${index})">Remove</button>
                        </td>
                    </tr>`;

    $('#doc_table tbody').append(newRow);
    let i = 1; // Initialize i
    for (const r of $('.row_aa')) {
        $(r).html(i); // Set the HTML content
        i++; // Increment i
    }
    populateSelect($(`#doc_table tbody tr:last .doc_line_select`),items);
    
    $('#quantity_'+index).css('visibility', 'hidden');
    $('#tax_'+index).css('visibility', 'hidden');
    $('#discount_'+index).css('visibility', 'hidden');
    $('#discount_p_'+index).css('visibility', 'hidden');
    $('#price_of_unit_'+index).css('visibility', 'hidden');

    doc_line_num = doc_line_num + 1;
}

    function calculate_total_cost() {
      var total_value = 0.0;
      $(".doc_line_select").each(function() {
        if ($(this).val() != "-") {
          let i = $(this).attr('id').replace('doc_line_item_','');
          total_value += parseFloat($("#total_price_of_line_" + i).text() || 0);
        }
      });

      var total_price_of_line_after_disc = 0.0;
      $(".doc_line_select").each(function() {
        if ($(this).val() != "-") {
          let i = $(this).attr('id').replace('doc_line_item_','');
          total_price_of_line_after_disc += parseFloat($("#total_price_of_line_after_disc_" + i).text() || 0);
        }
      });

      var total_disc = 0.0;
      $(".doc_line_select").each(function() {
        if ($(this).val() != "-") {
          let i = $(this).attr('id').replace('doc_line_item_','');
          total_disc += parseFloat($("#discount_" + i).val() || 0);
        }
      });
      total_disc = total_disc + parseFloat($("#general_discount_amount").val() || 0);
      
      var total_price_after_tax = 0.0;
      $(".doc_line_select").each(function() {
        if ($(this).val() != "-") {
          let i = $(this).attr('id').replace('doc_line_item_','');
          total_price_after_tax += parseFloat($("#final_price_of_line_" + i).text() || 0);
        }
      });

      $('#doc_total_value').text(total_value.toFixed(2));
      $('#doc_total_cost').text(total_price_of_line_after_disc.toFixed(2));
      
      $('#doc_total_disc').text(total_disc.toFixed(2));
      //$('#doc_total_final').text((total_price_after_tax-g_disc).toFixed(2));
      $('#doc_total_after_tax').text(total_price_after_tax.toFixed(2));

    }
  </script>
</html>
