<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <!--Header-->
        <%- include('../partials/header'); %>
    </head>
    <style>
        .selected{
            background-color: red;
        }
    </style>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <h1>Create</h1>
                <div id="create_menu">
                    <button class = "create_menu_btn" id="warehouses">Αποθήκη</button>
                    <button class = "create_menu_btn" id="items">Είδος</button>
                    <button class = "create_menu_btn" id="series">Σειρά</button>
                    <button class = "create_menu_btn" id="persons">Άτομο</button>
                </div>
                <form action="/create" method="POST" id="create_form">
                    <label for="type">Type : </label>
                    <select name="type" id="type">
                        <option value="-">-</option>
                        <option value="buy">Supplier</option>
                        <option value="sale">Customer</option>
                    </select>
                    <input type="text" id="create_type"  name="create_type">
                    <div id = 'warehouses_div' class="create_div">
                        <label for="warehouse_title">Title : </label>
                        <input type="text" id="warehouse_title" name="warehouse_title" class="required warehouse">
                        <br>
                        <label for="warehouse_address">Address : </label>
                        <input type="text" id="warehouse_address" name="warehouse_address" class="required warehouse">
                    </div>
                    <div id = 'items_div' class="create_div">
                        <label for="item_title">Title : </label>
                        <input type="text" id="item_title" name="item_title" class="required item">
                        <br>
                        <label for="item_description">Description : </label>
                        <br>
                        <textarea id = "item_description" name = "item_description" class="required item"></textarea>
                        <br>
                        <label for="item_price_r">Price Retail : </label>
                        <input type="number" id="item_price_r" name="item_price_r">
                        <br>
                        <label for="item_price_r_disc">Discount for Retail : </label>
                        <input type="number" id="item_price_r_disc" name="item_price_r_disc">
                        <br>
                        <label for="item_price_w">Price Wholesale : </label>
                        <input type="number" id="item_price_w" name="item_price_w">
                        <br>
                        <label for="item_price_w_disc">Discount for Wholesale : </label>
                        <input type="number" id="item_price_w_disc" name="item_price_w_disc">
                    </div>
                    <div id ='series_div' class="create_div">
                        <label for="series_title">Title : </label>
                        <input type="text" id="series_title" name="series_title"  class="required series">
                        <label for="series_acronym">Acronym : </label>
                        <input type="text" id="series_acronym" name="series_acronym"  class="required series">
                        <label for="series_type">Type : </label>
                        <select name="series_type"  class="required series">
                            <option value="buy">Buy</option>
                            <option value="sale">Sales</option>
                        </select>
                    </div>
                    <div id ='persons_div' class="create_div">
                        <label for="person_firstName">First Name : </label>
                        <input type="text" id="person_firstName" name="person_firstName"  class="required person">
                        <label for="person_lastName">Last Name : </label>
                        <input type="text" id="person_lastName" name="person_lastName"  class="required person">
                        <label for="person_email">Email : </label>
                        <input type="email" id="person_email" name="person_email"  class="required person">
                        <label for="person_phone">Phone : </label>
                        <input type="number" id="person_phone" name="person_phone"  class="required person">
                        <label for="person_vat">VAT : </label>
                        <input type="number" id="person_vat" name="person_vat"  class="person">

                    </div>
                    <button id="my_submit_btn" type="button">Καταχώρηση</button>
                </form>
            </div>
        </div>
    </body>
    <%- include('../partials/footer'); %>
    <script>
    $(document).ready(function(){
        const queryString = new URL(window.location.href).search;
        const params = new URLSearchParams(queryString);
        var type = '';
        var  create = '';

        if (queryString.length > 0) {
            if (params.has('type')) {
                type = params.get('type');
                $("#type").hide();
                $("#type").val(type);
            }
            if (params.has('create')) {
                create = params.get('create');
                $("#"+create).click();
                //$("#my_submit_btn").hide();
            }
            else{
                alert("EROR");
            }
        }

        $(".create_div").hide();
        $("#my_submit_btn").hide();
        $("#back_btn").click(function(){
            if("<%= user.type %>" == "admin"){
                window.location ="/client-profile?id=<%= companyId %>";
            }
            else{
                window.location ="/";
            }
        });
        $(".create_menu_btn").click(function(){
            var type = $(this).attr("id");
            $("#create_type").val(type);
            $(".create_div").hide();
            $("#"+type+"_div").show();
            $("#my_submit_btn").show();

            $(".required").attr('required', false);
            $(".required."+type).attr('required', true);

            $(".create_menu_btn").removeClass("selected");
    
            $(this).addClass("selected");
            
        });
        $("#my_submit_btn").click(my_submit);


        
        if (window.location.search) {
            create = new URLSearchParams(window.location.search).get('create');
            $("#"+create).click();
        }
        
        function my_submit(){
            var type = $('#create_type').val();
            if(type == 'item'){
                get_other_value('item_price_w','item_price_r');
                get_other_value('item_price_r','item_price_w');
                get_other_value('item_price_w_disc','item_price_r_disc');
                get_other_value('item_price_2_disc','item_price_w_disc');
            }
            $("#create_form").submit();
        }

        function get_other_value(id1,id2){
            if($('#'+id1).val() == "" || $('#'+id1).val() == 0){
                    if($('#'+id2).val() != "" && $('#'+id2).val() > 0){
                        $('#'+id1).val($('#'+id2).val());
                    }
                }
        }
    });
    
    </script>
</html>