<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
            <!--ajax-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <!--CSS-->
            <link rel="stylesheet" href="general_css.css">
            <link rel="stylesheet" href="create_css.css">
            <!--Header-->
            <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <h1 id="list_header"></h1>
                <form action="/create-boc" method="POST" class="create_form">
                    <input type="text" id="doc_type" name="doc_type">
                    <input type="date" id="doc_date" name="doc_date">
                    <div class="customer_div">
                        <label>Customer</label>
                        <select>
                            <option value="0">-</option>
                            <% persons.forEach(function(person) { %>
                                <option value="<%= person.id %>"><%= person.firstName %> <%= person.lastName %></option>
                            <% }); %>
                        </select>
                    </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Quotity</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select>
                                                <% items.forEach(function(item,index) { %>
                                                    <option value="<%=item._id%>"><%=item.title%></option>
                                                <% })%>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                              </tbody>
                        </table>

                    <button type="submit">Register</button>
                </form>
            </div>
        </div>

        
        
        
    </body>
    <script>
        $(document).ready(function(){
            var type = "";
            if (window.location.search) {
                type = new URLSearchParams(window.location.search).get('type');
                if(type =='buy'){
                    $("#list_header").html('Create Buy Document');
                }
                else if(type =='sale'){
                    $("#list_header").html('Create Sales Document');
                }

            }   
            $("#doc_type").val(type);

            $("#doc_date").val(new Date().toISOString().split('T')[0]);

            $("#back_btn").click(function(){
                window.location ="/";
            });
        });
    </script>
    <%- include('../partials/footer'); %>
</html>