<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <link rel="stylesheet" href="list_css.css">
    <link rel="stylesheet" href="fonts_css.css">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">
    
    <!--Header-->
    <%- include('../partials/header'); %>
    
</head>

<body>
    <div class="has_sidebar asap-condensed-regular ">
        <%- include('../partials/sidebar'); %>
            <div>
                <div id="list_filters">
                    <div>
                        <h1 id="list_header"></h1>
                        <div class="filter_container"> Status<br>
                            <input class="filter" id="filter_active" type="checkbox"> Active <input class="filter" id="filter_non_active" type="checkbox"> Non Active
                        </div>
                        <div class="filter_container"> Status<br>
                            <input class="filter" id="filter_pending" type="checkbox"> Pending <input class="filter" id="filter_viewed" type="checkbox"> Viewed
                        </div>

                        <div> From date <input type="date" id="list_from_date">  To date <input type="date" id="list_to_date"></div>
                        <button class="btn_type_4" onclick="location.reload();">Clear</button>

                    </div>
                    <div id="list_filters_right">
                        <div id="tottal_num">Tottal Number of&nbsp;<span id="span_number_of">companys</span> : <span id="list_count"><%=list_items.length%></span>
                    </div>
                </div>
                </div>
                <form action="/list" method="POST" id="list_form" style="display: none;">
                    <input name="list_id" id = "list_id">
                    <input name="list_action" id = "list_action">
                    <input name="list_filters_input" id = "list_filters_input">
                </form>
                <div id="table_container">
                    <table>
                        <thead class="glass_efect_1">
                            <tr>
                                <th>A/A</th>
                                <% column_titles.forEach(function(column_title, index) { %>
                                    <% if (column_title != 'ID' ){ %>
                                        <th>
                                            <%= column_title %>
                                        </th>
                                        <% } %>
                                            <% }); %>

                                <th class="btn_column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="glass_efect_2">
                                <%if(list_items.length==0){%>
                                    <% for (let i=0; i <=column_titles.length; i++) { %>
                                        <% if (column_titles[i] != 'ID') { %>
                                            <th>-</th>
                                        <% } %>
                                    <% } %>
                                <%} else{ list_items.forEach(function(list_item, index) { %>
                                <tr class="glass_efect_2" data-id="<%= list_item.data[0] %>" data-index="<%= index %>" id="<%= list_item.data[0] %>">
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <% for (let i=0; i < list_item.data.length; i++) { %>
                                        <% if (column_titles[i] != 'ID') { %>
                                            <td id="cell_<%= i %>_<%= index %>" class ="<%= column_titles[i].toLowerCase() %>"><%= list_item.data[i] %></td>
                                        <% }%>
                                        
                                    <% } %>

                                    <td class="btn_column">
                                        <div id="td_button_container">
                                            <div><button class="btn2" data-id="<%= list_item.data[0] %>" data-index="<%= index %>">Delete</button></div>
                                            <div><button class="btn3" data-id="<%= list_item.data[0] %>" data-index="<%= index %>">Disable</button></div>
                                        </div>
                                    </td>

                                </tr>
                                <% }); }%>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <button id="go_to_create">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/plus--v1.png" alt="plus--v1"/>
                </button>

            </div>
    </div>
    <iframe id="print-frame" style="display:none;"></iframe>

</body>
    <script type = "text/javascript" src="JSFrontEndFunctions.js"></script>
    <script>
        $(document).ready(function () {
            var total_doc_rows = '<%=doc_data.doc_line_num%>';
            const queryString = new URL(window.location.href).search;
            var params = new URLSearchParams(queryString);
            var searchfor = '';
            var type = '';
            var printdoc = "";
            const filter_containers = $(".filter_container");
            filter_containers.eq(1).hide(); // Hide the second filter container

            if (params.has('message')) {
                alert(params.get('message'));
            }

            var status_cells = $(".status");
            var btn2_cells = $(".btn2");

            var btn3_cells = $(".btn3");
            for(let i=0; i<status_cells.length;i++){
                if(status_cells[i].innerHTML == 2){//active
                    $(btn2_cells[i]).prop('disabled', true);
                    $(btn3_cells[i]).prop('disabled', true);
                    $(status_cells[i]).html('Deleted');
                }
                //else if(status_cells[i].innerHTML == 0){
                else if(status_cells[i].innerHTML == "Disabled"){
                    $(btn3_cells[i]).text('Activate');
                    $(btn3_cells[i]).css('background-color', 'green');
                    $(status_cells[i]).html('Disabled');
                }
                else if(status_cells[i].innerHTML == 1){
                    $(status_cells[i]).html('Active');
                }
            }
 

            $('#list_form').attr('action', '/list'+queryString);

            if (queryString.length > 0) {
                searchfor = params.get('searchfor');
                $("#span_number_of").html(searchfor);
                type = type = params.get('type');
                printdoc = type = params.get('printdoc');
                $("#list_header").html(searchfor.charAt(0).toUpperCase() + searchfor.slice(1));
                if (searchfor == 'docs') {
                    $('.btn3').text('Print')
                    type = new URLSearchParams(window.location.search).get('type');
                    $("#type").val(type);
                    if (params.has('printdoc')) {
                       
                        var data = {
                            company_name: '<%=doc_data.company.name%>',
                            date: formatDate(new Date('<%=doc_data.doc.registrationDate%>')),
                            doc: JSON.parse(`<%- JSON.stringify(doc_data.doc) %>`),
                            series: '<%=doc_data.series%>',
                            person1: JSON.parse(`<%- JSON.stringify(doc_data.person1) %>`),
                            company: JSON.parse(`<%- JSON.stringify(doc_data.company) %>`),
                            total_doc_rows: total_doc_rows,
                            doc_lines:JSON.parse(`<%- JSON.stringify(doc_data.doc_lines) %>`),
                        }

                        print_form(data);
                    }
                }
                else if (searchfor == 'reports') {
                    $(".btn_column").hide();
                    filter_containers.eq(0).hide();
                    filter_containers.eq(1).show();
                }
                $("#searchfor").val(searchfor);


                $('.btn2').click(function () {
                    event.stopPropagation();
                    button_action($(this),2);
                })
                $('.btn3').click(function () {
                    event.stopPropagation();
                    var btn_act = 0;
                    if (searchfor == 'docs') {
                        var btn_act = 3;
                    }
                    button_action($(this),btn_act);
                })
            }

            $("#go_to_create").click(function () {
                
                var destination = '/create?create='+params.get('searchfor')


                if(params.get('type')){
                    destination = destination +'&type='+params.get('type')
                }
                
                if(params.get('searchfor')==='docs'){
                    destination = '/create-doc?type='+params.get('type')
                }
                window.location = destination;
            });


            function applyFilters() {
                const isActiveChecked = $("#filter_active").prop('checked');
                const isNonActiveChecked = $("#filter_non_active").prop('checked');
                const fromDate = $('#list_from_date').val();
                const toDate = $('#list_to_date').val();

                $(".glass_efect_2").each(function(index) {
                    if (index > 0) { // Skip the first element (index 0)
                        const statusCell = $(this).find(".status");
                        const statusText = statusCell.text().trim();
                        const regDateCell = $(this).find(".reg_date");
                        const regDateText = regDateCell.text().trim();

                        let showRow = true;

                        // Status filter
                        if (isActiveChecked && statusText !== "Active" && !isNonActiveChecked) {
                            showRow = false;
                        }
                        if (isNonActiveChecked && statusText !== "Disabled" && !isActiveChecked) {
                            showRow = false;
                        }

                        // Date range filter
                        if (fromDate && regDateText < fromDate) {
                            showRow = false;
                        }
                        if (toDate && regDateText > toDate) {
                            showRow = false;
                        }

                        // Show or hide the row
                        if (showRow) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    }
                });
            }
            function applyFilters_2() {
                const isActiveChecked = $("#filter_active").prop('checked');
                const isNonActiveChecked = $("#filter_non_active").prop('checked');
                const isPendingChecked = $("#filter_pending").prop('checked');
                const isViewedChecked = $("#filter_viewed").prop('checked');
                const fromDate = $('#list_from_date').val();
                const toDate = $('#list_to_date').val();

                $(".glass_efect_2").each(function(index) {
                    if (index > 0) { // Skip the first element (index 0)
                        const statusCell = $(this).find(".status");
                        const statusText = statusCell.text().trim();
                        const regDateCell = $(this).find(".reg_date");
                        const regDateText = regDateCell.text().trim();

                        let showRow = true;

                        // Status filter
                        if (isActiveChecked && statusText !== "Active" && !isNonActiveChecked) {
                            showRow = false;
                        }
                        if (isNonActiveChecked && statusText !== "Disabled" && !isActiveChecked) {
                            showRow = false;
                        }
                        if (isPendingChecked && statusText !== "Pending" && !isViewedChecked) {
                            showRow = false;
                        }
                        if (isViewedChecked && statusText !== "Viewed" && !isPendingChecked) {
                            showRow = false;
                        }

                        // Date range filter
                        if (fromDate && regDateText < fromDate) {
                            showRow = false;
                        }
                        if (toDate && regDateText > toDate) {
                            showRow = false;
                        }

                        // Show or hide the row
                        if (showRow) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    }
                });
            }

            // Attach the combined filter logic to all relevant events
            $(".filter, #list_from_date, #list_to_date").change(function() {
                if (searchfor == 'reports') {
                    applyFilters_2();
                    return
                }
                applyFilters();
            });


            function button_action(element, act){
                var message = "this will block this obj"
                var action = act;
                if(element.text() == "Disable"){
                    
                    message = "this will Disable this obj"
                }
                else if(element.text() == "Activate"){
                    action = 1;
                    message = "this will Activate this obj"
                }
                
                if(action == 2){
                    message = "this will delete the obj"
                }
                if(action == 3){
                    var doc_id =element.data('id');
                    if(confirm('After this point editing will not be possible, you want to continue')){
                        window.location = "/list?searchfor=" + searchfor + "&type=" + type + "&printdoc=" + doc_id;
                    }
                }
                else{
                    if(confirm(message)){

                        $('#list_id').val(element.data('id'));
                        $('#list_action').val(action);
                        $("#list_form").submit();
                    }
                }
            }

            $(function() {
                $(".glass_efect_2").click(function(){
                    var index = $(this).index();
                    var id = $(this).find('td').eq(0).text();
                    window.location = "/view?type="+searchfor+"&id="+$(this).data('id')+"&type2="+type;
                });
            });

            function print_form(data) {
                var iframe = document.getElementById('print-frame');
                var doc = iframe.contentWindow.document;

                var form = create_form(data);
                doc.open();
                doc.write(form);
                doc.close();

                iframe.contentWindow.focus();
                iframe.contentWindow.print();
            }
        
        });

    </script>

</html>