<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <form action="/view" method="POST" id="view_form">
            <% if (isParamsEmpty) { %> 
                <div>ERROR: No elements selected</div>
            <% } else { %>
                
                <% titles.forEach(function(title, index) { %>
                    <div>
                    <%if(type[index] == 0){%>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly>
                   <% }else if(type[index] == 2){ %>
                        <div> Total Value : <span id="doc_total_value">0.00</span> €</div>
                        <div> Total Discounts : <span id="doc_total_disc">0.00</span> €</div>
                        <div> Total Price after Discounts : <span id="doc_total_after_disc">0.00</span> €</div>
                        <div> Total Price after Tax : <span id="doc_total_after_Tax">0.00</span> €</div>
                        <br>
        
                        <div >Discount : <input id="general_discount" class="general_discount" name="general_discount" type="number" value=0 min="0" max="100" required> %</div>
                        <div >Discount Amount: <input id="general_discount_amount" class="general_discount" name="general_discount_amount" type="number" value=0 min="0" required> €</div>
        
                        <div> Total Cost : <span id="total_cost">0.00</span> €</div>
                        <br>

                        <input id="num_of_rows" name="num_of_rows" style="display: none;">
                         <table id="doc_table">
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Discount %</th>
                                    <th>U/P</th>
                                    <th>Value</th>
                                    <th>Price After Discount</th>
                                    <th>Final Price</th>
                                </tr>
                            </thead>
                            <tbody>
   
                            </tbody>
                         </table>
                    <% }else if(type[index] == 3){ %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                    <% }else if(type[index] == 4){ %>
                        <%= title%>
                        <input type="checkbox" id="<%= title %>" disabled <% if (data[index] == 1) {%> checked <%} %>>
                    <% }else if(type[index] == 5){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                        <input type="checkbox" id="<%= title %>_checkbox_<%= index %>" 
                        <% if (data[index] == 1) { %>
                            checked 
                        <% } %>
                        onclick="document.getElementById('<%= title %>').value = this.checked ? '1' : '0';">
                    <% }else if(type[index] == 6){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" type="number">
                    <% }else if(type[index] == 7){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="wholesale_retail" value="<%= data[index] %>" readonly>
                    <% }else{ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>">
                    <% }%>
                    </div>
                <% }); %>
            <% } %>
                <input type="text" name="action" id="action" style="display: none;">
            </form>
            <div id="message_div"></span>Record has been deleted</div>
            <button id="btn1">Delete</button>
            <button id="btn2"></button>
            <button id="btn3">Save</button>
            
        </div>
    </div>
</body>
<%- include('../partials/footer'); %>
    <script type = "text/javascript" src="JSDocumentFunctions.js"></script>
    <script>
        $(document).ready(function () {
            //$("#view_form").hide();
            $("#message_div").hide();

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            let formAction = '/view';
            if (queryParams.type) {
                formAction += '?type=' + encodeURIComponent(queryParams.type);
            }
            if (queryParams.id) {
                formAction += (queryParams.type ? '&' : '?') + 'id=' + encodeURIComponent(queryParams.id);
            }
            $('#view_form').attr('action', formAction);

            var delete_deactivate = $("#Status").val();
            var btn_1_var = 'activate';
            if(delete_deactivate == 0){
                $("#btn2").text('Activate');
            }
            else if(delete_deactivate == 1){
                $("#btn2").text('Disable');
                var btn_1_var = 'disabled';
            }
            else if(delete_deactivate == 2){
                $("#btn1").hide();
                $("#btn2").hide();
                $("#btn3").hide();
                $("#message_div").show();
                $("#message_span").text(queryParams.type);
            }

            if(queryParams.type == 'docs'){
                $("#btn2").hide();
                
                var selected_items = JSON.parse(`<%- JSON.stringify(data) %>`)[7];
                var items = JSON.parse(`<%- JSON.stringify(data) %>`)[8];

                addNewRow(0,items);

                for( i in selected_items){
                    $('.doc_line_select:eq('+i+') option[value="'+selected_items[i].lineItem+'"]').prop('selected', true);

                    put_data_on_row(0, items);
                    let quantity = selected_items[i].quantity;
                    let price_of_unit = selected_items[i].price_of_unit;
                    let total = quantity*price_of_unit
                    let tax = selected_items[i].tax;
                    let totalAfterTax = total + (total*(tax/100));
                    let discount = selected_items[i].discount;
                    let discount_p = ((discount / total) * 100).toFixed(2);
                    

                    $('#quantity_'+i).val(quantity);
                    $('#tax_'+i).val(tax);
                    $('#discount_'+i).val(discount);
                    $('#discount_p_'+i).val(discount_p);
                    $('#price_of_unit_'+i).val(price_of_unit);
                    $('#total_price_of_line_'+i).text(total);
                    $('#total_price_of_line_after_disc_'+i).text(total-discount);
                    $('#final_price_of_line_'+i).text((total-discount) + ((total-discount)*(tax/100)));
                    




                    $('.remove_row').eq(i).prop('disabled', false);

                    $('#quantity_'+i).css('visibility', 'visible');
                    $('#tax_'+i).css('visibility', 'visible');
                    $('#discount_'+i).css('visibility', 'visible');
                    $('#discount_p_'+i).css('visibility', 'visible');
                    $('#price_of_unit_'+i).css('visibility', 'visible');

                    if($('#Sealed').is(':checked')){
                        $('.input').val(quantity).prop('readonly', true);
                        keepOnlySelectedOption("doc_line_item_"+i);

                        if(i < Object.keys(selected_items).length-1){
                            addNewRow(parseInt(i)+1,items);
                        }
                    }
                    else{
                        addNewRow(parseInt(i)+1,items);
                    }

                }

                function keepOnlySelectedOption(selectId) {
                    // Get the select element by its ID
                    const selectElement = document.getElementById(selectId);
                    
                    // Check if the select element exists
                    if (selectElement) {
                        // Get the selected option
                        const selectedOption = selectElement.options[selectElement.selectedIndex];
                        
                        // Clear all options
                        selectElement.innerHTML = "";
                        
                        // Add back only the selected option
                        selectElement.appendChild(selectedOption.cloneNode(true));
                    }
                }

                $(document).on('input', '.general_discount', function() {
                    let totalAfterTax = parseFloat($('#doc_total_after_tax').html()) || 0;

                    if ($(this).attr('id') === 'general_discount_amount') {
                        let discountAmount = parseFloat($(this).val()).toFixed(2) || 0;
                        let totalCost = totalAfterTax - discountAmount;
                        $('#total_cost').html(totalCost.toFixed(2));

                        let discountPercentage = (discountAmount / totalAfterTax) * 100;
                        $('#general_discount').val(discountPercentage.toFixed(2));
                    } else {
                        let discountPercentage = parseFloat($(this).val()) || 0;
                        let discountAmount = totalAfterTax * (discountPercentage / 100);
                        $('#general_discount_amount').val(discountAmount.toFixed(2));

                        let totalCost = totalAfterTax - discountAmount;
                        $('#total_cost').html(totalCost.toFixed(2));
                    }
                });

                $(document).on('input', '.input', function(){
                    var index = $(this).closest('tr').index();
                    var quantity = $('#quantity_'+index).val();
                    var price_of_unit = $('#price_of_unit_'+index).val();
                    
                    if($(this).attr('id') == 'discount_'+index){
                        $('#discount_p_'+index).val(
                                ((100*($('#discount_'+index).val()))/(quantity*price_of_unit)).toFixed(2)
                        );
                    }
                    else{
                        $('#discount_'+index).val(
                            ((quantity*price_of_unit)*($('#discount_p_'+index).val()/100)).toFixed(2)
                        );
                    }
                    

                    if($(this).val() == ""){
                        $(this).val(0)
                    }

                    calculate_row_prices(index);
                });

                function  allow_submit(){}


                function removeRow(index,submit){
                    $('#row' + index).remove();

                    // Update row indices
                    $('#doc_table tbody tr').each(function(i) {
                        $(this).attr('id', 'row' + i);
                        $(this).find('td:first').text(i + 1);
                        $(this).find('.remove_row').attr('onclick', 'removeRow(' + i + ')');
                        $(this).find('#discount_' + i).attr('id', 'discount_' + i);
                        $(this).find('#price_of_unit_' + i).attr('id', 'price_of_unit_' + i);
                        $(this).find('#total_price_of_line_' + i).attr('id', 'total_price_of_line_' + i);
                    });

                    calculate_total_cost();
                    if(!submit){
                        $('#num_of_rows').val($('#num_of_rows').val()-1);
                    }
                    allow_submit();
                }

                $(document).on('click', '.remove_row', function(){
                    removeRow( $(this).closest('tr').index(),false)
                });

                $(document).on('change', '.doc_line_select', function(){
                    var index = $(this).closest('tr').index();
                    if($('.doc_line_select').eq(index).val() != "-"){

                        $('.remove_row').eq(index).prop('disabled', false);

                        $('#quantity_'+index).css('visibility', 'visible');
                        $('#tax_'+index).css('visibility', 'visible');
                        $('#discount_'+index).css('visibility', 'visible');
                        $('#discount_p_'+index).css('visibility', 'visible');
                        $('#price_of_unit_'+index).css('visibility', 'visible');

                        put_data_on_row(index,items);
                        
                        
                        if($(this).closest('tr').is(':last-child')){
                            addNewRow(index+1,items);
                        }
                    }
                    else{
                        removeRow(index,false)
                    }
                });

                function get_item_index_from_id(index){
                    for(let i=0;i<items.length;i++){
                        if(items[i]._id == $('.doc_line_select').eq(index).val()){
                            return i;
                        }
                    };
                }

                $(document).on('change', '.doc_line_select', function(){
                    var index = $(this).closest('tr').index();
                    if($('.doc_line_select').eq(index).val() != "-"){

                        $('.remove_row').eq(index).prop('disabled', false);

                        $('#quantity_'+index).css('visibility', 'visible');
                        $('#tax_'+index).css('visibility', 'visible');
                        $('#discount_'+index).css('visibility', 'visible');
                        $('#discount_p_'+index).css('visibility', 'visible');
                        $('#price_of_unit_'+index).css('visibility', 'visible');

                        put_data_on_row(index,items);
                        
                        if($(this).closest('tr').is(':last-child')){
                            addNewRow(index+1);
                        }
                    }
                    else{
                        removeRow(index,false)
                    }
                });


            }

            $("#btn1").click(function () {
                if(confirm("Are you soure ?")){
                    $("#action").val('delete');
                    $("#view_form").submit();
                }
            });
            $("#btn2").click(function () {
                $("#action").val(btn_1_var);
                $("#view_form").submit();
            });
            $("#btn3").click(function () {
                $("#action").val('save');
                $("#view_form").submit();
            });

            function calculate_total(class_id, target_id){
                var tottal = 0;
                var lines_tottal = $('.'+class_id);

                lines_tottal.each(function() {
                    var value = parseFloat($(this).text()) || parseFloat($(this).val()) || 0; 
                    tottal += value; 
                });
                $('#'+target_id).text(tottal.toFixed(2)); // Optionally format to 2 decimal places
            }

        });

    </script>

</html>