<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <form action="/view" method="POST" id="view_form">
            <% if (isParamsEmpty) { %> 
                <div>ERROR: No elements selected</div>
            <% } else { %>
                
                <% titles.forEach(function(title, index) { %>
                    <div>
                    <%if(type[index] == 0){%>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly>
                   <% }else if(type[index] == 2 || type[index] == 4){ %>
                        <input id="num_of_rows" name="num_of_rows" style="display: none;">

                         <table id="doc_table">
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Discount %</th>
                                    <th>U/P</th>
                                    <th>Value</th>
                                    <th>Price After Discount</th>
                                    <th>Final Price</th>
                                </tr>
                            </thead>
                            <tbody>
   
                            </tbody>
                         </table>
                         <div>
                            <div>Total Value: € <span id="doc_tottal_value"></span></div>
                            <div>Total Price after Discounts: <span id="doc_tottal_p_after_d"></span> €</div>
                            <div>Total Price after Tax: <span id="doc_tottal_p_after_t"></span> €</div>
                            <div>Discount Amount ON TOP:  €</div>
                            <div>Total Discounts: <span id="doc_tottal_d_amount"> €</span></div>
                            <div >Total Cost: <span id="doc_tottal_d_amount"></span>€</div>
                         </div>
                    <% }else if(type[index] == 3){ %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                    <% }else if(type[index] == 5){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                        <input type="checkbox" id="checkbox_<%= index %>" 
                        <% if (data[index] == 1) { %>
                            checked 
                        <% } %>
                        onclick="document.getElementById('<%= title %>').value = this.checked ? '1' : '0';">
                    <% }else{ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>">
                    <% }%>
                    </div>
                <% }); %>
            <% } %>
                <input type="text" name="action" id="action" style="display: none;">
            </form>
            <div id="message_div"></span>Record has been deleted</div>
            <button id="btn1">Delete</button>
            <button id="btn2"></button>
            <button id="btn3">Save</button>
            
        </div>
    </div>
</body>
<%- include('../partials/footer'); %>
    <script type = "text/javascript" src="JSDocumentFunctions.js"></script>
    <script>
        $(document).ready(function () {
            //$("#view_form").hide();
            $("#message_div").hide();

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            let formAction = '/view';
            if (queryParams.type) {
                formAction += '?type=' + encodeURIComponent(queryParams.type);
            }
            if (queryParams.id) {
                formAction += (queryParams.type ? '&' : '?') + 'id=' + encodeURIComponent(queryParams.id);
            }
            $('#view_form').attr('action', formAction);

            var delete_deactivate = $("#Status").val();
            var btn_1_var = 'activate';
            if(delete_deactivate == 0){
                $("#btn2").text('Activate');
            }
            else if(delete_deactivate == 1){
                $("#btn2").text('Disable');
                var btn_1_var = 'disabled';
            }
            else if(delete_deactivate == 2){
                $("#btn1").hide();
                $("#btn2").hide();
                $("#btn3").hide();
                $("#message_div").show();
                $("#message_span").text(queryParams.type);
            }

            if(queryParams.type == 'docs'){
                $("#btn2").hide();
                $("#btn3").hide();

                /*calculate_total('doc_line_tottal_value', 'doc_tottal_value');
                calculate_total('doc_line_p_after_d', 'doc_tottal_p_after_d');
                calculate_total('doc_line_p_after_t', 'doc_tottal_p_after_t');
                calculate_total('doc_line_d', 'doc_tottal_d_amount');*/
                var items = JSON.parse(`<%- JSON.stringify(data) %>`)[6];
                var selected_items = JSON.parse(`<%- JSON.stringify(data) %>`)[5];

                addNewRow(0,items);
                for( i in selected_items){
                    console.log(selected_items[i])
                    $('.doc_line_select:eq('+i+') option[value="'+selected_items[i].lineItem+'"]').prop('selected', true);
                    $('#quantity_'+i).val(selected_items[i].quantity);
                    $('#tax_'+i).val(selected_items[i].tax);
                    $('#discount_'+i).val(selected_items[i].discount);
                    $('#price_of_unit_'+i).val(selected_items[i].price_of_unit);




                    $('.remove_row').eq(i).prop('disabled', false);

                    $('#quantity_'+i).css('visibility', 'visible');
                    $('#tax_'+i).css('visibility', 'visible');
                    $('#discount_'+i).css('visibility', 'visible');
                    $('#discount_p_'+i).css('visibility', 'visible');
                    $('#price_of_unit_'+i).css('visibility', 'visible');

                    addNewRow(parseInt(i)+1,items);
                }

                function  allow_submit(){}

                function removeRow(index,submit){
                    $('#row' + index).remove();

                    // Update row indices
                    $('#doc_table tbody tr').each(function(i) {
                        $(this).attr('id', 'row' + i);
                        $(this).find('td:first').text(i + 1);
                        $(this).find('.remove_row').attr('onclick', 'removeRow(' + i + ')');
                        $(this).find('#discount_' + i).attr('id', 'discount_' + i);
                        $(this).find('#price_of_unit_' + i).attr('id', 'price_of_unit_' + i);
                        $(this).find('#total_price_of_line_' + i).attr('id', 'total_price_of_line_' + i);
                    });

                    calculate_total_cost();
                    if(!submit){
                        $('#num_of_rows').val($('#num_of_rows').val()-1);
                    }
                    allow_submit();
                }



                function get_item_index_from_id(index){
                    for(let i=0;i<items.length;i++){
                        if(items[i]._id == $('.doc_line_select').eq(index).val()){
                            return i;
                        }
                    };
                }

                $(document).on('change', '.doc_line_select', function(){
                    var index = $(this).closest('tr').index();
                    if($('.doc_line_select').eq(index).val() != "-"){

                        $('.remove_row').eq(index).prop('disabled', false);

                        $('#quantity_'+index).css('visibility', 'visible');
                        $('#tax_'+index).css('visibility', 'visible');
                        $('#discount_'+index).css('visibility', 'visible');
                        $('#discount_p_'+index).css('visibility', 'visible');
                        $('#price_of_unit_'+index).css('visibility', 'visible');

                        put_data_on_row(index,items);
                        
                        if($(this).closest('tr').is(':last-child')){
                            addNewRow(index+1);
                        }
                    }
                    else{
                        removeRow(index,false)
                    }
                });

            }

            $("#btn1").click(function () {
                if(confirm("Are you soure ?")){
                    $("#action").val('delete');
                    $("#view_form").submit();
                }
            });
            $("#btn2").click(function () {
                $("#action").val(btn_1_var);
                $("#view_form").submit();
            });
            $("#btn3").click(function () {
                $("#action").val('save');
                $("#view_form").submit();
            });

            function calculate_total(class_id, target_id){
                var tottal = 0;
                var lines_tottal = $('.'+class_id);

                lines_tottal.each(function() {
                    var value = parseFloat($(this).text()) || parseFloat($(this).val()) || 0; 
                    tottal += value; 
                });
                $('#'+target_id).text(tottal.toFixed(2)); // Optionally format to 2 decimal places
            }

        });

    </script>

</html>