<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="view_css.css" />
    <link rel="stylesheet" href="my_company_css.css" />
    <link rel="stylesheet" href="time_table_css.css" />
    <link rel="stylesheet" href="list_css.css" />
    <link rel="stylesheet" href="fonts_css.css" />
    <link rel="stylesheet" href="textarea_css.css" />
    <link rel="stylesheet" href="Switch_css.css" />
    <link rel="stylesheet" href="Lock_css.css" />
    <link rel="stylesheet" href="table_css.css" />
    <link rel="stylesheet" href="buttons_css.css" />


    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />
    <!--Header-->
    <%- include('../partials/header'); %>
  </head>

  <body>
    <div class="has_sidebar asap-condensed-regular">
      <%- include('../partials/sidebar'); %>
      <div class="my_main_body">
        <h1 class="asap-condensed-extralight">View</h1>
        <div id="clients" style="display: flex;justify-content: center;align-items: center;">
          <button id="go_to_calendar" class="button_1" style="width: 50%;">Calendar</button>
        </div>
        <form action="/view" method="POST" id="view_form" class="glass_effect_2">
          <%if(status){%>
          <input type="text" id="status" name="status" value="<%=status%>" style="display: none;"/>
          <div id="status_div" style="display: flex; flex-direction: row;">
            <div id="status_mark"></div>
            <div id="status_label">Active</div>
          </div>
          <%}%>
          <input type="text" id="obj_id" name="obj_id" style="display: none" />
          <input type="text" id="obj_type2" name="obj_type2" style="display: none" />
          <input type="text" id="obj_type" name="obj_type" style="display: none" />

          <div style="display: grid; grid-template-columns: 50% 50%">
            <div id="type2" style="display: flex; justify-content: left"></div>
            <div style="display: flex; justify-content: right"><%=registrationDate%></div>
          </div>
          <input type="text" id="Status" value="<%=status%>" style="display: none" />

          <% if (isParamsEmpty) { %>
          <div>ERROR: No elements selected</div>
          <% } else { %> <% titles.forEach(function(title, index) { %>
          <div>
            <%if(type[index] == 0){%> <%= title %>
            <label class="my_label_1" for="<%= title %>"></label>
            <input class="input_type_1" name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly />
            <% }else if(type[index] == 3){ %>
            <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none" />
            <% }else if(type[index] == 4){ %> <%= title%> <input type="checkbox" id="<%= title %>" onclick="return false;" <%= data[index] == 1 ? 'checked' : '' %> /> <% }else if(type[index] == 5){ %> <%= title %>
            <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none" />
            <input type="checkbox" id="<%= title %>_checkbox_<%= index %>" <% if (data[index] == 1) { %> checked <% } %> onclick="document.getElementById('<%= title %>').value = this.checked ? '1' : '0';"> <% }else if(type[index] == 6){ %> <%= title %><br />
            <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" type="number" class="input_type_2 my_width" />
            <% }else if(type[index] == 7){ %> <%= data[index] == 1 ? 'Retail' : 'Wholesale' %><input name="input<%= index %>" id="wholesale_retail" value="<%= data[index] %>" style="display: none" />
            <% }else if(type[index] == 8){ %>
            <div class="table_container">
              <table>
                <thead>
                  <tr>
                    <th>A/A</th>
                    <th>Title</th>
                    <th>Count</th>
                </thead>
                <tbody>
                  <% data[index].forEach(function(row, index) { %>
                  <tr onclick="go_to_item('<%= row._id %>')">
                    <td><%= index +1 %></td>
                    <td><%= row.title %></td>
                    <td><%= row.count %></td>
                  </tr>
                  <%}) %>
                </tbody>
              </table>
            </div>
            <% }else if(type[index] == 9){ %>
            <br />
            <div><%= title %></div>
            <div class="textarea_container">
              <textarea name="input<%= index %>" id="<%= title %>"><%= data[index] %></textarea>
            </div>
            <% }else if(type[index] == 10){ %>

            <div id="nodes_conainer">
              <% data[index].forEach(function(node, index) {%>
              <div style="margin-top: 10px;">
                <div class="message_header">
                  <div class="person"><%=node.sender.firstName%> <%=node.sender.lastName%></div>
                  <div class="reg_d"><%=node.registrationDate%></div>
                </div>

                <div class="node_text"><%=node.text%></div>

                <% if (index === data.length - 1) { %>
                <div class="node_status"><%=node.status%></div>
                <% } %>
              </div>
              <%});%>
            </div>

            <% }else if(type[index] == 11){ %>
            <div>
              <img src="<%= data[index] %>" id="company_logo" />
            </div>
            <% }else if(type[index] == 12){ %>
            <div style="display: grid; grid-template-columns: 50% 50%">
              <% data[index].forEach(function(s, index) {%>
              <div style="display: flex; flex-direction: row">
                <div class="switch">
                  <div class="back_text">
                    <div></div>
                    <div></div>
                  </div>
                  <div class="slider">
                    <button class="slider-button active series_transforms_check" id="<%= s._id%>"></button>
                  </div>
                </div>
                <label class="my_label_1"><%= s.acronym%> - <%= s.title%></label>
              </div>
              <%});%>
              <input type="text" id="series_transforms_list" name="series_transforms_list" style="display: none;"/>
            </div>
            <% }else if(type[index] == 13){ %>
            <div id="<%= title %>" class="my_label_1"><%= title %> : <%= data[index] %></div>
            <% }else if(type[index] == 14){ %> <%= title %> :
            <select id="select_warehose" name="select_warehose"></select>
            <% }else if(type[index] == 15){ %>
            <div style="display: grid; grid-template-columns: 30% 30% 30%; gap: 5%">
              <div class="lock_container">
                <label id="lock_label" for="">Unsealed</label>

                <div class="lock">
                  <div id="lock_div" class="top_lock"></div>
                  <div class="bottom_lock"></div>
                </div>
                <input id="series_sealed" name="series_sealed" value="<%= data[index].sealed %>" style="display: none" />
              </div>

              <div>
                <div class="switch_container" id="effects_warehouse_y_n">
                  <div class="switch">
                    <div class="back_text">
                      <div></div>
                      <div></div>
                    </div>
                    <div class="slider">
                      <button class="slider-button active" id="effects_warehouse_y_n_switch_btn"></button>
                    </div>
                  </div>
                  <div class="switch_label" id="effects_warehouse_y_n_label">Does Not Effects Warehouse</div>
                </div>
                <input id="effects_warehouse_y_n_input" name="effects_warehouse_y_n_input" value="<%= data[index].effects_warehouse %>" style="display: none" />

                <div class="switch_container" id="effects_warehouse_switch">
                  <div class="switch">
                    <div class="back_text">
                      <div></div>
                      <div></div>
                    </div>
                    <div class="slider">
                      <button class="slider-button" id="effects_warehouse_switch_btn"></button>
                    </div>
                  </div>
                  <div class="switch_label" id="effects_warehouse_label">Adds</div>
                </div>
              </div>

              <div>
                <div class="switch_container" id="effects_accounts_y_n">
                  <div class="switch">
                    <div class="back_text">
                      <div></div>
                      <div></div>
                    </div>
                    <div class="slider">
                      <button class="slider-button active" id="effects_accounts_y_n_switch_btn"></button>
                    </div>
                  </div>
                  <div class="switch_label" id="effects_accounts_y_n_label">Does Not Affects Account</div>
                </div>
                <input id="effects_accounts_y_n_input" name="effects_accounts_y_n_input" value="<%= data[index].effects_account %>" style="display: none" />

                <div class="switch_container" id="effects_accounts_switch">
                  <div class="switch">
                    <div class="back_text">
                      <div></div>
                      <div></div>
                    </div>
                    <div class="slider">
                      <button class="slider-button" id="effects_accounts_switch_btn"></button>
                    </div>
                  </div>
                  <div class="switch_label" id="effects_accounts_label">Adds</div>
                </div>
              </div>
              <br>
            </div>
            <% }else if(type[index] == 16){ %>
              <div id="<%= title %>" class="my_label_1"><%= title %> : <%= data[index] %></div>
              <div>
                <% for (let i = 0; i < 5; i++) { %>
                  <% if (i < data[index]) { %>
                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FAB005/star--v1.png" alt="star--v1"/>
                  <% } else { %>
                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/4D4D4D/star--v1.png" alt="star--v1"/>
                  <% } %>
                <% } %>
                
              </div>
            <% }else{ %> <label class="my_label_1" for="<%= title %>"><%= title %></label>
            <input name="input<%= index %>" id="<%= title %>" class="input_type_1" value="<%= data[index] %>" />
            <% }%>
          </div>
          <% }); %> <% } %>
          <input type="text" name="action" id="action" style="display: none" />
          <div id="button_container">
            <button type="button" class="asap-condensed-regular" id="btn2"></button>
            <button class="asap-condensed-regular" id="btn3">Save</button>
          </div>
        </form>
        <!--div id="message_div">Record has been deleted</div-->
        <button class="asap-condensed-regular delete_btn" id="btn1" style="margin-bottom: 50px;">Delete</button>

        <div id="client_div" style="display: none;">
          <div style="width: 100%;display:flex;gap:25%">
            <input type="date" id="from_date" class="date_filters input_type_1"/>
            <input type="date" id="to_date" class="date_filters input_type_1"/>
    
          </div>
            <div class="table_container" id="move_table" >
              <table>
                  <thead>
                      <tr>
                        <th>A/A</th>
                        <th>Date</th>
                        <th>Doc</th>
                        <th>Credit</th>
                        <th>Debit</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
        </div>
        <div id="admin_view_company"style="display: none;">
          <div class="table_container" id="req_table" style="margin-left: 2%;width: 90%;">
            <table>
                <thead>
                    <tr>
                      <th>A/A</th>
                      <th>Type</th>
                      <th>Title</th>
                      <th>Sender</th>
                      <th>Receiver</th>
                      <th>Reg Date</th>
                      <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </body>
 
  <script type="text/javascript" src="JSFrontEndFunctions.js"></script>

  <script>
    function go_to_item(id){
      window.location.href = '/view?type=items&id='+id
    }

    function go_to_doc(id){
      window.location.href = '/view?type=docs&id='+id
    }
    $(document).ready(function () {
      var selected_date = get_today();
      var calendar_spectrum = "-";
      var clients_users = [];

      const secondary_data = JSON.parse(`<%- JSON.stringify(secondary_data) %>`);

      if($("#status").val()==1){
        $("#status_label").html("Active")
        $("#status_mark").addClass('active')
      }

      if ($("#Title").text() == "Title : ") {
        $("#Title").hide();
      }

      $("#clients").hide();
      $("#message_div").hide();

      //$("#day_data_users").hide();

      $("#day").hide();
      $("#week").hide();
      $("#month").hide();

      $("#day_picker").hide();
      $("#month_picker_month").hide();
      $("#month_picker").hide();

      $("#time_table_div").hide();

      $("#day_data").hide();

      const params = new URLSearchParams(window.location.search);
      var queryParams = {};
      for (const [key, value] of params.entries()) {
        queryParams[key] = value;
      }

      $("#obj_id").val(queryParams.id);
      $("#obj_type2").val(queryParams.type2);
      $("#obj_type").val(queryParams.type);

      $("#c_obj_id").val(queryParams.id);
      $("#c_obj_type2").val(queryParams.type2);
      $("#c_obj_type").val(queryParams.type);

      let formAction = "/view";
      if (queryParams.type) {
        formAction += "?type=" + encodeURIComponent(queryParams.type);
      }
      if (queryParams.id) {
        formAction += (queryParams.type ? "&" : "?") + "id=" + encodeURIComponent(queryParams.id);
      }
      if (queryParams.timetable) {
        $("#calendar_view_selection").val(queryParams.timetable);
        $("#tt_" + queryParams.timetable).addClass("selected");
      }
      if (queryParams.type2 && queryParams.type2 != null && queryParams.type2 !== "null") {
        if (queryParams.type2 == 1) {
          $("#type2").html("Sales");
        }
        $("#type2").html("Purchases");
      }
      if (queryParams.from_date) {
        $('#from_date').val(queryParams.from_date);
      }
      if (queryParams.to_date) {
        $('#to_date').val(queryParams.to_date);
      }

      $("#view_form").attr("action", formAction);

      var delete_deactivate = $("#Status").val();
      var btn_1_var = "activate";
      if (delete_deactivate == 0) {
        $("#btn2").text("Activate");
      } else if (delete_deactivate == 1) {
        $("#btn2").text("Disable");
        var btn_1_var = "disabled";
      } else if (delete_deactivate == 2) {
        $("#btn1").hide();
        //$("#btn2").hide();
        $("#btn2").text("Activate");
        $("#btn3").hide();
        $("#message_div").show();
        $("#message_span").text(queryParams.type);
      }

      if (queryParams.type == "nodes") {
        $("#Type").css("text-align", "center");
        $("#Type").text($("#Type").text().replace("Type : ", ""));
        if ($("#Type").text() == "Hiring") {
          $("#Title").hide();
          $("#nodes_conainer").hide();
          $(".textarea_container").parent().hide();
          $("#btn3").text("Accept");
          $("#btn2").text("Accept");
        } else {
          $("#btn3").text("Ececute");
        }
        var node = $(".node_status:last");

        if (node.text() == "2") {
          $("#btn1").prop("disabled", true);
        } else if (node.text() == "4") {
          $("#btn1").prop("disabled", true);
          $("#btn2").prop("disabled", true);
        }

        $("#btn1").hide();

        $("#btn3").click(function () {
          $("#action").val(2);//executed
          $("#view_form").submit();
        });
        $("#btn2").text("Reject");
        $("#btn2").css("background-color", "red");
        $("#btn2").click(function () {
          event.preventDefault();
          $("#action").val(4);//rejected
          $("#view_form").submit();
        });
      }
      else if (queryParams.type == "clients") {
        clients_users = secondary_data.users;
 
        $("#clients").show();
        $("#btn1").text("Remove");
        $("#btn2").hide();
        $("#btn3").hide();
        $("#btn1").click(function (event) {
          event.preventDefault();
          if(confirm('Are You Sure ?')){
            $("#action").val("remove_client");
            $("#view_form").submit();
          }
          
        });
      }
      else if (queryParams.type == "reports") {
        $("#btn1").hide();
        $("#btn2").hide();
        $("#btn3").hide();
        $("#status_div").hide();
      }
      else if (queryParams.type == "reviews") {
        $("#btn1").hide();
        $("#btn2").hide();
        $("#btn3").hide();
      }
      else if (queryParams.type == 'persons'){
        $("#client_div").show();
        var table = $("#move_table tbody");
        for (let i = 0; i < secondary_data.length; i++) {
          table.append(`
            <tr class="glass_effect_2" onclick="go_to_doc('${secondary_data[i]._id}')">
              <td>${i + 1}</td>
              <td>${secondary_data[i].registrationDate}</td>
              <td>${secondary_data[i].doc}</td>
              <td>${secondary_data[i].credit}</td>
              <td>${secondary_data[i].debit}</td>
            </tr>
          `);
        }
      }
      else if (queryParams.type == 'companies'){
        $("#admin_view_company").show();
        
        var requestsTable = $("#req_table table tbody");
        for (let i = 0; i < secondary_data.nodes.length; i++) {
          requestsTable.append(`<tr class="glass_effect_2" onclick="window.location='/view?type=nodes&id=${secondary_data.nodes[i]._id}'">
            <td>${i + 1}</td>
            <td>${secondary_data.nodes[i].type}</td>
            <td>${secondary_data.nodes[i].title}</td>
            <td>${secondary_data.nodes[i].sender.firstName} ${secondary_data.nodes[i].sender.lastName}</td>
             <td>${secondary_data.nodes[i].receiver}</td>

            <td>${secondary_data.nodes[i].registrationDate}</td>
            <td>${secondary_data.nodes[i].status}</td>`);
        }
      }
      else {
        $("#btn1").click(function () {
          event.preventDefault();
          if (confirm("Are you soure ?")) {
            $("#action").val("delete");
            $("#view_form").submit();
          }
        });
        $("#btn2").click(function () {
          event.preventDefault();
          $("#action").val(btn_1_var);
          $("#view_form").submit();
        });
        $("#btn3").click(function () {
          event.preventDefault();
          $("#action").val("save");
          $("#view_form").submit();
        });
      }

      if (queryParams.type == "series") {
        for (s of secondary_data.selected_series) {
          $("#" + s).removeClass("active");
          if ($("#series_transforms_list").val() == "") {
            $("#series_transforms_list").val(s);
          } else {
            $("#series_transforms_list").val($("#series_transforms_list").val() + ";" + s);
          }
        }

        if ($("#series_sealed").val() == 1) {
          $("#lock_label").html("Sealed");
          $("#lock_div").addClass("locked");
        }

        $("#effects_warehouse_switch").hide();
        $("#effects_accounts_switch").hide();
        if ($("#effects_warehouse_y_n_input").val() == 1) {
          $("#effects_warehouse_y_n_switch_btn").removeClass("active");
          $("#effects_warehouse_y_n_label").html("Effects Warehouse");
          $("#effects_warehouse_switch").show();
        }
        if ($("#effects_warehouse_y_n_input").val() == -1) {
          $("#effects_warehouse_y_n_switch_btn").removeClass("active");
          $("#effects_warehouse_y_n_label").html("Effects Warehouse");
          $("#effects_warehouse_switch").show();
          $("#effects_warehouse_switch_btn").addClass("active");
          $("#effects_warehouse_label").html("Subtracts");
        }

        if ($("#effects_accounts_y_n_input").val() == 1) {
          $("#effects_accounts_y_n_switch_btn").removeClass("active");
          $("#effects_accounts_y_n_label").html("Effects Accounts");
          $("#effects_accounts_switch").show();
        }
        if ($("#effects_accounts_y_n_input").val() == -1) {
          $("#effects_accounts_y_n_switch_btn").removeClass("active");
          $("#effects_accounts_y_n_label").html("Effects Accounts");
          $("#effects_accounts_switch").show();
          $("#effects_accounts_switch_btn").addClass("active");
          $("#effects_accounts_label").html("Subtracts");
        }
      }

      function calculate_total(class_id, target_id) {
        var tottal = 0;
        var lines_tottal = $("." + class_id);

        lines_tottal.each(function () {
          var value = parseFloat($(this).text()) || parseFloat($(this).val()) || 0;
          tottal += value;
        });
        $("#" + target_id).text(tottal.toFixed(2)); // Optionally format to 2 decimal places
      }

      $(".go_to_btn").click(function () {
        event.preventDefault();
        var url_page, url_type, url_id;
        if (queryParams.type == "Warehouse") {
          url_page = "items";
          url_id = $(this).attr("id");
        }
        window.location = "/view?type=" + url_page + "&id=" + url_id;
      });

      $(".lock").click(function (event) {
        event.stopPropagation();
        event.preventDefault();

        // Find the .top_lock inside the clicked .lock and toggle the locked class
        const lockContainer = $(this).closest(".lock_container");
        const topLock = $(this).find(".top_lock");
        const label = lockContainer.find("label");
        const input = lockContainer.find("input");

        // Toggle the locked class
        topLock.toggleClass("locked");

        // Update the label text and input value based on the lock state
        if (topLock.hasClass("locked")) {
          label.text("Sealed"); // Update label text
          input.val(1); // Update input value
        } else {
          label.text("Unsealed"); // Update label text
          input.val(0); // Update input value
        }
      });

      $(".date_filters").change(function(event){
        event.preventDefault();
        var from_date = $("#from_date").val();
        var to_date = $("#to_date").val();
        window.location = "/view?type=persons&id="+$("#obj_id").val()+"&from_date="+from_date+"&to_date="+to_date;
      });

      $("#effects_accounts_switch_btn").click(function (event) {
        event.preventDefault();
        event.preventDefault(); // Prevent the default action
        this.classList.toggle("active"); // Toggle the `active` class
        if ($(this).hasClass("active")) {
          $("#effects_accounts_label").html("Subtracts"); // Change text to "+"
          $("#effects_accounts_y_n_input").val(-1);
        } else {
          $("#effects_accounts_label").html("Adds");
          $("#effects_accounts_y_n_input").val(1);
        }
      });
      

      $("#effects_accounts_y_n_switch_btn").click(function (event) {
        event.preventDefault();
        event.preventDefault(); // Prevent the default action
        this.classList.toggle("active"); // Toggle the `active` class
        $("#effects_accounts_switch").toggle();

        if ($(this).hasClass("active")) {
          $("#effects_accounts_y_n_input").val(0);
          $("#effects_accounts_y_n_label").html("Does Not Affects Account");
        } else {
          $("#effects_accounts_y_n_input").val(1);
          $("#effects_accounts_y_n_label").html("Affects Account");
        }
      });

      $("#effects_warehouse_switch_btn").click(function (event) {
        event.preventDefault(); // Prevent the default action
        this.classList.toggle("active"); // Toggle the `active` class
        if ($(this).hasClass("active")) {
          $("#effects_warehouse_label").html("Subtracts"); // Change text to "+"
          $("#effects_warehouse_y_n_input").val(-1);
        } else {
          $("#effects_warehouse_label").html("Adds");
          $("#effects_warehouse_y_n_input").val(1);
        }
      });

      $("#effects_warehouse_y_n_switch_btn").click(function (event) {
        event.preventDefault(); // Prevent the default action
        this.classList.toggle("active"); // Toggle the `active` class
        $("#effects_warehouse_switch").toggle();

        if ($(this).hasClass("active")) {
          $("#effects_warehouse_y_n_label").html("Does Not Affects Warehouse");
          $("#effects_warehouse_y_n_input").val(0);
        } else {
          $("#effects_warehouse_y_n_label").html("Affects Warehouse");
          $("#effects_warehouse_y_n_input").val(1);
        }
      });

      

      $("#go_to_calendar").click(function(){
        window.location = '/calendar?id='+$("#obj_id").val()+'&timetable=month&timetable_user=all';
      });
    });
  </script>
</html>
