<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <form action="/view" method="POST" id="view_form">
            <% if (isParamsEmpty) { %> 
                <div>ERROR: No elements selected</div>
            <% } else { %>
                
                <% titles.forEach(function(title, index) { %>
                    <div><%= title %>
                    <%if(type[index] == 0){%>
                         <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly>
                    <% }else{ %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>">
                    <% }%>
                    </div>
                <% }); %>
            <% } %>
                <input type="text" name="action" id="action" style="display: none;">
            </form>
            <div id="message_div"><span id="message_span"></span> has been deleted</div>
            <button id="btn1">Delete</button>
            <button id="btn2"></button>
            <button id="btn3">Save</button>
            
        </div>
    </div>
</body>
<%- include('../partials/footer'); %>
    <script>
        $(document).ready(function () {
            //$("#view_form").hide();
            $("#message_div").hide();

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            let formAction = '/view';
            if (queryParams.type) {
                formAction += '?type=' + encodeURIComponent(queryParams.type);
            }
            if (queryParams.id) {
                formAction += (queryParams.type ? '&' : '?') + 'id=' + encodeURIComponent(queryParams.id);
            }
            $('#view_form').attr('action', formAction);

            var delete_deactivate = $("#Status").val();
            var btn_1_var = 'activate';
            if(delete_deactivate == 0){
                $("#btn1").attr('disabled', true);
                $("#btn2").text('Activate');
            }
            else if(delete_deactivate == 1){
                $("#btn2").text('Disable');
                var btn_1_var = 'disabled';
            }
            else if(delete_deactivate == 2){
                $("#btn1").hide();
                $("#btn2").hide();
                $("#message_div").show();
                $("#message_span").text(queryParams.type);
            }

            $("#back_btn").click(function () {
                window.location = "/list?searchfor=items&type=-";
            });

            $("#btn1").click(function () {
                $("#action").val('delete');
                $("#view_form").submit();
            });
            $("#btn2").click(function () {
                $("#action").val(btn_1_var);
                $("#view_form").submit();
            });
            $("#btn3").click(function () {
                $("#action").val('save');
                $("#view_form").submit();
            });


        });

    </script>

</html>