<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <link rel="stylesheet" href="view_css.css">
    <link rel="stylesheet" href="my_company_css.css">
    <link rel="stylesheet" href="time_table_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <form action="/view" method="POST" id="view_form">
            <% if (isParamsEmpty) { %> 
                <div>ERROR: No elements selected</div>
            <% } else { %>
                
                <% titles.forEach(function(title, index) { %>
                    <div>
                    <%if(type[index] == 0){%>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly>
                   <% }else if(type[index] == 2){ %>
                        <div> Total Value : <span id="doc_total_value">0.00</span> €</div>
                        <div> Total Discounts : <span id="doc_total_disc">0.00</span> €</div>
                        <div> Total Price after Discounts : <span id="doc_total_after_disc">0.00</span> €</div>
                        <div> Total Price after Tax : <span id="doc_total_after_tax">0.00</span> €</div>
                        <br>
        
                        <div >Discount : <input id="general_discount" class="general_discount" name="general_discount" type="number" value=0 min="0" max="100" required> %</div>
                        <div >Discount Amount: <input id="general_discount_amount" class="general_discount" name="general_discount_amount" type="number" value=0 min="0" required> €</div>
        
                        <div> Total Cost : <span id="doc_total_cost">0.00</span> €</div>
                        <br>

                        <input id="num_of_rows" name="num_of_rows" style="display: none;">
                         <table id="doc_table">
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Discount %</th>
                                    <th>U/P</th>
                                    <th>Value</th>
                                    <th>Price After Discount</th>
                                    <th>Final Price</th>
                                </tr>
                            </thead>
                            <tbody>
   
                            </tbody>
                         </table>
                    <% }else if(type[index] == 3){ %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                    <% }else if(type[index] == 4){ %>
                        <%= title%>
                        <input type="checkbox" id="<%= title %>" disabled <% if (data[index] == 1) {%> checked <%} %>>
                    <% }else if(type[index] == 5){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                        <input type="checkbox" id="<%= title %>_checkbox_<%= index %>" 
                        <% if (data[index] == 1) { %>
                            checked 
                        <% } %>
                        onclick="document.getElementById('<%= title %>').value = this.checked ? '1' : '0';">
                    <% }else if(type[index] == 6){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" type="number">
                    <% }else if(type[index] == 7){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="wholesale_retail" value="<%= data[index] %>" readonly>
                    <% }else if(type[index] == 8){  %>
                            <table>
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Count</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data[index].forEach(function(row, index) { %>
                                    <tr>
                                        <td><%= index +1 %></td>
                                        <td><%= row.title %></td>
                                        <td><%= row.count %></td>
                                        <th><button id="<%= row.id %>" class="go_to_btn">go</button></th>
                                    </tr>
                                <%}) %>
                            </tbody>
                        </table>
                    <% }else if(type[index] == 9){  %>
                        <%= title %><br>
                        <textarea name="input<%= index %>" id="<%= title %>"><%= data[index] %></textarea>
                    <% }else if(type[index] == 10){  %>
                        <div>
                            <% data[index].forEach(function(node, index) {%>
                                <div id="nodes_conainer">
                                    <div>Sender : <a><%=node.sender.firstName%> <%=node.sender.lastName%></a></div>
                                    <div>Reg Date : <%=node.registrationDate%></div>
                                    <div>Status : <span class="node_status"><%=node.status%></span></div>
                                    <div>Text : <%=node.text%></div>
                                </div>
                            <%});%>
                        </div>
                    <% }else if(type[index] == 11){  %>
                        <div><img src="<%= data[index] %>" id="company_logo"></div>
                    <% }else{ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>">
                    <% }%>
                    </div>
                <% }); %>
            <% } %>
                <input type="text" name="action" id="action" style="display: inline;">
                <input type="text" name="date_from" id="date_from">
                <input type="text" name="date_to" id="date_to">

                <div id="day_data">
                    <div>
                        <div id ='day_data_date'></div>
                        <select id="user_selected">
                            <option  value="all">All</option>
                        </select>
                        <input name="day_data_input_user_id" id="day_data_input_user_id">
                        <input name="day_data_input_node_id" id="day_data_input_node_id">
                        <div id="day_data_div_client_name"></div>
                        <input type="date" name="day_data_input_date" id="day_data_input_date">
                        <div>
                            From <input name="time_table_hours_start" id="time_table_hours_start" type="number" max="23"min="0">
                            :
                            <input name="time_table_minutes_start" id="time_table_minutes_start" type="number" max="59"min="0">

                            To <input name="time_table_hours_end" id="time_table_hours_end" type="number" max="23"min="0">
                            :
                            <input name="time_table_minutes_end" id="time_table_minutes_end" type="number" max="59"min="0">
                        </div>
                        <input id="new_edit_time_teble" name="new_edit_time_teble" style="display: none;">
                        <label for="time_table_notes">Notes</label><br>
                        <textarea placeholder="Notes..." name="time_table_notes" id="time_table_notes"></textarea>
                        <button id="time_table_submit_btn">Submit</button>
                        <button id="close_day_data" type="button">close</button>
                        <button id="delete_event" type="button">Delete</button>
                    </div>
                </div>
            </form>
            <div id="message_div"></span>Record has been deleted</div>
            <button id="btn1">Delete</button>
            <button id="btn2"></button>
            <button id="btn3">Save</button>
            <div id="clients">
                <button>ΦΠΑ</button>
                <button id="time_table_btn">Time Table</button>
                <div id="time_table_div">
                    <div>
                        <button class="calendar_date_reage_btn" id="tt_day">Day</button>
                        <button class="calendar_date_reage_btn" id="tt_week">Week</button>
                        <button class="calendar_date_reage_btn" id="tt_month">Month</button>
                        <input id="day_picker" type="date" onchange="day_picker">
                        <select id="user_select">
                            <option  value="all">All</option>
                        </select>
                    </div>
                    <div id="calendar_div">
                        <div>
                            <div id="selected_month"></div>
                            <div id="selected_year"></div>
                        </div>

                        <div id="day" class="day now day_date">
                        </div>
                        <div id="week" class="week">
                            <div class="days">
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                                <div class="day week_date"></div>
                            </div>
                        </div>
                        <div id="month" class="month">
                            <div class="days">
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                                <div class="week">
                                    <div class="days">
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                        <div class="day month_date"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</body>
<%- include('../partials/footer'); %>
    <script type = "text/javascript" src="JSFrontEndFunctions.js"></script>
    <script type = "text/javascript" src="JSCalendarFunctions.js"></script>

    <script>
        $(document).ready(function () {
            var selected_date = get_today();
            var calendar_spectrum = '-';
            var clients_users = [];

            const secondery_data = JSON.parse(`<%- JSON.stringify(secondery_data) %>`);

            $("#clients").hide();
            $("#message_div").hide();

            $("#day").hide();
            $("#week").hide();
            $("#month").hide();

            $("#day_picker").hide();
            $("#month_picker_month").hide();
            $("#month_picker").hide();

            $("#time_table_div").hide();

            $("#day_data").hide();

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            let formAction = '/view';
            if (queryParams.type) {
                formAction += '?type=' + encodeURIComponent(queryParams.type);
            }
            if (queryParams.id) {
                formAction += (queryParams.type ? '&' : '?') + 'id=' + encodeURIComponent(queryParams.id);
            }
            $('#view_form').attr('action', formAction);

            var delete_deactivate = $("#Status").val();
            var btn_1_var = 'activate';
            if(delete_deactivate == 0){
                $("#btn2").text('Activate');
            }
            else if(delete_deactivate == 1){
                $("#btn2").text('Disable');
                var btn_1_var = 'disabled';
            }
            else if(delete_deactivate == 2){
                $("#btn1").hide();
                $("#btn2").hide();
                $("#btn3").hide();
                $("#message_div").show();
                $("#message_span").text(queryParams.type);
            }

            if(queryParams.type == 'docs'){
                $("#btn2").hide();
                
                
                var selected_items = JSON.parse(`<%- JSON.stringify(data) %>`)[8];
                var items = JSON.parse(`<%- JSON.stringify(data) %>`)[9];

                addNewRow(0,items);

                for( i in selected_items){
                    $('.doc_line_select:eq('+i+') option[value="'+selected_items[i].lineItem+'"]').prop('selected', true);

                    put_data_on_row(0, items);
                    let quantity = selected_items[i].quantity;
                    let price_of_unit = selected_items[i].price_of_unit;
                    let total = quantity*price_of_unit
                    let tax = selected_items[i].tax;
                    let totalAfterTax = total + (total*(tax/100));
                    let discount = selected_items[i].discount;
                    let discount_p = ((discount / total) * 100).toFixed(2);
                    

                    $('#quantity_'+i).val(quantity);
                    $('#tax_'+i).val(tax);
                    $('#discount_'+i).val(discount);
                    $('#discount_p_'+i).val(discount_p);
                    $('#price_of_unit_'+i).val(price_of_unit);
                    $('#total_price_of_line_'+i).text(total);
                    $('#total_price_of_line_after_disc_'+i).text(total-discount);
                    $('#final_price_of_line_'+i).text((total-discount) + ((total-discount)*(tax/100)));
                    
                    $('.remove_row').eq(i).prop('disabled', false);

                    $('#quantity_'+i).css('visibility', 'visible');
                    $('#tax_'+i).css('visibility', 'visible');
                    $('#discount_'+i).css('visibility', 'visible');
                    $('#discount_p_'+i).css('visibility', 'visible');
                    $('#price_of_unit_'+i).css('visibility', 'visible');

                    if($('#Sealed').is(':checked')){
                        $('.input').val(quantity).prop('readonly', true);
                        keepOnlySelectedOption("doc_line_item_"+i);

                        if(i < Object.keys(selected_items).length-1){
                            addNewRow(parseInt(i)+1,items);
                        }
                    }
                    else{
                        addNewRow(parseInt(i)+1,items);
                    }

                }

                function keepOnlySelectedOption(selectId) {
                    // Get the select element by its ID
                    const selectElement = document.getElementById(selectId);
                    
                    // Check if the select element exists
                    if (selectElement) {
                        // Get the selected option
                        const selectedOption = selectElement.options[selectElement.selectedIndex];
                        
                        // Clear all options
                        selectElement.innerHTML = "";
                        
                        // Add back only the selected option
                        selectElement.appendChild(selectedOption.cloneNode(true));
                    }
                }

                $(document).on('input', '.general_discount', function() {
                    let totalAfterTax = parseFloat($('#doc_total_after_tax').html()) || 0;

                    if ($(this).attr('id') === 'general_discount_amount') {
                        let discountAmount = parseFloat($(this).val()) || 0;
                        let totalCost = totalAfterTax - discountAmount;
                        $('#doc_total_cost').html(totalCost.toFixed(2));

                        let discountPercentage = (discountAmount / totalAfterTax) * 100;
                        $('#general_discount').val(discountPercentage.toFixed(2));
                    } else {
                        
                        let discountPercentage = parseFloat($(this).val()) || 0;
                        let discountAmount = totalAfterTax * (discountPercentage / 100);
                        $('#general_discount_amount').val(discountAmount.toFixed(2));

                        let totalCost = totalAfterTax - discountAmount;
                        $('#doc_total_cost').html(totalCost.toFixed(2));
                    }
                });

                $(document).on('input', '.input', function(){
                    var index = $(this).closest('tr').index();
                    var quantity = $('#quantity_'+index).val();
                    var price_of_unit = $('#price_of_unit_'+index).val();
                    
                    if($(this).attr('id') == 'discount_'+index){
                        $('#discount_p_'+index).val(
                                ((100*($('#discount_'+index).val()))/(quantity*price_of_unit)).toFixed(2)
                        );
                    }
                    else{
                        $('#discount_'+index).val(
                            ((quantity*price_of_unit)*($('#discount_p_'+index).val()/100)).toFixed(2)
                        );
                    }

                    calculate_row_prices(index);
                });

                function  allow_submit(){
                    var inputs = $('.input');

                    // Loop through each input to check if it's empty
                    inputs.each(function() {
                        if ($(this).val() === "") {
                            $(this).val("0"); // Set empty inputs to 0
                        }
                    });
                }


                function removeRow(index,submit){
                    $('#row' + index).remove();

                    // Update row indices
                    $('#doc_table tbody tr').each(function(i) {
                        $(this).attr('id', 'row' + i);
                        $(this).find('td:first').text(i + 1);
                        $(this).find('.remove_row').attr('onclick', 'removeRow(' + i + ')');
                        $(this).find('#discount_' + i).attr('id', 'discount_' + i);
                        $(this).find('#price_of_unit_' + i).attr('id', 'price_of_unit_' + i);
                        $(this).find('#total_price_of_line_' + i).attr('id', 'total_price_of_line_' + i);
                    });

                    calculate_total_cost();
                    if(!submit){
                        $('#num_of_rows').val($('#num_of_rows').val()-1);
                    }
                    allow_submit();
                }

                $(document).on('click', '.remove_row', function(){
                    removeRow( $(this).closest('tr').index(),false)
                });

                $(document).on('change', '.doc_line_select', function(){
                    var index = $(this).closest('tr').index();
                    if($('.doc_line_select').eq(index).val() != "-"){

                        $('.remove_row').eq(index).prop('disabled', false);

                        $('#quantity_'+index).css('visibility', 'visible');
                        $('#tax_'+index).css('visibility', 'visible');
                        $('#discount_'+index).css('visibility', 'visible');
                        $('#discount_p_'+index).css('visibility', 'visible');
                        $('#price_of_unit_'+index).css('visibility', 'visible');

                        put_data_on_row(index,items);
                        
                        
                        if($(this).closest('tr').is(':last-child')){
                            addNewRow(index+1,items);
                        }
                    }
                    else{
                        removeRow(index,false)
                    }
                });

                function get_item_index_from_id(index){
                    for(let i=0;i<items.length;i++){
                        if(items[i]._id == $('.doc_line_select').eq(index).val()){
                            return i;
                        }
                    };
                }

                $(document).on('change', '.doc_line_select', function(){
                    var index = $(this).closest('tr').index();
                    if($('.doc_line_select').eq(index).val() != "-"){

                        $('.remove_row').eq(index).prop('disabled', false);

                        $('#quantity_'+index).css('visibility', 'visible');
                        $('#tax_'+index).css('visibility', 'visible');
                        $('#discount_'+index).css('visibility', 'visible');
                        $('#discount_p_'+index).css('visibility', 'visible');
                        $('#price_of_unit_'+index).css('visibility', 'visible');

                        put_data_on_row(index,items);
                        
                        if($(this).closest('tr').is(':last-child')){
                            addNewRow(index+1);
                        }
                    }
                    else{
                        removeRow(index,false)
                    }
                });


            }
            else if(queryParams.type == 'nodes'){
                var node = $(".node_status:last");

                if(node.text() == '2'){
                    $("#btn1").prop('disabled', true);
                }
                else if(node.text() == '4'){
                    $("#btn1").prop('disabled', true);
                    $("#btn2").prop('disabled', true);
                }

                $("#btn3").hide();

                $("#btn1").text("Ececuted");
                $("#btn1").click(function () {
                    $("#action").val('executed');
                    $("#view_form").submit();
                });
                $("#btn2").text("Reject")
                $("#btn2").click(function () {
                    $("#action").val('rejected');
                    $("#view_form").submit();
                });
            }
            else if (queryParams.type == 'clients'){
                clients_users = secondery_data.users;
                console.log(secondery_data.nodes)
                
                for( client of clients_users){
                    $("#user_select").append(
                        `<option value="${client._id}">${client.firstName} ${client.lastName}</option>`
                    );
                    $("#user_selected").append(
                        `<option value="${client._id}">${client.firstName} ${client.lastName}</option>`
                    );
                }
                $("#clients").show();

                if(queryParams.timetable){
                    show_hide_time_table();
                    show_calendar(queryParams.timetable);
                }
                if(queryParams.timetable_user){
                    $('#user_select').val(queryParams.timetable_user);
                }
            }
            else{
                $("#btn1").click(function () {
                    if(confirm("Are you soure ?")){
                        $("#action").val('delete');
                        $("#view_form").submit();
                    }
                });
                $("#btn2").click(function () {
                    $("#action").val(btn_1_var);
                    $("#view_form").submit();
                });
                $("#btn3").click(function () {
                    $("#action").val('save');
                    $("#view_form").submit();
                });
            }

            function calculate_total(class_id, target_id){
                var tottal = 0;
                var lines_tottal = $('.'+class_id);

                lines_tottal.each(function() {
                    var value = parseFloat($(this).text()) || parseFloat($(this).val()) || 0; 
                    tottal += value; 
                });
                $('#'+target_id).text(tottal.toFixed(2)); // Optionally format to 2 decimal places
            }
           
            $(".go_to_btn").click(function () {
                event.preventDefault();
                var url_page,url_type,url_id;
                if(queryParams.type == "Warehouse"){
                    url_page = "items";
                    url_id = $(this).attr('id');
                }
                window.location = "/view?type="+url_page+"&id="+url_id;
            });

            $(".calendar_date_reage_btn").click(function () {
            day_week_month($(this).attr("id").replace("tt_", ""));
            });


            $('#user_select').change(function(){
                window.location = "/view?type=clients&id="+queryParams.id+"&timetable="+queryParams.timetable
                +'&timetable_user='+$('#user_select').val();
            })

            $('#user_selected').change(function(){
                $('#day_data_input_user_id').val($('#user_selected').val());
            });

            function day_week_month(input){
                window.location = "/view?type=clients&id="+queryParams.id+"&timetable="+input
                +'&timetable_user='+$('#user_select').val()
            }

            function show_calendar(input){
                if(input == 'month'){
                    $("#day").hide();
                    $("#week").hide();
                    $("#month").show();
                }
                else if(input == 'week'){
                    $("#day").hide();
                    $("#week").show();
                    $("#month").hide();
                }
                else if(input == 'day'){
                    $("#day").show();
                    $("#week").hide();
                    $("#month").hide();

                    $("#day_picker").show();
                }

                $("#day_picker").show();
                $("#day_picker").val(selected_date)
                calendar_spectrum = input;
                pick_date()

                put_data_on_calendar('all')
            }

            $("#time_table_btn").click(function(){
                show_hide_time_table();
            });
            
            function show_hide_time_table(){
                $("#time_table_div").toggle();
                $("#date_from").val(selected_date)
                $("#day_picker").val(selected_date)
            }

            function pick_date(){
                selected_date = $('#day_picker').val();
                show_selected_month_year(selected_date)
                put_dates(
                    calendar_spectrum,
                    $('#day_picker').val()
                );
            }

            $("#close_day_data").click(function(event){
                event.preventDefault();
                $("#day_data").hide();
            });

            $("#time_table_submit_btn").click(function(event) {
                event.preventDefault();
                $("#action").val('time_table');
                $("#view_form").submit();
            });
            $("#delete_event").click(function(event) {
                event.preventDefault();
                $("#action").val('time_table_delete');
                $("#view_form").submit();
            });

            function show_selected_month_year(date){
                $("#selected_month").text(date.split('-')[1]);
                $("#selected_year").text(date.split('-')[0]);
            }

            function put_data_on_calendar(user){
                var days = $(".day.now");
                var selected_month = $("#selected_month").text();
                var selected_year = $("#selected_year").text();
                var cal_days = [];

                days.each(function (index, element) {
                    cal_days.push(parseInt($(element).text()));
                });
                for( n of secondery_data.nodes){
                    if(selected_year == new Date(n.data.date_start).getFullYear()){
                        if(selected_month  == new Date(n.data.date_start).getMonth()+1){
                            if (cal_days.includes(new Date(n.data.date_start).getDate())) {
                                const index = cal_days.findIndex(day => day === new Date(n.data.date_start).getDate());
                                // Get the events container div inside the selected day element
                                var eventsContainer = $(days[index]).find('.events_container');
                                if(queryParams.timetable_user == n.user._id || queryParams.timetable_user =='all'){
                                        console.log(eventsContainer.text())
                                        eventsContainer.append("<div class='day_line' id='" + n._id + "'>" +
                                        "<div class=event_id style='display:none'>" + n.user._id+"</div>" +
                                        "<div>" + n.user.firstName + " " + n.user.lastName + "</div>" +
                                        "<div> From " + n.data.hour_start + " : " + n.data.minutes_start + "</div>" +
                                        "<div> To " + n.data.hour_end + " : " + n.data.minutes_end + "</div>" +
                                        "<div> Notes : <br>" + n.text + "</div>" +
                                        "</div>"
                                    );
                                }

                            }
                        }
                    }
                }
            }

            $('.day_line').click(function (event) {
                view_edit_event(
                    $(this).attr('id'),
                    secondery_data.nodes
                );
            });
            
            $('.add_event').click(function (event) {
                let user_id = $("#user_select").val();
                
                // Generate the date string
                let year = $("#selected_year").text();
                let month = $("#selected_month").text().padStart(2, "0");
                let day = $(this).attr('id').replace("add_event_for_", "").padStart(2, "0");
                let date = `${year}-${month}-${day}`;

                new_event(
                    $(this).attr('id'),
                    secondery_data.nodes,
                    date,
                    user_id
            )});

        });

    </script>

</html>