<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css">
    <!--Header-->
    <%- include('../partials/header'); %>
</head>

<body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>
        <div>
            <form action="/view" method="POST" id="view_form">
            <% if (isParamsEmpty) { %> 
                <div>ERROR: No elements selected</div>
            <% } else { %>
                
                <% titles.forEach(function(title, index) { %>
                    <div>
                    <%if(type[index] == 0){%>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" readonly>
                   <% }else if(type[index] == 2 || type[index] == 4){ %>
                         <table id="doc_table">
                            <thead>
                                <tr>
                                    <th>A/A</th>
                                    <th>Title</th>
                                    <th>Qty</th>
                                    <th>Tax</th>
                                    <th>Discount</th>
                                    <th>Discount %</th>
                                    <th>U/P</th>
                                    <th>Value</th>
                                    <th>Price After Discount</th>
                                    <th>Final Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i< Object.keys(data[index]).length ; i++){%>
                                    <tr id='<%=i%>'>
                                        <td id='<%=i%>0'><%=i%></td>
                                        <% if(type[index] == 4){ %>
                                            <td>title</td>
                                            <td><%= data[index][i].quantity%></td>
                                            <td><%= data[index][i].tax%></td>
                                            <td class="doc_line_d"></td>><%= data[index][i].discount%></td>
                                            <td><%= (100*data[index][i].discount)/data[index][i].price_of_unit%></td>
                                        <% }else if(type[index] == 2){ %>
                                            <td>
                                                <select>
                                                    <% items_all.forEach(function(item) { %>
                                                        <option value="<%= item._id %>"
                                                        <% if(item._id == data[index][i].lineItem) {%>
                                                            selected
                                                        <% }%>
                                                        ><%= item.title %></option>
                                                    <% }) %>
                                                </select>
                                            </td>
                                            <td><input id='<%=i%>2' value="<%= data[index][i].quantity %>"></td>
                                            <td><input id='<%=i%>3' value="<%= data[index][i].tax %>"></td>
                                            <td><input id='<%=i%>4' class="doc_line_d" value="<%= data[index][i].discount %>"></td>
                                            <td><input id='<%=i%>5' value="<%= (100*data[index][i].discount)/data[index][i].price_of_unit %>"></td>
                                        <% } %>
                                        <td><%= data[index][i].price_of_unit%></td>
                                        <td class="doc_line_tottal_value"><%= data[index][i].quantity * data[index][i].price_of_unit%></td>
                                        <td class="doc_line_p_after_d"><%=data[index][i].quantity * (data[index][i].price_of_unit - data[index][i].discount)%></td>
                                        <td class="doc_line_p_after_t"><%=(data[index][i].quantity * (data[index][i].price_of_unit - data[index][i].discount))+((data[index][i].quantity * (data[index][i].price_of_unit - data[index][i].discount))*(data[index][i].tax/100))%></td>
                                    </tr>
                                <%}%>
                            </tbody>
                         </table>
                         <div>
                            <div>Total Value: € <span id="doc_tottal_value"></span></div>
                            <div>Total Price after Discounts: € <span id="doc_tottal_p_after_d"></span></div>
                            <div>Total Price after Tax: € <span id="doc_tottal_p_after_t"></span></div>
                            <div>Discount Amount ON TOP:  €</div>
                            <div>Total Discounts: € <span id="doc_tottal_d_amount"></span></div>
                            <div >Total Cost: ${total_cost.toFixed(2)} €</div>
                         </div>
                    <% }else if(type[index] == 3){ %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                    <% }else if(type[index] == 5){ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>" style="display: none;">
                        <input type="checkbox" id="checkbox_<%= index %>" 
                        <% if (data[index] == 1) { %>
                            checked 
                        <% } %>
                        onclick="document.getElementById('<%= title %>').value = this.checked ? '1' : '0';">
                    <% }else{ %>
                        <%= title %>
                        <input name="input<%= index %>" id="<%= title %>" value="<%= data[index] %>">
                    <% }%>
                    </div>
                <% }); %>
            <% } %>
                <input type="text" name="action" id="action" style="display: none;">
            </form>
            <div id="message_div"></span>Record has been deleted</div>
            <button id="btn1">Delete</button>
            <button id="btn2"></button>
            <button id="btn3">Save</button>
            
        </div>
    </div>
</body>
<%- include('../partials/footer'); %>
    <script>
        $(document).ready(function () {
            //$("#view_form").hide();
            $("#message_div").hide();

            const params = new URLSearchParams(window.location.search);
            var queryParams = {};
            for (const [key, value] of params.entries()) {
                queryParams[key] = value;
            }

            let formAction = '/view';
            if (queryParams.type) {
                formAction += '?type=' + encodeURIComponent(queryParams.type);
            }
            if (queryParams.id) {
                formAction += (queryParams.type ? '&' : '?') + 'id=' + encodeURIComponent(queryParams.id);
            }
            $('#view_form').attr('action', formAction);

            var delete_deactivate = $("#Status").val();
            var btn_1_var = 'activate';
            if(delete_deactivate == 0){
                $("#btn2").text('Activate');
            }
            else if(delete_deactivate == 1){
                $("#btn2").text('Disable');
                var btn_1_var = 'disabled';
            }
            else if(delete_deactivate == 2){
                $("#btn1").hide();
                $("#btn2").hide();
                $("#btn3").hide();
                $("#message_div").show();
                $("#message_span").text(queryParams.type);
            }

            if(queryParams.type == 'docs'){
                $("#btn2").hide();
                $("#btn3").hide();

                calculate_total('doc_line_tottal_value', 'doc_tottal_value');
                calculate_total('doc_line_p_after_d', 'doc_tottal_p_after_d');
                calculate_total('doc_line_p_after_t', 'doc_tottal_p_after_t');
                calculate_total('doc_line_d', 'doc_tottal_d_amount');
            }

            $("#btn1").click(function () {
                if(confirm("Are you soure ?")){
                    $("#action").val('delete');
                    $("#view_form").submit();
                }
            });
            $("#btn2").click(function () {
                $("#action").val(btn_1_var);
                $("#view_form").submit();
            });
            $("#btn3").click(function () {
                $("#action").val('save');
                $("#view_form").submit();
            });

            function calculate_total(class_id, target_id){
                var tottal = 0;
                var lines_tottal = $('.'+class_id);

                lines_tottal.each(function() {
                    var value = parseFloat($(this).text()) || parseFloat($(this).val()) || 0; 
                    tottal += value; 
                });
                $('#'+target_id).text(tottal.toFixed(2)); // Optionally format to 2 decimal places
            }

        });

    </script>

</html>