<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <!-- fontawesome for icons -->
    <script
      src="https://kit.fontawesome.com/d2c306d566.js"
      crossorigin="anonymous"
    ></script>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="accountant_main_css.css" />
    <link rel="stylesheet" href="list_css.css" />

    <%- include('../partials/header'); %>
  <body>
    <div class="has_sidebar">
        <%- include('../partials/sidebar'); %>

        <div>
        <h1>Admin Main</h1>
        <h2>Welcome <%- user.firstName %></h2>
        
        <%if(pending_reports.length>0){%>
            <table>
                <thead class="glass_effect_1">
                    <tr>
                        <th>A/A</th>
                        <th>Reason</th>
                        <th>Date</th>
                        <th>Reporter</th>
                        <th>Reported</th>
                    </tr>
                </thead>
                <tbody>
                    <% pending_reports.forEach(function(row, index) { %>
                        <tr class="glass_effect_2" style="background-color: lime" id="<%=row.id%>">
                           <td><%=index+1%></td>
                          <td><%=row.reason%></td>
                          <td><%=row.registrationDate%></td>
                          <td><%=row.reporter.firstName%> <%=row.reporter.lastName%></td>
                          <td><%=row.reported.firstName%> <%=row.reported.lastName%></td>
                        </tr>
                      <% }); %>
                      <% viewed_reports.forEach(function(row, index) { %>
                        <tr class="glass_effect_2"id="<%=row.id%>">
                           <td><%=index+1 + pending_reports.length%></td>
                          <td><%=row.reason%></td>
                          <td><%=row.registrationDate%></td>
                          <td><%=row.reporter.firstName%> <%=row.reporter.lastName%></td>
                          <td><%=row.reported.firstName%> <%=row.reported.lastName%></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        <%}%>
        <div id="stats-div" name="stats-div">
            <h2>Site Stats</h2>
            <%  var admins = 0;
                var users = 0;
                var accountants = 0;
                for (var i =0;i < user_list.length; i++){
                    if(user_list[i].type == 'admin'){
                        admins++;
                    }
                    if(user_list[i].type == 'user'){
                        users++;
                    }
                    if(user_list[i].type == 'accountant'){
                        accountants++;
                    }
                    
                } 
            %>
            Number of Accountants : <%= accountants %>
            <br>
            Number of Users : <%= users %>
            <br>
            Number of Admins : <%= admins %>
            <br>
            Total : <%= accountants + users + admins %>

        </div>
    </div>

</div>
    <script>
        $(function() {
            $(".glass_effect_2").click(function(){
                var id = $(this).attr('id');
                window.location = "/view?type=nodes&id="+id;
            });
        });
   </script>    
</body>

</html>