<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <!-- fontawesome for icons -->
    <script
      src="https://kit.fontawesome.com/d2c306d566.js"
      crossorigin="anonymous"
    ></script>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="table_css.css" />
    <link rel="stylesheet" href="fonts_css.css">

    <%- include('../partials/header'); %>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>

            <div class="asap-condensed-regular">
            <h1>Admin Main</h1>
            <h2>Welcome <%- user.firstName %></h2>
            
            <div style="display: grid;grid-template-columns: 49% 49%; gap: 2%;" class="asap-condensed-regular">
                <div id="stats">
                    <h2>Site Stats</h2>
                    <div>
                        Number of Accountants :
                        <span id="admin_total_num"></span>
                    </div>
                    <div>
                        Number of companies :
                        <span id="companies_total_num"></span>
                    </div>
                    <div>
                        Number of Users :
                        <span id="users_total_num"></span>
                    </div>
                </div>
                <div>
                    <h2 class="color_white asap-condensed-extralight">Licenses</h2>
                    <div class="table_container">
                        <table id="payroll_list">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Current Licenses</th>
                                    <th>Requested</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( l of license_nodes_list){%>
                                <tr class="glass_effect_2">
                                    <th><%=l.company.name%></th>
                                    <th><%=l.company.license.bought%></th>
                                    <th><%=l.company.license.requested%></th>
                                    <th><button>1</button><button>2</button></th>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        </div>
    </body>
    <script>
         $(document).ready(function () {
            const users = JSON.parse(`<%- JSON.stringify(users) %>`);
            const companies = JSON.parse(`<%- JSON.stringify(companies) %>`);
            $("#admin_total_num").html(
                users.admins.active.length +
                users.admins.disabled.length +
                users.admins.deleted.length +
                users.admins.banned.length 
            )

            $("#companies_total_num").html(
                companies.active.length +
                companies.disabled.length 
            )

         });
   </script>    
</html>