<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <div id="user-info-admin" name="user-info-admin">
        <h1><%= user.firstName; %> <%= user.lastName; %></h1>
        <h2>Email: <%= user.email; %></h2>
        <h2>User type: <%= user.type; %></h2>
        <h2>Ban status: <%= user.banned; %></h2>

        <form action="?"  method="POST">
            <% if(user.banned === true){ %>
                <input type="submit" id="unban-button" name="unban-button" value="Unban User">
            <% }else{ %>
                <input type="submit" id="ban-button" name="ban-button" value="Ban User">
            <% } %>
        </form>
        
    </div>
    <h1>Reports</h1>
    <hr>
    <h1>Ratings and comments</h1>
    <hr>
    <h1>Relationships</h1>
</body>
</html>