<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modal.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <title>User Profile</title>
    <%- include('../partials/header'); %>
</head>
<body>
    <div id="user-info-admin-div" name="user-info-admin-div">
        <h1><%= user_profile.firstName; %> <%= user_profile.lastName; %></h1>
        <h2>Email: <%= user_profile.email; %></h2>
        <h2>User type: <%= user_profile.type; %></h2>
        <h2>User status: <%= user_profile.account_status; %></h2>

        <form action="/changeBanStatus?id=<%=user_profile._id%>"  method="POST">
            <% if(user_profile.account_status === "banned"){ %>
                <input type="submit" id="change_ban_status_button" name="change_ban_status_button" value="Unban">
            <% }else{ %>
                <input type="submit" id="change_ban_status_button" name="change_ban_status_button" value="Ban">
            <% } %>
        </form>
        
    </div>
    <div id="user-reviews-admin-div" name="user-reviews-admin-div">
        <%if(reviews_for_user.length > 0){%>
            <h2>Reviews</h2>
            <%for(var i=0;i < reviews_for_user.length;i++){
                for(var j=0;j < user_list.length;j++){
                    if(reviews_for_user[i].reviewer_id == user_list[j].id){ %>
                        <span>Rating: <%= reviews_for_user[i].rating.toString() %>/5</span>
                        <br>
                        <span>Date: <%= reviews_for_user[i].registrationDate %></span>
                        <br>
                        <span><%= reviews_for_user[i].text %></span>
                        <br>
                        <form action="/remove-review?id=<%=reviews_for_user[i]._id%>"  method="POST">
                            <input type="submit" id="remove_review_button" name="remove_review_button" value="Remove review">
                        </form>
                        <br>
                        <hr>
                    <%}
                }
            }
        }%>
    </div>
    <hr>
    <div id="relationships-admin-div" name="relationships-admin-div">
        <% if(user_profile.type == "accountant" && user_profile.clients.length > 0){ %>
            <h2>Clients</h2>
            <% for(var i=0;i < user_list.length;i++){ 
                for(var j=0;j < user_profile.clients.length ;j++){
                    if(user_list[i].id == user_profile.clients[j].id && user_profile.clients[j].status != "pending"){ %>
                        <a href="/user-profile?id=<%=user_list[i].id%>"><%=user_list[i].firstName%> <%=user_list[i].lastName%></a>
                        <form action="/remove-relationship?id_user=<%=user_list[i].id%>&id_acc=<%=user_profile._id%>"  method="POST">
                            <input type="submit" id="remove_relationship_button" name="remove_relationship_button" value="Remove">
                        </form>
                        <br>
                    <%}
                } 
            }
        }
        else if(user_profile.type == "user" && user_profile.myaccountant.status == "assigned"){%>
            <h2>Accountant</h2>
            <%for(var i=0;i < user_list.length ;i++){
                if(user_list[i].id == user_profile.myaccountant.id){ %>
                    <a href="/user-profile?id=<%=user_list[i].id%>"><%=user_list[i].firstName%> <%=user_list[i].lastName%></a>
                    <form action="/remove-relationship?id_user=<%=user_profile._id%>&id_acc=<%=user_list[i]._id%>"  method="POST">
                        <input type="submit" id="remove_relationship_button" name="remove_relationship_button" value="Remove">
                    </form>
                    <br>
                <%}
            }
        }
        else if(user_profile.type == "user" && user_profile.myaccountant.status == "self_accountant"){%>
            <h2>Accountant</h2>
            <span>This user is a self-accountant</span>
        <%}
        else if(user_profile.type == "user" && user_profile.myaccountant.status == "pending"){%>
            <h2>Accountant</h2>
            <span>This user has an application pending</span>
        <%}%>
    </div>

    <div id="general-reports-admin-div" name="general-reports-admin-div">
        <%if(general_reports.length > 0){ %>
            <h2>General Reports</h2>
            <%for(var i=general_reports.length - 1; i>=0 ;i--){ %>
                <span>Report Reason: <%= general_reports[i].reason %></span>
                <br>
                <span>Reported on: <%= general_reports[i].registrationDate %></span>
                <br>
                <button class="reportButtons" id="visitReport" name="visitReport" onclick="modal.createAndOpen('<%- general_reports[i]._id %>','<%- general_reports[i].reason %>', '<%- general_reports[i].text %>', '<%- general_reports[i].registrationDate %>')">Details</button>
                <br>
                <br>
            <%}%>
            <hr>
        <%}%>
    </div>
    
    <%if((reports_for_user.length > 0) || (reports_by_user.length > 0)){%>
        <h2>User Reports</h2>
        <span>Show Reports For User</span>
        <label class="switch">
            <input type="checkbox" id="reports-toggle" name="reports-toggle" onclick="modal.showCorrectReports()">
            <span class="slider round"></span>
        </label>
        <span>Show Reports By User</span>
        <br>

        <div id="reports-for-user-admin-div" name="reports-for-user-admin-div">
            <span id="no-reports-for-span" name="no-reports-for-span">No reports to show</span>
            <%if(reports_for_user.length > 0){ %>
                <script>document.getElementById('no-reports-for-span').style.display = 'none';</script>
                <%for(var i=reports_for_user.length - 1; i>=0 ;i--){ %>
                    <span>Report Reason: <%= reports_for_user[i].reason %></span>
                    <br>
                    <span>Reported on: <%= reports_for_user[i].registrationDate %></span>
                    <br>
                    <% 
                        var reporter = null;
                        for(var j=0;j < user_list.length;j++){
                            if(user_list[j].id == reports_for_user[i].reporter_id){
                                reporter = user_list[j];
                                break;
                            }
                        }
                    %>
                    <span>Reported by: <a href="/user-profile?id=<%=reports_for_user[i].reporter_id%>"><%=reporter.firstName%> <%=reporter.lastName%></a></span>
                    <br>
                    <button class="reportButtons" id="visitReport" name="visitReport" onclick="modal.createAndOpen('<%- reports_for_user[i]._id %>','<%- reports_for_user[i].reason %>', '<%- reports_for_user[i].text %>', '<%- reports_for_user[i].registrationDate %>')">Details</button>
                    <br>
                    <br>
                <%}
            }%>
        </div>

        <div id="reports-by-user-admin-div" name="reports-by-user-admin-div"  style="display: none;">
            <span id="no-reports-by-span" name="no-reports-by-span">No reports to show</span>
            <%if(reports_by_user.length > 0){%>
                <script>document.getElementById('no-reports-by-span').style.display = 'none';</script>
                <%for(var i=reports_by_user.length - 1; i>=0 ;i--){ %>
                    <span>Report Reason: <%= reports_by_user[i].reason %></span>
                    <br>
                    <span>Reported on: <%= reports_by_user[i].registrationDate %></span>
                    <br>
                    <% 
                        var reported = null;
                        for(var j=0;j < user_list.length;j++){
                            if(user_list[j].id == reports_by_user[i].reported_id){
                                reported = user_list[j];
                                break;
                            }
                        }
                    %>
                    <span>Reported: <a href="/user-profile?id=<%=reports_by_user[i].reported_id%>"><%= reported.firstName%> <%= reported.lastName%></a></span>
                    <br>
                    <button class="reportButtons" id="visitReport" name="visitReport" onclick="modal.createAndOpen('<%- reports_by_user[i]._id %>','<%- reports_by_user[i].reason %>', '<%- reports_by_user[i].text %>', '<%- reports_by_user[i].registrationDate %>')">Details</button>
                    <br>
                    <br>
                <%}
            }%>
        </div>
    <%}%>
    <%- include('../partials/footer'); %>

</body>

<script>
     class ReportModal{
        constructor({
            title,
            details,
            date,
            reviewed,
            dismissed,
            cancel
        }){
            this.title = title;
            this.details = details;
            this.date = date;
            this.reviewed = 'Mark as reviewed',
            this.dismissed = 'Dismiss',
            this.cancel = 'X'
        }
    
        
        createAndOpen(id, reason, text, date, resolve, reject){
            this.modalElem = document.createElement('div');
            this.modalElem.classList.add('modal');
            setTimeout(()=>{
                this.modalElem.classList.add('open');
            }, 400);
    
    
            const modalContentElem = document.createElement('div');
            modalContentElem.classList.add('content');
    
            this.modalElem.appendChild(modalContentElem);
    
            //cancel
            const cancelTextElem = document.createElement('button');
            cancelTextElem.classList.add('cancel');
            cancelTextElem.textContent = this.cancel;
    
            modalContentElem.appendChild(cancelTextElem);
    
            cancelTextElem.addEventListener('click', () =>{
                this.close();
            });
    
            this.modalElem.addEventListener('click', event => {
                if (event.target.className === 'modal open') {
                    this.close()
                }
            });
    
            
            //title
            const titleTextElem = document.createElement('p');
            titleTextElem.classList.add('title');
            titleTextElem.textContent = reason;
    
            modalContentElem.appendChild(titleTextElem);
    
            //date
            const dateTextElem = document.createElement('p');
            dateTextElem.classList.add('date');
            dateTextElem.textContent = date;
    
            modalContentElem.appendChild(dateTextElem);
    
    
            //details
            const detailsTextElem = document.createElement('p');
            detailsTextElem.classList.add('details');
            detailsTextElem.textContent = text;
    
            modalContentElem.appendChild(detailsTextElem);
    
            //reviewed
            const reviewedButtonForm = document.createElement('form');
            reviewedButtonForm.setAttribute('action', '/review-report?id='+id);
            reviewedButtonForm.setAttribute('method', 'POST');
            
            const reviewedTextElem = document.createElement('input');
            reviewedTextElem.setAttribute('type', 'submit');
            reviewedTextElem.classList.add('reviewed');
            reviewedTextElem.value = this.reviewed;
    
            reviewedButtonForm.appendChild(reviewedTextElem);
            modalContentElem.appendChild(reviewedButtonForm);
    
    
            //dismissed
            const dismissedButtonForm = document.createElement('form');
            dismissedButtonForm.setAttribute('action', '/dismiss-report?id='+id);
            dismissedButtonForm.setAttribute('method', 'POST');
    
    
            const dismissedTextElem = document.createElement('input');
            dismissedTextElem.setAttribute('type', 'submit');
            dismissedTextElem.classList.add('dismissed');
            dismissedTextElem.value = this.dismissed;
    
            dismissedButtonForm.appendChild(dismissedTextElem);
            modalContentElem.appendChild(dismissedButtonForm);
    
            document.body.appendChild(this.modalElem);
        }
    
        open(){
            return new Promise((resolve, reject)=>{
                this.createAndOpen(resolve, reject);
            });
        }
    
        close(){
            this.modalElem.classList.remove('open');
            setTimeout(()=>{
                document.body.removeChild(this.modalElem);
            }, 400);
        }
    
        showCorrectReports(){
            if(document.getElementById('reports-toggle').checked){
                document.getElementById('reports-for-user-admin-div').style.display = 'none';
                document.getElementById('reports-by-user-admin-div').style.display = 'block';
            }
            else{
                document.getElementById('reports-for-user-admin-div').style.display = 'block';
                document.getElementById('reports-by-user-admin-div').style.display = 'none';
            }
        }
    
    }


    const modal = new ReportModal({
        title: 'Title Goes Here',
        details: 'These are the Details',
        date: 'This is the Date',
        reporter:'This is the Person Reporting',
        reported:'This is the Person being Reported'
    });
</script>

</html>