<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="general_css.css">
</head>
<header id="header" name="header">
    <div id="app-name-div" name="app-name-div">
        <a href="/"><h2>Our Web Application</h2></a>
    </div>
    <div id="menu" name="menu">
        <a href="settings">Settings</a>
        <!-- Will be a pop-up not a unique page-->
        <%if(user.type != 'admin'){%>
            <a href="profile-page">Profile</a>
            <select name="notifications" id="notifications" onchange="NotificationClick(this.value)">
                <option value="title" selected>Notifications <%= notification_list.length %></option>
                    <%for(var i = 0; i < notification_list.length; i++){
                        if(notification_list[i].type == "hiring-request-notification"){%>
                            <option value="/clients^<%= notification_list[i]._id%>">People want to hire you!</option>
                        <%}
                        if(notification_list[i].type == "assigned-request-user-notification"){%>
                            <option value="/my-accountant^<%= notification_list[i]._id%>">An accountant agreed to work with you!</option>
                        <%}
                        if(notification_list[i].type == "rejected-request-user-notification"){%>
                            <option value="/my-accountant^<%= notification_list[i]._id%>">An accountant has chosen not to work with you!</option>
                        <%}
                        if(notification_list[i].type == "review-notification"){%>
                            <option value="/profile-page^<%= notification_list[i]._id%>">Someone left a Review!</option>
                        <%}
                        if(notification_list[i].type == "assignments-status-notification"){%>
                            <option value="/my-accountant^<%= notification_list[i]._id%>">An assignment changed status!</option>
                        <%}
                        if(notification_list[i].type == "admin-relationship-sever-user"){%>
                            <option value="/my-accountant^<%= notification_list[i]._id%>">Admin has removed your accountant!</option>
                        <%}
                        if(notification_list[i].type == "admin-relationship-sever-acc"){%>
                            <option value="/clients^<%= notification_list[i]._id%>">Admin has removed a client!</option>
                        <%}
                    }%>
            </select>
        <%}%>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>

</header>
<script>
    function NotificationClick(value){
      
        var components = value.toString().split("^");
        fetch("/notification-read", {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify({notification_id: components[1]})
        }).then(res => {
            if(res.ok){
                window.location.replace(components[0]);
            }
        });  
    }
      
</script>
</html>