<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <!-- fontawesome for icons -->
    <script
      src="https://kit.fontawesome.com/d2c306d566.js"
      crossorigin="anonymous"
    ></script>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="accountant_main_css.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/header'); %>
  </head>
  <body>
    <div class="has_sidebar">
      <%- include('../partials/sidebar'); %>
      <div>
        <h1>Accountant main page</h1>
        <h2>Welcome <%= user.firstName %> <%= user.lastName %></h2>
        
        <div>
          <h2>Pending Requests</h2>
          <% if(pending_nodes_list.length > 0){%>
            <table>
              <thead>
                <tr>
                  <th class="">Type</th>
                  <th class="">Title</th>
                  <th class="">Registration Date</th>
                  <th class="">Due Date</th>
                  <th class="">Company</th>
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <% pending_nodes_list.forEach(function(row, index) {
                  if (row.status === 3){%>
                    <tr style="background-color: lime">
                  <%}else{%>
                    <tr>
                  <%}%>
                    <td><%=row.type%></td>
                    <td><%=row.title%></td>
                    <td><%=row.reg_date%></td>
                    <td><%=row.due_date%></td>
                    <td><%=row.company%></td>
                    <td><button onclick="window.location.href = 'view?type=nodes&id=<%= row.id %>'">
                      View</button></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <%}else{%>
            <p>You have no pending requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2>Executed Requests</h2>
          <% if(executed_nodes_list.length > 0){%>
            <table>
              <thead>
                <tr>
                  <th class="">Type</th>
                  <th class="">Title</th>
                  <th class="">Registration Date</th>
                  <th class="">Due Date</th>
                  <th class="">Company</th>
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <% executed_nodes_list.forEach(function(row, index) {%>
                  <tr>
                    <td><%=row.type%></td>
                    <td><%=row.title%></td>
                    <td><%=row.reg_date%></td>
                    <td><%=row.due_date%></td>
                    <td><%=row.company%></td>
                    <td><button           onclick="window.location.href = 'view?type=nodes&id=<%= row.id %>'">
                      View</button></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <%}else{%>
            <p>You have no executed requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2>Rejected Requests</h2>
          <% if(rejected_nodes_list.length > 0){%>
            <table>
              <thead>
                <tr>
                  <th class="">Type</th>
                  <th class="">Title</th>
                  <th class="">Registration Date</th>
                  <th class="">Due Date</th>
                  <th class="">Company</th>
                  <th class=""></th>
                </tr>
              </thead>
              <tbody>
                <% rejected_nodes_list.forEach(function(row, index) {%>
                  <tr>
                    <td><%=row.type%></td>
                    <td><%=row.title%></td>
                    <td><%=row.reg_date%></td>
                    <td><%=row.due_date%></td>
                    <td><%=row.company%></td>
                    <td><button           onclick="window.location.href = 'view?type=nodes&id=<%= row.id %>'">
                      View</button></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          <%}else{%>
            <p>You have no rejected requests at the moment</p>
            <%}%>
        </div>

      </div>
    </div>
  </body>
  <%- include('../partials/footer'); %>
  <script>

  </script>
</html>
