<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Page</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="accountant_main_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>Accountant main page</h1>
        <h2>Welcome <%= user.firstName %> <%= user.lastName %></h2>
        <div>
            <h2>My Requests</h2>
            <div id="requests_div">
                <table id="my_requests_record">
                    <tr> <!-- This is a table row -->
                        <th>Type</th> <!-- Table header cell -->
                        <th>Title</th>
                        <th>RegistrationDate</th>
                        <th>Status</th>
                        <th> </th>
                    </tr>
                </table>
                <form action="/accountant-main-act-on-request" method="POST" id="delete_request_from">
                    <input name="request_id" id="request_id">
                    <input name="request_action" id="request_action">
                    <button id="submit_from_delete_request_btn" type="submit">Submit</button>
                </form>
            </div>
            <form id="requests_answer_div">
                <textarea></textarea>
                <input id="request_form_input" type="text">
                <button id="request_form_submit_btn" type="submit">submit</button>
            </form>
        </div>
        <div id="pages-div" name="pages-div">
            <a href="working">working page</a>
            <a href="clients">client list</a>
            <a href="assignment-history">assignment history</a>
        </div>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        const timestamp_options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };

        var requests;
        try {
            requests = JSON.parse(`<%- JSON.stringify(requests) %>`);
        } catch (error) {
            console.error("Error parsing JSON:", error);
        }

        var clients;
        try {
            clients = JSON.parse(`<%- JSON.stringify(clients) %>`);
        } catch (error) {
            console.error("Error parsing JSON:", error);
        }

        const requests_answer_div = $("#requests_answer_div");
        requests_answer_div.hide();
        const requests_div = $("#requests_div");
        
        var request_sender_div = "";
        const requests_table = $("#my_requests_record");
        if(requests.length == 0){
            requests_table.hide()
            $("#my_requests_div").append($("<p>").text("You haven't made any requests addressed to your current accountant"))
        }
        else{
            requests.forEach(request => {
                const row = $("<tr>");
                const cell_type = $("<td>").text(request.type);
                const cell_title = $("<td>").text(request.title);
                const date = new Date(request.registrationDate);
                const cell_reg_date = $("<td>").text(date.toLocaleString('en-US', timestamp_options));
                const cell_status = $("<td>").text(request.status);
                const cell_actions = $("<td>");
                const btn_view = $("<button>").text("View").click(act_on_request('view', request._id));
                const btn_execute= $("<button>").text("Execute").click(function() {
                    $("#request_id").val(request._id);
                    $("#request_action").val('execute');
                    //$("#submit_from_delete_request_btn").click()
                });
                
                requests_table.append(row);
                row.append(cell_type);
                row.append(cell_title);
                row.append(cell_reg_date);
                row.append(cell_status);
                row.append(cell_actions);
                cell_actions.append(btn_view);
                cell_actions.append(btn_execute);
            });

            function act_on_request(action, request_id){
                $("#request_id").val(request_id);
                $("#request_action").val(action);
                //$("#submit_from_delete_request_btn").click()
            }
        }
    </script>

</html>