<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <!-- fontawesome for icons -->
    <script
      src="https://kit.fontawesome.com/d2c306d566.js"
      crossorigin="anonymous"
    ></script>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="accountant_main_css.css" />
    <link rel="stylesheet" href="list_css.css" />
    <link rel="stylesheet" href="table_css.css" />

      <!--Fonts-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">

    <%- include('../partials/header'); %>
  <body>
    <div class="has_sidebar asap-condensed-regular">
      <%- include('../partials/sidebar'); %>
      <div>
        <h1>Accountant main page</h1>
        <h2>Welcome <%= user.firstName %> <%= user.lastName %></h2>
        
        <div>
          <h2>Pending Requests</h2>
          <% if(pending_nodes_list.length > 0 || viewed_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_efect_1">
                  <tr>
                    <th class="">Type</th>
                    <th class="">Title</th>
                    <th class="">Registration Date</th>
                    <th class="">Due Date</th>
                    <th class="">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% pending_nodes_list.forEach(function(row, index) { %>
                      <tr  class="glass_efect_2" style="background-color: lime" id="<%=row.id%>">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                  <% viewed_nodes_list.forEach(function(row, index) { %>
                    <tr class="glass_efect_2" id="<%=row.id%>">
                    <th><%=row.type%></th>
                    <th><%=row.title%></th>
                    <th><%=row.reg_date%></th>
                    <th><%=row.due_date%></th>
                    <th><%=row.company%></th>
                  </tr>
                <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p>You have no pending requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2>Executed Requests</h2>
          <% if(executed_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_efect_1">
                  <tr>
                    <th class="">Type</th>
                    <th class="">Title</th>
                    <th class="">Registration Date</th>
                    <th class="">Due Date</th>
                    <th class="">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% executed_nodes_list.forEach(function(row, index) {%>
                    <tr class="glass_efect_2" id="<%= row.id %>">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p>You have no executed requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2>Rejected Requests</h2>
          <% if(rejected_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_efect_1">
                  <tr>
                    <th class="">Type</th>
                    <th class="">Title</th>
                    <th class="">Registration Date</th>
                    <th class="">Due Date</th>
                    <th class="">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% rejected_nodes_list.forEach(function(row, index) {%>
                    <tr class="glass_efect_2">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p>You have no rejected requests at the moment</p>
            <%}%>
        </div>

      </div>
    </div>
  </body>
  <script>
    $(function() {
        $(".glass_efect_2").click(function(){
            window.location = "view?type=nodes&id="+$(this).attr('id');
        });
    });
  </script>
</html>
