<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <!-- fontawesome for icons -->
    <script
      src="https://kit.fontawesome.com/d2c306d566.js"
      crossorigin="anonymous"
    ></script>
    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="general_css.css" />
    <link rel="stylesheet" href="accountant_main_css.css" />
    <link rel="stylesheet" href="list_css.css" />
    <link rel="stylesheet" href="table_css.css" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="logo.svg">

    <%- include('../partials/header'); %>
  <body>
    <div class="my_card asap-condensed-regular" >
      <div style="display: flex;justify-content: center; width: 100%;flex-direction: column;">
        <div style="display: flex;justify-content: center;">
          <h1 id="my_title" style="display: flex;justify-content: center;"><img src="logo.svg" style="height:1em;">Desk-Flow</h1>
        </div>
        <div class="color_white" style="text-align: center;text-shadow: 5px 5px 5px black;margin-top: 20px;">Desk-Flow is not yet compatible with screes with this size</div>
      </div>
  </div>
    <div class="has_sidebar asap-condensed-regular" id="main_div">
      <%- include('../partials/sidebar'); %>
      <div class="has_sidebar_main_content">
        <h1 class="text_function">Accountant main page</h1>
        <h2><span class="text_function">Welcome</span> <%= user.firstName %> <%= user.lastName %></h2>
        
        <div>
          <h2 class="text_function">Pending Requests</h2>
          <% if(pending_nodes_list.length > 0 || viewed_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_effect_1">
                  <tr>
                    <th class="text_function">Type</th>
                    <th class="text_function">Title</th>
                    <th class="text_function">Registration Date</th>
                    <th class="text_function">Due Date</th>
                    <th class="text_function">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% pending_nodes_list.forEach(function(row, index) { %>
                      <tr  class="glass_effect_2" style="background-color: lime" id="<%=row.id%>">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                  <% viewed_nodes_list.forEach(function(row, index) { %>
                    <tr class="glass_effect_2" id="<%=row.id%>">
                    <th><%=row.type%></th>
                    <th><%=row.title%></th>
                    <th><%=row.reg_date%></th>
                    <th><%=row.due_date%></th>
                    <th><%=row.company%></th>
                  </tr>
                <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p class="text_function">You have no pending requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2 class="text_function">Executed Requests</h2>
          <% if(executed_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_effect_1">
                  <tr>
                    <th class="text_function">Type</th>
                    <th class="text_function">Title</th>
                    <th class="text_function">Registration Date</th>
                    <th class="text_function">Due Date</th>
                    <th class="text_function">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% executed_nodes_list.forEach(function(row, index) {%>
                    <tr class="glass_effect_2" id="<%= row.id %>">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p class="text_function">You have no executed requests at the moment</p>
            <%}%>
        </div>

        <div>
          <h2 class="text_function">Rejected Requests</h2>
          <% if(rejected_nodes_list.length > 0){%>
            <div class="table_container">
              <table>
                <thead class="glass_effect_1">
                  <tr>
                    <th class="text_function">Type</th>
                    <th class="text_function">Title</th>
                    <th class="text_function">Registration Date</th>
                    <th class="text_function">Due Date</th>
                    <th class="text_function">Company</th>
                  </tr>
                </thead>
                <tbody>
                  <% rejected_nodes_list.forEach(function(row, index) {%>
                    <tr class="glass_effect_2">
                      <th><%=row.type%></th>
                      <th><%=row.title%></th>
                      <th><%=row.reg_date%></th>
                      <th><%=row.due_date%></th>
                      <th><%=row.company%></th>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          <%}else{%>
            <p class="text_function">You have no rejected requests at the moment</p>
            <%}%>
        </div>

      </div>
    </div>
  </body>
  <script>
    $(function() {
        $(".glass_effect_2").click(function(){
            window.location = "view?type=nodes&id="+$(this).attr('id');
        });
    });
  </script>
</html>
