<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients Page</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="clients_page_css.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div>
            <button class="filter_buttons" id="show_all_clients">All</button>
            <button class="filter_buttons pressed" id="show_curent">Curent</button>
            <button class="filter_buttons" id="show_requests">Requests</button>
            <button class="filter_buttons" id="show_rejected">Rejected</button>
          </div>
        <h1>List Of Current Clients</h1>
        <div id ="client_list"></div>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){
            const clients_pending = JSON.parse(`<%- JSON.stringify(clients_pending) %>`);
            const clients_active = JSON.parse(`<%- JSON.stringify(clients_active) %>`);
            const clients_rejected = JSON.parse(`<%- JSON.stringify(clients_rejected) %>`);

            var clients_list = [];

            clients_pending.forEach(client => {
                clients_list.push({client,status :'pending'})
            });
            clients_active.forEach(client => {
                clients_list.push({client,status :'active'})
            });
            clients_rejected.forEach(client => {
                clients_list.push({client,status :'rejected'})
            });

            const client_list = $("#client_list");

            clients_list.forEach(client => {
                const client_btn = $("<button>").text(client.client.name);
                client_btn.addClass(client.status);
                client_btn.attr('id', client.client._id);
                client_btn.click(function() {selectClient(this);})
                if(client.status == "rejected"){
                    client_btn.prop('disabled', true);
                }
                //----------------
                client_list.append(client_btn);

            });

            $(".pending, .rejected").hide();

            var show_curent = true;
            var show_requests = false;
            var show_rejected = false;

            $("#show_all_clients").click(function() {filter_clients(this);});
            $("#show_curent").click(function() {filter_clients(this);});
            $("#show_requests").click(function() {filter_clients(this);});
            $("#show_rejected").click(function() {filter_clients(this);});
        
            $("#back_btn").click(function(){
                    window.location ="/"
            });
            function accountant_action(clients_id,action){
                $("#clients_id").val(clients_id)
                $("#accountant_action").val(action)
                $("#accountant_action_submit").click()
            }
            function filter_clients(input){
                $(".filter_buttons").removeClass("pressed");
                $(input).addClass('pressed');

                if(input.id == 'show_all_clients'){
                    show_curent = true;
                    show_requests = true;
                    show_rejected = true;
                    $(".active, .pending, .rejected").show();
                }
                else if(input.id == 'show_curent'){
                    show_curent = !show_curent;
                    $(".active").show();
                    $(".pending, .rejected").hide();
                }
                else if(input.id == 'show_requests'){
                    show_requests = !show_requests;
                    $(".pending").show();
                    $(".active, .rejected").hide();
                }
                else if(input.id == 'show_rejected'){
                    show_rejected = !show_rejected;
                    $(".rejected").show();
                    $(".active, .pending").hide();
                }
            }

            function selectClient(input){
                alert(input.id);
            }
        });
    </script>
</html>