<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clients Page</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="clients_page_css.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>List Of Current Clients</h1>
        <ul class ="clients_page_ul" id ="active_client_requests_container">
            
        </ul>
        <h1>List Of Hiring Requests</h1>
        <form action="/clients" method="POST">
            <input id="clients_id" name="clients_id">
            <input id="accountant_action" name="accountant_action">
            <button  id="accountant_action_submit" type="submit">submit</button>
        </form>
        <ul class ="clients_page_ul" id ="pending_client_requests_container">
            
        </ul>
        <h1>List Of rejected Requests</h1>
        <ul class ="clients_page_ul" id ="rejected_client_requests_container">
            <li><a href="client-profile">Client 1</a></li>
            <li><a href="client-profile">Client 2</a></li>
            <li><a href="client-profile">Client 3</a></li>
        </ul>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){
            const clients_pending = JSON.parse(`<%- JSON.stringify(clients_pending) %>`);
            const clients_active = JSON.parse(`<%- JSON.stringify(clients_active) %>`);
            const clients_expired = JSON.parse(`<%- JSON.stringify(clients_expired) %>`);

            const pending_client_requests_container = $("#pending_client_requests_container");
            const active_client_requests_container = $("#active_client_requests_container");
            const rejected_client_requests_container = $("#rejected_client_requests_container");

            clients_pending.forEach(client => {
                const liElement = $("<li>")
                const clientElement = $("<a>").text(client.user.firstName+" "+client.user.lastName).attr('href', `client-profile?id=${client.user._id}`);
                const button1Element = $("<button>").text("Accept").click(function() {
                        accountant_action(client.user._id, "assigned")
                        });
                const button2Element = $("<button>").text("reject").click(function() {
                    accountant_action(client.user._id, "rejected")
                });
                liElement.append(clientElement);
                liElement.append(button1Element);
                liElement.append(button2Element);
                pending_client_requests_container.append(liElement);
            });
            clients_active.forEach(client => {
                const liElement = $("<li>")
                const clientElement = $("<a href='fff'>").text(client.user.firstName+" "+client.user.lastName).attr('href', `client-profile?id=${client.user._id}`);
                const button1Element = $("<button>").text("Accept").attr('style', 'visibility: hidden;');
                const button2Element = $("<button>").text("reject").click(function() {
                    accountant_action(client.user._id, "rejected")
                });
                liElement.append(clientElement);
                liElement.append(button1Element);
                liElement.append(button2Element);
                active_client_requests_container.append(liElement);
            });
            clients_expired.forEach(client => {
                const liElement = $("<li>")
                const clientElement = $("<a href='fff'>").text(client.user.firstName+" "+client.user.lastName).attr('href', `client-profile?id=${client.user._id}`);
                const button1Element = $("<button>").text("Accept").click(function() {
                    accountant_action(client.user._id, "assigned")
                });
                const button2Element = $("<button>").text("reject").attr('style', 'visibility: hidden;');
                liElement.append(clientElement);
                liElement.append(button1Element);
                liElement.append(button2Element);
                rejected_client_requests_container.append(liElement);
            });

        
            $("#back_btn").click(function(){
                    window.location ="/"
            });
            function accountant_action(clients_id,action){
                $("#clients_id").val(clients_id)
                $("#accountant_action").val(action)
                $("#accountant_action_submit").click()
            }
        });
    </script>
</html>