<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_accountant_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
</head>
<body>

    <div id="general-client-info" name="general-client-info">
        <h2><%= user.firstName %> <%= user.lastName %></h2>
        <h3><%= user.companyLogo %> <%= user.companyName %></h3>
    </div>

    <div id="client-transactions-div" name="client-transactions-div">
        <h2>Client Transactions</h2>
        <ul>
            <li>Transaction 1</li>
            <li>Transaction 2</li>
        </ul>
    </div>

    <div id="client-assignments-div" name="client-assignments-div">
        <h2>Client Assignments</h2>
        <ul>
            <li>Assignment 1</li>
            <li>Assignment 2</li>
        </ul>
        <hr>
        <a href="">Client Assignment History</a>
    </div>

    <div id="client-messaging-div" name="client-messaging-div">
        <h2>Client Messaging</h2>
        <h3>Messaging will happen here</h3>
    </div>

    <button id="remove-client-button" name="remove-client-button">Remove Client</button>
    <a href="report-user?id=<%=user._id%>">Report Client</a>

    <div id="client-rating-div" name="client-rating-div">
        <h2>Rating Client</h2>
         <form class="rating_form" action="/client-profile" method="POST">
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <br>
            <input type="text" id='rating_input' name='rating_input'>
            <br>
            <textarea id='rating_textarea' name='rating_textarea'></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <button id="back_btn">Πίσω</button>
</body>
<script>
    $(document).ready(function(){
        $("#back_btn").click(function(){
            window.location = "/clients"
        });

        var starButtons = $(".star_btn");
        for (var i = 0; i < starButtons.length; i++) {
            (function(index) {
                $(starButtons[i]).click(function() {
                    var rating_value = index+1
                    if($("#rating_input").val() == index+1){
                        rating_value = 0;
                    }
                    $("#rating_input").val(rating_value);
                    for (var j = 0; j < starButtons.length; j++) {
                        if(j < rating_value){
                            starButtons[j].classList.add("star_selected");
                        }
                        else{
                            if (starButtons[j].classList.contains("star_selected")) {
                                starButtons[j].classList.remove("star_selected");
                            }
                        }
                    }

                });
            })(i);
        }
        
        
    });
</script>
<%- include('../partials/footer'); %>
</html>