<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PayRoll</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_select_css.css">
        <link rel="stylesheet" href="fonts_css.css">
        <link rel="stylesheet" href="table_css.css">
        <link rel="stylesheet" href="buttons_css.css">
        <link rel="stylesheet" href="textarea_css.css">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />
        <!--Charts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/0.7.0/chartjs-plugin-datalabels.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script src="JSFrontEndFunctions.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <style>
        .top_select{
            width: calc(100% - 30px);
            padding: 5px 15px;
            border-radius: 10px;
            color:white
        }
        #filter_container{
            margin-right: 30px;
            font-size: 1.1em;
        }

        #chart_container{
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);

            margin-right: 10px;
            margin-top: 30px;
            padding-top: 30px;
        }

        #chart_container canvas{
            padding-top: 10px;

        }
        #table_container{
            margin: 30px 0px;
        }
        .my_select{
            padding: 5px 10px;
            border-radius: 10px;
        }


        #line_chart_div {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <div class="asap-condensed-regular">
                    <h1>PayRoll</h1>
                    <div class=" container" id="filter_container">
                        <div>
                            <div style="display: flex; justify-content:space-between;gap:5%;margin-bottom: 50px;" class="container glass_effect_2">
                                <div style="width: 100%;" >
                                    <label for="client_select">Client</label>
                                    <select class="my_select top_select" id="client_select" name="client_select">
                                        <option value="-"></option>

                                        <% for(c of clients){%>
                                            <option value="<%= c._id%>"><%= c.name%></option>
                                        <% }%>
        
                                    </select>
                                </div>
                                <div id="person_select_container" style="width: 100%;display: none;">
                                    <label for="person_select">Person</label>
                                    <select class="my_select top_select" id="person_select" name="person_select">
                                        <% for(c of clients_users){%>
                                            <option class="<%=c.c.company%> user" value="<%= c.u._id%>"><%= c.u.firstName %> <%= c.u.lastName %></option>
                                        <% }%>
                                    </select>
                                </div>
                                <div style="width: 100%;display: none;"  id="year_select_container">
                                    <label for="person_select " >Year</label>
                                    <select id="year_select" class="my_select top_select">
                                    </select>
                                </div>
                            </div>
                            

                            
                            <div id="salary_main_body" style="display: none;">
                                <div style="display: grid;grid-template-columns: 45% 45%;gap:5%;">
                                    <div class="glass_effect_2 container">
                                        <div id="persons_data">
                                            <p style="width: 100%;text-align: center;font-weight: bold;font-size: 1.4em;"><%=selected_user.lastName%> <%=selected_user.firstName%></p>
                                            <p style="text-align: center;" id="payroll_for"></p>
                                            <label class="my_label_1"> Time In the Company : Years  : <%=time_in_comp.years%>  Months : <%=time_in_comp.months%> Days   : <%=time_in_comp.days%></label>
    
                                        </div>
                                        <div id="salary_data_cont">
                                            <div>
                                                <label class="my_label_1">Full Salary : <span id="fullsalry">0</span></label>
                                            </div>
                                            <!--div>
                                                Christmas Gift : <span id="christmasgift">0</span>
                                            </div>
                                            <div>
                                                Leave Pay: <span id="leavepay">0</span>
                                            </div>
                                            <div>
                                                Leave Allowance: <span id="leaveallowance">0</span>
                                            </div>
                                            <div>
                                                Overtime: <span id="overtime">0</span>
                                            </div>
                                            <div>
                                                €/hour: <span id="hourpay">0</span>
                                            </div>
                                            <div>
                                                Employer Contributions: <span id="employercontributions">0</span>
                                            </div>
                                            <div>
                                                Employee Contributions: <span id="employeecontributions">0</span>
                                            </div-->
                                        </div>
                                        <div id="set_salary_cont">
                                            <form action="/payroll" method="POST" id="payroll_form">
                                                <input style="display: none;" name="salary_year" id="salary_year" val="2025">
                                                <input style="display: none;" name="salary_month" id="salary_month">
                                                <div style="display: flex; justify-content: space-between; align-items: center;text-align: left;">
                                                    <label for="salary" class="my_label_1">Salary</label>
                                                    <div style="width: 70%;"> 
                                                        <input name="salary" class="input_type_1" id="salary" type="number" step="0.01" value="<%=salary.amount%>">
                                                    </div>
                                                    <lable class="my_label_1" for="salary">€</lable>
                                                </div>
                                                <div style="display: flex; justify-content: space-between; align-items: center;text-align: left;">
                                                    <label for="extra" class="my_label_1">Extra</label>
                                                    <div style="width: 70%;"> 
                                                        <input name="extra" class="input_type_1" id="extra" type="number" step="0.01" value="0">
                                                    </div>
                                                    <lable class="my_label_1" for="extra">€</lable>

                                                </div>

                                                <input style="display: none;" name="action" id="action">
                                                <input style="display: none;" name="person" id="person">
                                                <input style="display: none;" name="company" id="company">
    
                                            </form>
                                            <button id="btn1" class="button_3" style="width: 96%;margin: 2%;">Pay</button>
                                            <button id="btn2" class="button_1" style="width: 96%;margin: 2%;">Set</button>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table_container">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Month</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
    
                                                    <% for(p of payroll){%>
                                                        <tr class="glass_effect_2 month">
                                                            <th><%=p.month%></th>
                                                            <th><%=p.salary.amount + p.extra%></th>
                                                        </tr>
                                                    <%}%>
                                                    <tr class="glass_effect_2 month">
                                                        <th>-</th>
                                                        <th><%=salary.amount%></th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chart_container" class="glass_effect_2" style="width: 95%;display: none;">
                        <div id="line_chart_div" style="width: 50%; height: 500px;padding: 0;margin: 0;"></div>

                    </div>
                    <br>
                    <div class="table_container" id="table_container" style="display: none;">
                        <table>
                            <thead>
                                <tr>
                                    <th>Month</th>
                                    <th>Day</th>
                                    <th>Clock In</th>
                                    <th>Clock Out</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(a of attendance){%>
                                    <tr class="glass_effect_2">
                                        <th><%=a.month%></th>
                                        <th><%=a.day%></th>
                                        <th><%=a.clock_in%></th>
                                        <th><%=a.clock_out%></th>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button id="btn3">print</button>
                <div style="width:100%;background-color: white;">
                    <div style="display:grid;grid-template-columns: 30% 70%;">
                        <img height="100px" width="100px" src="https://static.vecteezy.com/system/resources/thumbnails/036/324/708/small/ai-generated-picture-of-a-tiger-walking-in-the-forest-photo.jpg">
                        <div>
                            <p>Company Name</p>
                            <p>Address</p>
                        </div>
    
                    </div>
                    
                    <p><strong>Payslip</strong></p>
                    <p>Date : <span>DD/MM/YYYY</span></p>
                    <p>Payroll Period <span>Month Year</span></p>
                    <div>
                        <p>First Name : <span>Name</span></p>
                        <p>Last Name : <span>Name</span></p>
                        <p>Address : <span>Name</span></p>
                        <p>AFM : <span>Name</span></p>
                    </div>
                    
                    <div style="display:grid;grid-template-columns: 50% 50%;">
                        <div style="border: solid 1px black;">Earnings</div>
                        <div style="border: solid 1px black;">Deductions</div>
                        <div style="border: solid 1px black;">Basic wage : 500</div>
                        <div style="border: solid 1px black;">d</div>
                    </div>
                    <p><strong>Net Salary:</strong> (Calculate net amount here)</p>

                    <p>Authorized Signature: ___________________</p>

                </div>
                <iframe id="print-frame"  srcdoc="<p>test</p>">
                </iframe>
            </div>
            
        </div>
        
    </body>
    <script>

        const salary_months = JSON.parse(`<%- JSON.stringify(salary_months) %>`);
        const salary_amounts = JSON.parse(`<%- JSON.stringify(salary_amounts) %>`);
        const payroll = JSON.parse(`<%- JSON.stringify(payroll) %>`);
        const clients = JSON.parse(`<%- JSON.stringify(clients) %>`);

        const queryString = new URL(window.location.href).search;
        var params = new URLSearchParams(queryString);

        if(params.get('comp')){
            const selectedClient = clients.find(client => client._id === params.get('comp'));
            console.log(selectedClient);
            const startYear = new Date(selectedClient.registrationDate).getFullYear();
            const currentYear = new Date().getFullYear();
            for(let year = currentYear; year >= startYear; year--) {
                $("#year_select").append("<option value='"+year+"'>"+year+"</option>")
            }
            if(params.get('year')){
            $("#year_select").val(params.get('year'))
        }
        }
        


       $(document).ready(function(){
            $("#salary_year").val(new Date().getFullYear());
            

            select_month(new Date().getMonth());


            if(params.get('comp')){
                $("#company").val(params.get('comp'));
                



                $("#client_select").val(params.get('comp'))
                $("#table_container").show();
                $("#client_select option:first").remove();
                $("#chart_container").show();
                $("#salary_main_body").show();

                $("#person_select_container").show();
                $("#year_select_container").show();
            }
            if(params.get('id')){
                $("#person_select").val(params.get('id'))
            }
            if (params.get('year')){
                $("#salary_year").val(params.get('year'))
            }
            else{
                $("#year").val(new Date().getFullYear())
            }
            if (params.get('from_month')){
                $("#from_month").val(params.get('from_month'))
            }
            else{
                $("#from_month").val(new Date().getMonth() + 1) 
            }
            if (params.get('to_month')){
                $("#to_month").val(params.get('to_month'))
            }
            else{
                $("#to_month").val(new Date().getMonth() + 1) 
            }
            if($("#to_month").val() < $("#from_month").val()){
                $("#to_month").val($("#from_month").val());
            }
            if($("#salary").val()=="" || $("#salary").val()== 0){
                $("#btn1").attr('disabled', 'true');
                $("#btn2").attr('disabled', 'true')
            }
            
            $("#client_select").change(function(){
                window.location = '/payroll?comp='+$("#client_select").val()
            })


            $("#person_select").change(function(){
                window.location = '/payroll?id='+$("#person_select").val()+'&comp='+$("#client_select").val()
            })
                      


            const today = new Date();
            const formattedToday = `${today.getDate().toString().padStart(2, '0')}-${(today.getMonth() + 1).toString().padStart(2, '0')}-${today.getFullYear()}`;

            drawLineChart(salary_months, salary_amounts);

            function drawLineChart(xData, lineData,name) {
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Month');  // X-axis
                    data.addColumn('number', 'Salary');  // Line data
            
                    for (var i = 0; i < xData.length; i++) {
                        data.addRow([xData[i], lineData[i]]);
                    }

                    var minAmount = Math.min(...lineData) - 10;  // Calculate the minimum of payroll_amounts
                    var maxAmount = Math.max(...lineData) + 10;  // Calculate the max and add 10
        
                    var options = {
                        chartArea: { width: '90%', height: '80%' },
                        hAxis: {
                            slantedTextAngle: 0,  // Angle for slanted text
                            minValue: 0,  // Start point for ticks (first label)
                            ticks: xData,  // Horizontal axis labels
                            textStyle: { color: 'black' }  // Color of the text labels

                        },
                        vAxis: {
                            minValue: minAmount,
                            maxValue: maxAmount,
                            textStyle: { color: 'black' } ,
                            gridlines: { count: 6 } 
                        },
                        lineWidth: 4,
                        backgroundColor: 'transparent',
                        lineTension: 0.2,
                        pointSize: 10,  // Adjust point size for better visibility
                        tooltip: { isHtml: true },  // Enable tooltip for points
                        series: {
                            0: {
                                pointLabelFontSize: 10,
                                pointLabelOffset: 15,  // Offset from the point
                                pointLabel: { show: true, color: '#12357E' },
                                color: '#12357E' 
                            }
                        },
                        legend: { position: 'none' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
                    chart.draw(data, options);
                });
            }

            calculateSalary()

            $(".date_filters").change(function(event){
                event.preventDefault();
                var from_date = $("#from_date").val();
                var to_date = $("#to_date").val();
                window.location = "/payroll?from_date="+from_date+"&to_date="+to_date;
            });

            $('.month').click(function(){
                select_month($('.month').index(this));
            })

            $("#btn1").click(function(){
                $('#action').val(1);
                $('#payroll_form').submit();
            });

            $("#btn2").click(function(){
                $('#action').val(2);
                $('#payroll_form').submit();
            })

            
            $("#btn3").click(function(){

                const iframe = document.getElementById("print-frame");

                if (iframe.contentWindow) {
                    iframe.contentWindow.focus();
                    iframe.contentWindow.print();
                }
            })

            function calculateSalary(salary) {
                var fullSalary = $("#salary").val();
                var christmasGift = 300;
                var leavePay = 200;
                var leaveAllowance = 100;
                
                var overtimeHours = 4;
                var hourPay = 4;
                var netSalary = fullSalary + christmasGift + leavePay + leaveAllowance + (overtimeHours * hourPay);
                
                var employerContributions = fullSalary * 0.2; // Example calculation, could vary based on your requirements
                var employeeContributions = fullSalary * 0.3; // Example calculation, could vary
                
                $("#fullsalry").html(fullSalary);
                //$("#christmasgift").html(christmasGift);
                //$("#leavepay").html(leavePay);
                //$("#leaveallowance").html(leaveAllowance);
                //$("#overtime").html(overtimeHours);
                //$("#hourpay").html(hourPay);
                //$("#netsalary").html(netSalary);
                //$("#employercontributions").html(employerContributions);
                //$("#employeecontributions").html(employeeContributions);
            }

            function select_month(index) {
                // Reset all elements
                $('.month').removeClass('glass_effect_1 color_white').addClass('glass_effect_2');

                // Correctly select and modify the clicked element
                $('.month').eq(index).removeClass('glass_effect_2').addClass('glass_effect_1 color_white');

                // Update form values
                $("#salary_month").val(index + 1);
                $("#person").val($("#person_select").val());
                $("#company").val($("#client_select").val());
                $("#salary_year").val($('#year_select').val());

                $('#payroll_for').html($("#year_select").val()+" / "+parseInt(index+1))

                try{
                    $("#salary").val(payroll[index].salary.amount);
                    $("#extra").val(payroll[index].extra);
                }
                catch{
                    console.log("no salary data")
                }
                

            }
            
            $("#salary").on("input", function() {
                if ($("#salary").val() === "" || $("#salary").val() == 0) {
                    $("#btn1, #btn2").prop("disabled", true);
                } else {
                    $("#btn1, #btn2").prop("disabled", false);
                }
            });
            
            $("#year_select").change(function(){
                window.location = '/payroll?id='+$("#person").val()+'&comp='+$("#company").val()+'&year='+$("#year_select").val();
            })
        });

    </script>

</html>