<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Προφίλ Λογιστή</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <%- include('../partials/header'); %>
        <%- include('../partials/footer'); %>
    </head>
    <body>
        <h1>Profile</h1>
        <div id="accountant-info-div" name="accountant-info-div">
            <h2>Info</h2>

            <form class="display_block" action="/profile-page" method="POST" >
                <label for="firstName">Όνομα</label>
                <input type="text" name="firstName" required value="<%= user.firstName %>">
                <label for="lastName">Επίθετο</label>
                <input type="text" name="lastName" required value="<%= user.lastName %>">
                <label for="email">Email</label>
                <input type="email" name="email" required value="<%= user.email %>">
                <label for="afm">Α.Φ.Μ.</label>
                <input type="text"id="afm" name="afm" placeholder="Α.Φ.Μ." value="<%= user.afm %>">

                <label for="mydatakey">Κλειδί MyData (προαιρετικό)</label>
                <input type="text" name="mydatakey" id="mydatakey" placeholder="Κλειδί MyData" value="<%= user.mydatakey %>">
                <button type="submit" id="edit-info-button" name="edit-info-button">Αποθήκευση αλλαγών</button>
            </form>
            <button id="back_btn">Πίσω</button>
        </div>
        <hr>
        <div id="rating-div" name="rating-div">
            <h2>Reviews and Comments</h2>
            <div id="reviews_div">

            </div>
        </div>
    </body>
    <script>
     // Get the 'message' query parameter from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');

        // Check if the 'message' parameter is 'updatedatacopmlete'
        if (message === 'updatedatacopmlete') {
            // Show an alert with the specified message
            alert('Data update complete!');
        }
    $(document).ready(function(){
        $("#back_btn").click(function(){
                window.location ="/"
        });

        const reviews = JSON.parse(`<%- JSON.stringify(reviews)%>`);

        const reviews_section_div = $("#reviews_div");
        reviews.forEach(review => {
            const review_div = $("<div>");
            const review_div_client = $("<div>").text(review.user.firstName + " " + review.user.lastName);
            const date = new Date(review.review.registrationDate);
            const review_div_date = $("<div>").text(date.getHours() +":"+date.getMinutes()+ "   " +date.getDate() + "/" + date.getMonth()+ "/" + date.getFullYear());
            const review_div_text = $("<div>").text(review.review.text);
            const review_div_review = $("<div>");
                for (let i = 0; i < review.review.rating; i++) {
                    const review_div_star = $("<i>").addClass("fa-solid fa-star");
                    review_div_review.append(review_div_star);
                }
            //const review_div_star = $("<i>").addClass("fa-solid fa-star");
            
            review_div.append(review_div_client);
            review_div.append(review_div_date);
            review_div.append(review_div_text);
            review_div.append(review_div_review);
            //review_div_review.append(review_div_star);
            reviews_section_div.append(review_div);
        });
    });
    </script>
</html>