<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Request</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="view_request_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>View Request</h1>
        <div>Όνομα Πελάτη : <%= accountants_client.firstName %> <%= accountants_client.lastName %></div>
        <div>Κατηγωρία Αιτίματος : <%= request.type %></div>
        <div id = "no_due_date">Due Date : <%= request.due_date %></div>
        <div>Τίτλος : <%= request.title %></div>
        <div id="div_text">Κείμενο : <%= request.text %></div>
        <button id="reject_btn">Reject</button>
        <button id="execute_btn">Execute</button>
        <p id="sended_resonse">You haven't sent a response</p>
        <form action="/view-request" method="POST">
            <textarea name="response" id="response"></textarea>
            <input style="display: none;" name="action" id="action">
            <input style="display: none;" name="request_id" id="request_id" value="<%= request._id %>">
            <button style="display: none;" type="submit" id="request_submit_btn">Submit</button>
        </form>
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $("#sended_resonse").hide();
        const timestamp_options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };
        $(document).ready(function() {
             $("#back_btn").click(function(){
                window.location = "/"
            });

            $("#reject_btn").click(function() {
                $("#action").val("rejected")
                $("#request_submit_btn").click();
            });
            $("#execute_btn").click(function() {
                $("#action").val("executed");
                $("#request_submit_btn").click();
            });
            if("<%= request.status %>" == "executed" || "<%= request.status %>" == "rejected"){
                $("#reject_btn").hide();
                $("#execute_btn").hide();
                $("#response").hide();
                $("#sended_resonse").show();
                if("<%= request.response %>" != ""){
                    $("#sended_resonse").text("<%= request.response %>")
                }
            }
            if("<%= request.type %>" == "hiring" ){
                $("#execute_btn").html("Accept");
                $("#response").css("display", "none");
                $("#div_text").css("display", "none");
            }
            if("<%= request.due_date %>" == "no due date" ){
                $("#execute_btn").html("Accept");
                $("#no_due_date").css("display", "none");
                $("#div_text").css("display", "none");
            }
        });

    </script>

</html>