<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ο Λογιστής Μου</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_accountant_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>Ο Λογιστής Μου</h1>
        <p>
            First Name : <%= accountant.firstName %><br>
            Last Name : <%= accountant.lastName %><br>
            Email : <%= accountant.email %></p>

        <form class="messaging_form">
            <h2>Messaging</h2>
            <p>You : hello</p>
            <p><%= accountant.firstName %> : hi</p>
            <textarea></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>

        <form class="rating_form" action="/my-accountant-rate" method="POST">
            <h2>Rating</h2>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <br>
            <input type="text" id='rating_input' name='rating_input'>
            <br>
            <textarea id='rating_textarea' name='rating_textarea'></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
        <div class ='requests'>
                <h2>Requests</h2>
                <div>
                    <table id="my_requests_record">
                        <tr> <!-- This is a table row -->
                            <th>Type</th> <!-- Table header cell -->
                            <th>Title</th>
                            <th>RegistrationDate</th>
                            <th>Status</th>
                            <th> </th>
                        </tr>
                    </table>
                    <form action="/my-accountant-delete-request" method="POST">
                        <input name="request_id" id="request_id">
                        <button id="submit_from_request_btn" type="submit">Submit</button>
                    </form>
                </div>
                <div id="new_request">
                    <form action="/my-accountant-requests" method="POST">
                        <h3>New Request</h3>
                        <div>
                            <label for="request_type">Type : </label>
                            <select name = 'request_type' id = 'request_type'>
                                <option value="..." disabled selected>...</option>
                                <option value="something_1">Something_1</option>
                                <option value="something_2">Something_2</option>
                                <option value="something_3">Something_3</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for="request_title">Title : </label>
                            <input placeholder="Tilte" id="request_title" name="request_title">
                        </div>
                        
                        <textarea name="request_text" id="request_text"></textarea>
                        <button style="display:none;" id="submit_from_request_btn" type="submit"></button>
                    </form>
                    <button id="submit_request_btn">Submit</button>
                </div>
            
        </div>

        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        const timestamp_options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };

       $(document).ready(function(){
            $("#back_btn").click(function(){
                window.location = "/"
            });

            $("#submit_request_btn").click(function(){
                if( document.getElementById("request_type").value == "..."){
                    alert("Plese select the type of the request")
                }
                else{
                    document.getElementById("submit_from_request_btn").click();
                }
                
            });

            var starButtons = $(".star_btn");
            for (var i = 0; i < starButtons.length; i++) {
                (function(index) {
                    $(starButtons[i]).click(function() {
                        var rating_value = index+1
                        if($("#rating_input").val() == index+1){
                            rating_value = 0;
                        }
                        $("#rating_input").val(rating_value);
                        for (var j = 0; j < starButtons.length; j++) {
                            if(j < rating_value){
                                starButtons[j].classList.add("star_selected");
                            }
                            else{
                                if (starButtons[j].classList.contains("star_selected")) {
                                    starButtons[j].classList.remove("star_selected");
                                }
                            }
                        }

                    });
                })(i);
            }
            if('<%= review.rating%>'!='-1'){
                $("#rating_textarea").val('<%= review.text%>');
                starButtons[parseInt('<%= review.rating%>')-1].click()
            }

            var requests;
            try {
                requests = JSON.parse(`<%- JSON.stringify(requests) %>`);
            } catch (error) {
                console.error("Error parsing JSON:", error);
            }
            const requests_table = $("#my_requests_record");
            if(requests.length == 0){
                requests_div.text("You haven't made any requests addressed to your current accountant");
            }
            else{
                requests.forEach(request => {
                    const row = $("<tr>");
                    const cell_type = $("<td>").text(request.type);
                    const cell_title = $("<td>").text(request.title);
                    const date = new Date(request.registrationDate);
                    const cell_reg_date = $("<td>").text(date.toLocaleString('en-US', timestamp_options));
                    const cell_status = $("<td>").text(request.status);
                    const cell_actions = $("<td>");
                    const btn_delete = $("<button>").text("Delete");
                    btn_delete.click(function() {
                        $("#request_id").val(request._id)
                    });
                    
                    requests_table.append(row);
                    row.append(cell_type);
                    row.append(cell_title);
                    row.append(cell_reg_date);
                    row.append(cell_status);
                    row.append(cell_actions);
                    cell_actions.append(btn_delete);
                });
            }
            
        });

    </script>

</html>