<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ο Λογιστής Μου</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_accountant_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
        <h1>Ο Λογιστής Μου</h1>
        <p>
            First Name : <%= accountant.firstName %><br>
            Last Name : <%= accountant.lastName %><br>
            Email : <%= accountant.email %>
        </p>


        <form class="rating_form" action="/my-accountant-rate" method="POST">
            <h2>Rating</h2>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <button type="button" class="star_btn"><i class="fa-solid fa-star"></i></button>
            <br>
            <input style="display: none;" type="text" id='rating_input' name='rating_input'>
            <br>
            <textarea id='rating_textarea' name='rating_textarea'></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>

        <a href="/report/user?id=<%=accountant._id%>">Report Accountant</a>

        <div class ='requests'>
                <h2>Request</h2>
                <div id="my_requests_div">
                    <table id="my_requests_record">
                        <tr> <!-- This is a table row -->
                            <th>Type</th> <!-- Table header cell -->
                            <th>Title</th>
                            <th>Registration Date</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th> </th>
                        </tr>
                    </table>
                    <button id="more_requests_btn">More...</button>
                    <div id="display_request">
                        <p id="request_preview_status"></p>
                        <p id="request_preview_type"></p>
                        <p id="request_preview_title"></p>
                        <p id="request_preview_reg_date"></p>
                        <p id="request_preview_due_date"></p>
                        <p id="request_preview_text"></p>
                        <button id="show_hide_request_preview">Hide</button>
                    </div>
                    <form style="display: none;" action="/my-accountant-delete-request" method="POST" id="delete_request_from">
                        <input name="request_id" id="request_id">
                        <button id="submit_from_delete_request_btn" type="submit">Submit</button>
                    </form>
                </div>
                <div id="new_request">
                    <form action="/my-accountant-requests" method="POST">
                        <h3>New Request</h3>
                        <div>
                            <label for="request_type">Type : </label>
                            <select name = 'request_type' id = 'request_type'>
                                <option value="" disabled selected>...</option>
                                <option value="request1">Something_1</option>
                                <option value="request2">Something_2</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for="request_title">Title : </label>
                            <input placeholder="Tilte" id="request_title" name="request_title">
                        </div>

                        <div>
                            <label for="request_due_date">Due Date : </label>
                            <input type="date" placeholder="Due Date" id="request_due_date" name="request_due_date">
                        </div>
                        
                        <textarea name="request_text" id="request_text"></textarea></br>
                        <button id="submit_from_request_btn" type="submit">Submit</button>
                    </form>
                </div>
            
        </div>
        <form id="my_accountant_form" action="/my-accountant"  method="POST">
            <!--input type="hidden" name="accountant_id" value="<%=accountant._id%>"-->
            <!--button type="submit" style="display: none;" id="remove_accountant_sbt">Submit</button-->
            <button type="button" id="remove_accountant_btn">Αφαίρεση Λογιστή</button>
        </form>
        <button type="button" onclick="window.location = '/pick-accountant'">Προβολή Λογιστών</button>
        
    </div>
</div>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        const visible_request_num = 5;
        var request_table_expanded = false;
        const timestamp_options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };

       $(document).ready(function(){
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('message')) {
            if(urlParams.get('message')=="rating_submitted_successfully"){
                alert("Η αξιολόγηση καταχωρήθηκε με επιτυχία");
            }
        }

            $("#back_btn").click(function(){
                window.location = "/"
            });

            $("#remove_accountant_btn").click(function(){
                if (confirm("Αν απολύσετε τον λογιστή σας όλα τα εκκρεμή αιτήματα θα ακυρωθούν.") == true) {

                    $("#my_accountant_form").submit();
                }
            });

            $("#more_requests_btn").click(function(){
                request_table_expanded = !request_table_expanded;
                if(request_table_expanded){
                    $("#more_requests_btn").text("Less...");
                    for (let i = visible_request_num; i <= requests.length; i++) {
                    $("#row_"+i).show();
                }
                }
                else{
                    $("#more_requests_btn").text("More...");
                    for (let i = visible_request_num; i <= id_count; i++) {
                    $("#row_"+i).hide();
                }
                }
            });

            var starButtons = $(".star_btn");
            for (var i = 0; i < starButtons.length; i++) {
                (function(index) {
                    $(starButtons[i]).click(function() {
                        var rating_value = index+1
                        if($("#rating_input").val() == index+1){
                            rating_value = 0;
                        }
                        $("#rating_input").val(rating_value);
                        for (var j = 0; j < starButtons.length; j++) {
                            if(j < rating_value){
                                starButtons[j].classList.add("star_selected");
                            }
                            else{
                                if (starButtons[j].classList.contains("star_selected")) {
                                    starButtons[j].classList.remove("star_selected");
                                }
                            }
                        }

                    });
                })(i);
            }
            if('<%= review.rating%>'!='-1'){
                $("#rating_textarea").val('<%= review.text%>');
                starButtons[parseInt('<%= review.rating%>')-1].click()
            }

            var requests;
            try {
                requests = JSON.parse(`<%- JSON.stringify(nodes) %>`);
            } catch (error) {
                console.error("Error parsing JSON:", error);
            }
            
            const requests_table = $("#my_requests_record");
            const my_requests_div = $("#my_requests_div");
            const hide_btn = $("#show_hide_request_preview");
            hide_btn.click(function() {
                $("#request_preview_status").text("");
                $("#request_preview_reg_date").text("");
                $("#request_preview_due_date").text("");
                $("#request_preview_title").text("");
                $("#request_preview_type").text("");
                $("#request_preview_text").text("");
                hide_btn.hide();
            });
            hide_btn.hide();

            if(requests.length == 0){
                requests_table.hide()
                my_requests_div.append($("<p>").text("You haven't made any requests addressed to your current accountant"))
            }
            else{
                var id_count = -1;
                requests.forEach(request => {
                    id_count = id_count + 1;
                    const row = $("<tr>").attr("id", "row_"+id_count);
                    const cell_type = $("<td>").text(request.type);
                    const cell_title = $("<td>").text(request.title);
                    const date = new Date(request.registrationDate);
                    const cell_reg_date = $("<td>").text(date.toLocaleString('en-US', timestamp_options));
                    const cell_due_date = $("<td>").text(request.due_date);
                    const cell_status = $("<td>").text(request.status);
                    const cell_actions = $("<td>");
                    const btn_delete = $("<button>").text("Delete");
                    btn_delete.click(function() {
                        $("#request_id").val(request._id)
                        $("#submit_from_delete_request_btn").click()
                    });
                    const btn_view = $("<button>").text("View");
                    btn_view.click(function() {
                        $("#request_preview_status").text("Status : " + request.status);
                        $("#request_preview_reg_date").text("Type : " + request.type);
                        $("#request_preview_due_date").text("Due Date : " + request.due_date);
                        $("#request_preview_title").text("Registration Date : " + date);
                        $("#request_preview_type").text("Title : " + request.title);
                        $("#request_preview_text").text("Text : " + request.text);
                        hide_btn.show();
                    });
                    
                    requests_table.append(row);
                    row.append(cell_type);
                    row.append(cell_title);
                    row.append(cell_reg_date);
                    row.append(cell_due_date);
                    row.append(cell_status);
                    row.append(cell_actions);
                    cell_actions.append(btn_delete);
                    cell_actions.append(btn_view);
                });
                for (let i = visible_request_num; i <= id_count; i++) {
                    $("#row_"+i).hide();
                }
            }
            
        });

    </script>

</html>