<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="logo.svg">

        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_company_css.css">
        <link rel="stylesheet" href="buttons_css.css">
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar asap-condensed-regular">
            <%- include('../partials/sidebar'); %>
            <div class="has_sidebar_main_content">
                <h1><%if(company.logo == "" || company.logo == null){ %>
                    <img src="https://www.smartmoneymatch.com/images/company-logo.png.pagespeed.ce.-9qAfcmVqF.png" id="company_logo">
                <%}else{ %>
                    <img src="<%= company.logo %>" id="company_logo">

                <%} %><%= company.name %></h1>
                <div id="company_data_conatiner">
                    <div class="glass_effect_2 company_data_item">
                    <form action="/my-company/edit-company" method="POST" id="edit_company_form">
                        <label for="new_company_name">Company Name :</label>
                        <input type="text" value="<%= company.name %>" name="new_company_name" class="input_type_1">
                        <br>
                        <input type="text" value="<%= company.logo %>" name="new_company_logo" class="input_type_1">

                        <button type="submit"  class="btn_type_1">Submit</button>
                    </form>

                    <form action="/my-company/change-company-status" method="POST">
                        <%if(company.status == '1' ){ %>
                            <div id="status_div" style="display: flex; flex-direction: row;gap:10px;">
                                <div id="status_mark" class="active"></div>
                                <div >Status : Active</div>
                            </div>
                            <button id="deactivate_company" type="submit">Deactivate Company</button>
                        <%}else{ %>
                            <div id="status_div" style="display: flex; flex-direction: row;gap:10px;">
                                <div id="status_mark" class="delleted"></div>
                                <div>Status : Disabled</div>
                            </div>
                            <button id="activate_company" type="submit">Activate Company</button>

                        <%} %>
                    </form>
                    </div>
                    <form action="/my-company" method="POST" class="glass_effect_2 company_data_item">
                        <div class="div_display_license data_section">
                            <div class="div_display_license_row">
                                <div>Available Licenses</div>
                                <div id="bought_license"></div>
                            </div>
                            <div class="div_display_license_row">
                                <div>Licenses in Use</div>
                                <div id="used_licenses"></div>
                            </div>

                            <div class="div_display_license_row">
                                <div>Licenses Pending</div>
                            <input type="number" id="requested_license" name="requested_license" value='' readonly>
                            </div>
                            
                            
                        </div>
                        <div class="div_display_license btn_section">
                            <button id="add_license">+</button>
                            <button id="subtract_license">-</button>
                        </div>
                        <div class="div_display_license_row">
                            <div>Remove License Request</div>
                            <input type="number" id="remove_license" name="remove_license" value='' readonly>
                            </div>
                        
                        <div class="div_display_license btn_section">
                            <button id="add_remove_license">+</button>
                            <button id="subtract_remove_license">-</button>
                        </div>
                        <button id="casel_license_requests">Cancel License Request</button>
                        <br>
                        <button id = "submit_btn"type = "submit" class="btn_type_1">Submit</button>
                    </form>
                    <button style="width: calc(100% - 60px); margin: 40px 30px;font-size: 1.5em;" class="button_3" id="export_company_data">Export Data</button>

                     <!--form action="/my-company/export" method="POST" class="glass_effect_2 company_data_item">
                        <button style="width: 100%;" class="button_3">Export Data</button>
                    </form-->
                    <div class="glass_effect_2 container">
                        <div style="width: 100%; text-align: center;">My Accounts</div>
                        <div style="display: flex;">
                            <div style="width: 50%; text-align: center;">Credit</div>
                            <div style="width: 50%; text-align: center;">Debit</div>
                        </div>
                        <div style="display: flex;">
                            <div style="width: 50%; text-align: center;"><%=credit%> €</div>
                            <div style="width: 50%; text-align: center;"><%=debit%> €</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

       $(document).ready(function(){
            const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('message')) {
            if(urlParams.get('message')=="data-updated"){
                alert("Company Data Updated");
            }
            if(urlParams.get('message')=="company-status-1"){
                alert("Company Status Active");
            }
            if(urlParams.get('message')=="company-status-0"){
                alert("Company Status Deactivated");
            }
        }

        if($("#status").val()==1){
            $("#status_label").html("Active")
            $("#status_mark").addClass('active')
        }
       
            var requested_license = parseInt('<%= company.license.requested %>');
            var remove_license = 0;;

            if(requested_license == 0){
                $("#casel_license_requests").prop('disabled', true);
            }
            else if (requested_license < 0){
                remove_license = requested_license*(-1);
                requested_license = 0;
            }



            $("#requested_license").val(requested_license);
            if(requested_license == 0){
                $("#subtract_license").prop('disabled', true);
            }
            $("#remove_license").val(remove_license);
            if(remove_license == 0){
                $("#subtract_remove_license").prop('disabled', true);
            }
            var used_licenses = parseInt('<%= company.license.used %>');
            $("#used_licenses").text(used_licenses);
            var license_num = parseInt('<%= company.license.bought %>');
            $("#bought_license").text(license_num);
            
            if (urlParams.has('message')) {
                if(urlParams.get('message')=="rating_submitted_successfully"){
                    alert("Η αξιολόγηση καταχωρήθηκε με επιτυχία");
                }
            }
            $("#add_license").click(function(){
                event.preventDefault();
                if(remove_license > 0){
                    if (confirm("Έχετε καταχωρίσει αίτημα για αφαίρεση άδειας, να αντικατασταθεί από το αίτημα σας για προσθήκη νέας ?") == true) {
                        requested_license = requested_license + 1
                        $("#requested_license").val(requested_license);
                        $("#subtract_license").prop('disabled', false);
                        remove_license = 0;
                        $("#remove_license").val(remove_license);
                    }
                }
                else{
                    requested_license = requested_license + 1
                    $("#requested_license").val(requested_license);
                    $("#subtract_license").prop('disabled', false);
                }
            });

            $("#subtract_license").click(function(){
                event.preventDefault();
                requested_license = requested_license - 1
                $("#requested_license").val(requested_license);
                if(requested_license == 0){
                    $("#subtract_license").prop('disabled', true);
                }
                else if ($("#subtract_license").prop('disabled')) {
                    $("#subtract_license").prop('disabled', false);
                }
        
            });

            $("#add_remove_license").click(function(){
                event.preventDefault();
                if(requested_license > 0){
                    if (confirm("Έχετε καταχωρίσει αίτημα για νέες άδειες, να αντικατασταθεί από το αίτημα σας για αφαίρεση αδειών?") == true) {
                        remove_license = remove_license + 1
                        $("#remove_license").val(remove_license);
                        $("#subtract_remove_license").prop('disabled', false);
                        requested_license = 0;
                        $("#requested_license").val(requested_license);
                    }
                }
                else{
                    remove_license = remove_license + 1
                    $("#remove_license").val(remove_license);
                    $("#subtract_remove_license").prop('disabled', false);
                }
                
            });

            $("#subtract_remove_license").click(function(){
                event.preventDefault();
                remove_license = remove_license - 1
                $("#remove_license").val(remove_license);
                $("#subtract_remove_license").prop('disabled', false);
                if(remove_license == 0){
                    $("#subtract_remove_license").prop('disabled', true);
                }
                else if ($("#subtract_remove_license").prop('disabled')) {
                    $("#subtract_remove_license").prop('disabled', false);
                }
            });

            $("#back_btn").click(function(){
                window.location = "/"
            });

            $("#casel_license_requests").click(function(){
                event.preventDefault();
                if (confirm("Θέλετε να ακυρώσετε τα αιτήματα σας για άδειες ?") == true) {
                    requested_license = -1;
                    $("#requested_license").val(requested_license);
                    remove_license = -1;
                    $("#remove_license").val(remove_license);
                    $("#submit_btn").click();
                }
            });


            $("#export_company_data").click(async function () {

                    try {
                    var response = await fetch(`/my-company?action=export`);
                    const data = await response.json();

                    if (!data || data.length === 0) {
                        alert("No data to export.");
                        return;
                    }

                    const jsonString = JSON.stringify(data, null, 2);
                    const blob = new Blob([jsonString], { type: "application/json" });
                    const url = URL.createObjectURL(blob);

                    const a = document.createElement("a");
                    a.href = url;
                    a.download = `my_company_export_data.json`; // Name file based on user type
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                } catch (error) {
                    console.error("Export error:", error);
                    alert("Failed to export data.");
                }
                
            });
        });

    </script>

</html>