<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Οι Εταιρία Μου</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_company_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1><%= company.name %></h1>
        <img src="<%= company.logo %>" id="company_logo">
        <form action="/my-company" method="POST">
            <div id="display_license">
                <div>Διαθέσημες Άδιες</div>
                <input id="new_license" name="new_license" value=''>
                <div>Άδιες Σε χρήση</div>
                <div id="users_num"></div>
            </div>
            <div id="edit_license">
                
                <button id="add_license">+</button>
                <button id="subtract_license">-</button>
                <button type = "submit">Υποβολή</button>
            </div>
        </form>
        
        
        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>

       $(document).ready(function(){
            const urlParams = new URLSearchParams(window.location.search);
            var license_num = parseInt('<%= company.license_num %>');
            $("#new_license").val(license_num);
            var users_num = '<%= company.users_num %>';
            $("#users_num").text(users_num);
            
            if (urlParams.has('message')) {
                if(urlParams.get('message')=="rating_submitted_successfully"){
                    alert("Η αξιολόγηση καταχωρήθηκε με επιτυχία");
                }
            }
            $("#add_license").click(function(){
                event.preventDefault();
                license_num = license_num + 1
                $("#new_license").val(license_num);
            });

            $("#subtract_license").click(function(){
                event.preventDefault();
                if($("#new_license").val() == '<%= company.users_num %>'){
                    alert('έχετε ήδη τόσους χρήστες απενεργοποιήστε χρήστες πρώτα')
                }
                else{
                    license_num = license_num - 1
                    $("#new_license").val(license_num);
                }
                
            });

            $("#back_btn").click(function(){
                window.location = "/"
            });
        });

    </script>

</html>