<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Επιλογή Λογιστή</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="pick_accountant_css.css">
        <link rel="stylesheet" href="buttons_css.css">
        <link rel="stylesheet" href="table_css.css">


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div>
                <h1>Επιλογή Λογιστή</h1>
                <!--form action="/self-accountant-register" method="POST">
                    <button style="display: none;" type="submit" id="self_accountant_submit_btn">Αυτοδιαχείριση λογιστικών</button>
                    </form-->
                <button style="margin-bottom: 20px;" type="button" class="button_1" id="self_accountant_btn">Αυτοδιαχείριση λογιστικών</button>

                <div class="table_container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(a of accountants){%>
                            <tr class="glass_effect_2" id="<%= a.accountant._id %>">
                                <th><%= a.accountant.lastName + ' ' + a.accountant.firstName %></th>
                                <th><%= a.average_rating %></th>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>

                <form action="/pick-accountant" method="POST" id="pick_accountant_form">
                <input style="display: none;" name="accountant_id" id="accountant_id">

                <button style="display: none;" type="submit" id="accountant_id_submit_btn">Submit</button>
                </form>

                <div id="accountan_table">
                </div>

            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){

            if('<%=company_node.company%>' == '<%=company_node.receiver_id%>' && "<%=company_node.company%>" != "-"){
                    $("#self_accountant_btn").prop("disabled", true);
                }

            if (window.location.search.includes("?")) {
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('message')) {
                    const url_message = urlParams.get('message');
                    if (url_message === "success_send_req_to_accountant") {
                        alert("Request Sent");
                    } else if (url_message === "success_cancel_req_to_accountant") {
                        alert("Request Canceled");
                    }
                }
            }

            $("#back_btn").click(function(){
                    window.location ="/"
            });
            $("#self_accountant_btn").click(function(){
                if (confirm("By choosing the self accounting option you are automatically\nfiring your accountant") == true) {
                    $("#accountant_id").val('self-accountant')
                    $("#pick_accountant_form").submit();
                }
            });

            $(".glass_effect_2").click(function(){
                window.location ="preview-accountant?id="+$(this).attr('id');
            })
        });
        
    </script>
</html>