<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Επιλογή Λογιστή</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="pick_accountant_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>Επιλογή Λογιστή</h1>
        <form action="/self-accountant-register" method="POST">
            <button type="button" id="self_accountant_btn">Αυτοδιαχείριση λογιστικών</button>
            <button style="display: none;" type="submit" id="self_accountant_submit_btn">Αυτοδιαχείριση λογιστικών</button>
            </form>
        <form action="/pick-accountant" method="POST">
        <input style="display:none" name="accountant_id" id="accountant_id">

        <button style="display:none" type="submit" id="accountant_id_submit_btn">Submit</button>
        </form>

        <div id="accountan_table">
        </div>

        <button id="back_btn">Πίσω</button>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){
            if('<%=company.companyaccountant.status%>' == 'self_accountant'){
                $("#self_accountant_btn").prop("disabled", true);
            }

            if (window.location.search.includes("?")) {
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('message')) {
                    const url_message = urlParams.get('message');
                    if (url_message === "success_send_req_to_accountant") {
                        alert("Request Sent");
                    } else if (url_message === "success_cancel_req_to_accountant") {
                        alert("Request Canceled");
                    }
                }
            }

            $("#back_btn").click(function(){
                    window.location ="/"
            });
            $("#self_accountant_btn").click(function(){
                if (confirm("By choosing the self accounting option you are automatically\nfiring your accountant") == true) {
                    $("#self_accountant_submit_btn").click();
                }
            });

            
            if(parseInt('<%= accountants.length%>') == 0){
                alert("Δεν υπάρχουν διαθέσιμοι Λογιστές")
            }
            else{
                const ratings = JSON.parse(`<%- JSON.stringify(ratings) %>`);

                const accountantsJSON = `<%- JSON.stringify(accountants) %>`;
                const accountantsArray = JSON.parse(accountantsJSON);

                const accountantListDiv = $("#accountan_table");

                var count = 0;
                accountantsArray.forEach(accountant => {
                    const accountantElement = $("<div>").addClass("accountant_element");
                    const accountantElement_accountant_name = $("<div>").text(accountant.firstName + " " + accountant.lastName);
                    const accountantElement_accountant_rating = $("<div>").text(" . . . . . . . av_rating : " + ratings[count]);

                    accountantElement.append(accountantElement_accountant_name);
                    accountantElement.append(accountantElement_accountant_rating);

                    const buttonElement = $("<button>").text("Προφίλ").addClass("accountant_button").click(function() {
                        $("#accountant_id").val(accountant._id);
                        $("#accountant_id_submit_btn").click();
                    });
                    // Append the button element as a child of the accountantElement
                    accountantElement.append(buttonElement);
                    
                    accountantListDiv.append(accountantElement, "<br>");

                    count = count + 1;
                });
            }
        });
        
    </script>
</html>