<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Προεπισκόπηση Λογιστή</title>
        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="my_accountant_css.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>Προεπισκόπηση Λογιστή </h1>
        <div id="accountant-info-div" name="accountant-info-div">
            <h2>Info</h2>

            <form class="display_block" action="/preview-accountant" method="POST" >
                <label for="firstName">Όνομα : <%= accountant.firstName %> <%= accountant.lastName %></label>
                <label for="email">Email : <%= accountant.email %></label>
                <input style="display: none;" type="text" id="user_action" name="user_action">
                <button style="display: none;" type="submit" id="submit_preview_accountant">submit</button>
            </form>
            <button id="request_bnt">Αποστολή Αιτίματος</button>
            <button id="cansel_request_bnt">Ακύρωση Αιτίματος</button>
            <button id="back_btn">Πίσω</button>
        </div>
        <hr>
        <div id="rating-div" name="rating-div">
            <h2>Reviews and Comments</h2>
            <div id="reviews_div">

            </div>
        </div>
    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){
            if (window.location.search.includes("?")) {
                const url_message = getParameterByName('message');
                if(url_message == "success_send_req_to_accountant"){
                    alert("Request Sent")
                }
                else if(url_message == "success_send_req_to_accountant"){
                    alert("Request Canceled")
                }
            }


            $("#back_btn").click(function(){
                    window.location ="/pick-accountant"
            });
            const company_accountant ={
                id: '<%= company.companyaccountant.id %>',
                status: '<%= company.companyaccountant.status %>'
            };
            console.log(company_accountant)

            if(company_accountant.id != 'not_assigned'){
                if(company_accountant.id == "<%= accountant._id %>"){
                    if(company_accountant.status == "pending"){
                        $("#request_bnt").hide();
                        $("#cansel_request_bnt").show();
                    }
                    else{
                        $("#request_bnt").show();
                        $("#cansel_request_bnt").hide();
                    }
                }
            }
            else{
                $("#request_bnt").show();
                $("#cansel_request_bnt").hide();
            }



            $("#request_bnt").click(function(){
                
                if("pending" == company_accountant.status){
                    /*var result = confirm("You have already sent a request to another accountant do you want to cacsel the previous?");
                    if (result) {
                        $("#user_action").val("sent_request")
                        $("#submit_preview_accountant").click()
                    }*/
                }
                else{
                    $("#user_action").val("sent_request")
                    $("#submit_preview_accountant").click()
                }
            });
            $("#cansel_request_bnt").click(function(){
                $("#user_action").val("cancel_request")
                $("#submit_preview_accountant").click()
            });
            const reviews = JSON.parse(`<%- JSON.stringify(reviews) %>`);

            const reviews_div = $("#reviews_div");

            reviews.forEach(review => {
                const review_div = $("<div>").addClass("preview_review");
                const stars_div = $("<div>");
                const date_review_div = $("<div>").text(review.registrationDate);
                review_div.append(date_review_div);
                // Adding 5 buttons to stars_div
                for (let i = 1; i <= 5; i++) {
                    var star_button = $("<button>").addClass("star_btn star_selected");
                    if(i<= review.rating){
                        star_button = $("<button>").addClass("star_btn star_selected");
                    }
                    else{
                        star_button = $("<button>").addClass("star_btn");
                    }
                    
                    stars_div.append(star_button);
                    const star_i = $("<i>").addClass("fa-solid fa-star");
                    star_button.append(star_i);
                }
                const text_review_div = $("<div>").text(review.text);
                review_div.append(stars_div);
                review_div.append(text_review_div)

                reviews_div.append(review_div);
            });

        });
        
    </script>

</html>