<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>U Main Page</title>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <%- include('../partials/header'); %>
    </head>
    <body>
        <h1>User main page</h1>
        <h2>Welcome Username</h2>

        <button id='my_accountant'>Ο Λογιστής Μου</button>
        <button id='my_company'>Οι Εταιρία Μου</button>

    </body>
    <%- include('../partials/footer'); %>
    <script>
        $(document).ready(function(){
            $("#my_accountant").click(function(){
                if('<%= company.accountant%>' == 'not_assigned' || '<%= user.companyOwner %>' == '0'){
                    alert("You need elevated rights to hire an accountant");
                }
                else{
                    window.location ="my-accountant"
                }
                
            });
            $("#my_company").click(function(){
                window.location ="my-company"
            });

            if('<%= user.companyOwner %>' == '0'){
                $("#my_company").hide();
            }
        });
      </script>

</html>