<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Transfer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="logo.svg">

        <!-- fontawesome for icons -->
        <script src="https://kit.fontawesome.com/d2c306d566.js" crossorigin="anonymous"></script>
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!--CSS-->
        <link rel="stylesheet" href="general_css.css">
        <link rel="stylesheet" href="fonts_css.css">
        <link rel="stylesheet" href="my_select_css.css">
        <link rel="stylesheet" href="buttons_css.css">
        <link rel="stylesheet" href="table_css.css">
        <link rel="stylesheet" href="create_doc_css.css" />
        <link rel="stylesheet" href="my_scrollbar_css.css" />

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap" rel="stylesheet" />


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../partials/header'); %>
    </head>
    <style>
        th, td {
        width: 50%;
        text-align: left;
        padding: 8px;
    }
    </style>
    <body>
        <div class="has_sidebar">
            <%- include('../partials/sidebar'); %>
            <div  class="has_sidebar_main_content">
            <div class="asap-condensed-regular">
                <h1>Transfer</h1>
                <form action="/view/transfers" method="POST">
                    <input type="text" name="id" value="<%=doc._id%>" style="display: none;">
                    <div class="glass_effect_2 container asap-condensed-regular">
                        <div style="display: grid; grid-template-columns: 49% 49%; gap:2%">
                            <div>
                                <label style="width: 100%;" class="my_label_1">Doc : <%=name%></label><br>
                                
                                <label for="from_w_select" class="my_label_1">From</label>
                                <select id="from_w_select" class="my_select type1" name="from_select">
                                    <option value="-">-</option>
                                    <%for(w of locations){%>
                                        <option value="<%=w._id%>"><%=w.name%></option>
                                    <%}%>
                                </select>
                            </div>
                            <div>
                                <label style="width: 100%;" class="my_label_1">Reg Date : <%=reg_date%></label><br>

                                <label for="to_w_select" class="my_label_1">To</label>
                                <select id="to_w_select" class="my_select type1" name="to_select">
                                    <option value="-">-</option>
                                    <%for(w of locations){%>
                                        <option value="<%=w._id%>"><%=w.name%></option>
                                    <%}%>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="table_container" style="margin-left: 40px;width: calc(100% - 40px);">
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="doc_tbody">
                            </tbody>
                        </table>
                    </div>
                    <input type="number" id="count" name="count" value="0" style="display: none;">
                    <div style="display: flex;justify-content: space-around;margin-top: 40px;">
                        <button type="submit" style="width: 30%;" class="button_3">Save</button>
                        <button style="width: 30%;" id="print_btn" class="button_5">Print</button>
                    </div>
                </form>
                <div id = history_container class="my_scrollbar">
                    <% for (h of history){%>
                      <div class="doc_history_point">
                        <div class="history_container_reg_date"><%=h.registrationDate%></div>
                        <div id="<%=h._id%>" class="doc_history_point_doc_data">
                          <div><%=h.name%></div>
                          <div><%=h.user%></div>
                        </div>
                      </div>
                    <%}%>
                  </div>
            </div>

            <div id="print_doc" style="display: none;">
                <div  style="width:calc(100%-100px);background-color: white;padding: 50px;">
                    <div style="display:grid;grid-template-columns: 30% 70%;">
                        <img id="print_img" height="100px" width="100px" src="">
                        <div>
                            <p style="font-weight: bold;font-size: 1.5em;" id="print_company_name"></p>
                        </div>
    
                    </div>
                    
                    <p style="text-align: center;"><strong>Transfer Document</strong></p>
                    <p>Date : <span id="print_date">DD/MM/YYYY</span></p>
                    <p>From : <span id="print_from"></span></p>
                    <p>To : <span id="print_to"></span></p>
                    <p style="text-align: right;">Total Quantity : <span id="print_total_q"></span></p>
                    <div id="print_data" style="display: grid;grid-template-columns: 5% 85% 10%;">
                        <div style="border: solid black 1px;text-align:center"><strong>A/A</strong></div>
                        <div style="border: solid black 1px;text-align:center"><strong>Item</strong></div>
                        <div style="border: solid black 1px;text-align:center"><strong>Quantity</strong></div>
                    </div>
                    
                </div>
            </div>
            <iframe id="printiframe" style="display: none;" >
            </iframe>
        </div>

    </div>
</div>
    </body>
    <script>
        var count = 0;
        var items = JSON.parse(`<%- JSON.stringify(items) %>`);
        var doc = JSON.parse(`<%- JSON.stringify(doc) %>`);
        var secondary_data = JSON.parse(`<%- JSON.stringify(secondary_data) %>`);
        console.log(secondary_data)
        const params = new URLSearchParams(window.location.search);


        function print_doc(data){
            $("#print_img").attr("src", data.company.logo);
            $("#print_company_name").text(data.company.name);
            $("#print_date").text(data.date);
            $("#print_from").text(data.doc_from.title);
            $("#print_to").text(data.doc_to.title);
            var print_data = $("#print_data");
            var total_quantity = 0;
            for( row of data.doc_lines){
                print_data.append(`<div style="border: solid black 1px;text-align:center">${data.doc_lines.indexOf(row) + 1}</div>`);
                print_data.append(`<div style="border: solid black 1px">${row.title}</div>`);
                print_data.append(`<div style="border: solid black 1px;text-align:center">${row.quantity} ${row.unit_of_measurement}</div>`);
                total_quantity = total_quantity + parseInt(row.quantity);
            }
            
            $("#print_total_q").text(total_quantity);
        }

        
        $("#from_w_select").val(doc.warehouse);
        $("#to_w_select").val(doc.receiver);

        for( row of doc.invoiceData){
            create_row();
            var index = count;
            $("#item_select_" + index).val(row.lineItem);
            $("input[name='item_q_" + index + "']").val(row.quantity);
        }

        function create_row(){
            count = count + 1;
            var options = items.map(item => `<option value="${item._id}">${item.title}</option>`).join('');
            var row =
            `<tr class="glass_effect_2" id="row_${count}">
                <th>
                    <select id="item_select_${count}" class='item_select' name="item_select_${count}">
                        <option value="-">-</option>
                        ${options}
                    </select>
                </th>
                <th>
                    <input type="number" name="item_q_${count}" value="0" min="0" step="1">
                </th>
            </tr>`;
            $("#doc_tbody").append(row);
            $("#count").val(count)
        }


        $(document).ready(function(){
            create_row();
            print_doc(JSON.parse(`<%- JSON.stringify(secondary_data) %>`));
            $(document).on("change", ".item_select", function(){
                if($(this).val() == "-"){
                    var index = $(this).attr('id').split('_')[2];
                    $('#row_' + index).remove();
                } else {
                    create_row();
                }
            });

            $("#print_btn").click(function(event){
                event.preventDefault();
                var print_document = create_form({
                    company_name: secondary_data.company.name,
                    date: secondary_data.date,
                    doc: doc,
                    series: secondary_data.acronym,
                    from: secondary_data.doc_from,
                    to: secondary_data.doc_to,
                    company: secondary_data.company,
                    doc_lines:secondary_data.doc_lines,
                    type : 2
                });
                var iframe = $("#printiframe");
                iframe.attr("srcdoc",print_document ); // Set srcdoc using jQuery
                iframe.on("load", function () {
                    this.contentWindow.focus();
                    this.contentWindow.print();
                });
            });

            $(".doc_history_point_doc_data").each(function () {
                const parentElement = $(this).parent();
                // Check if the current element's ID matches the target doc._id
                if ($(this).attr("id") === doc._id) {
                // Add the desired class to the parent
                $(this).addClass("glass_effect_2");
                parentElement.addClass("current_doc");

                // Scroll to center the current document
                $("#history_container")[0].scrollTo({
                    left:
                    this.offsetLeft -
                    $("#history_container").width() / 2 +
                    $(this).outerWidth() / 2,
                    behavior: "smooth",
                });
                } else {
                    // Add the default class to other parents
                    $(this).addClass("glass_effect_1");
                }
            });

            $('.doc_history_point_doc_data').click(function(event){
                window.location = '/view?type=transfers&id='+$(this).attr('id')+'&type2=3'
            })
        });


    </script>

</html>